Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:green_heart: Update postchangeset script
  package.json
  scripts/postchangeset.cjs
Due: prettier --write

4.0.4
  package.json
Due: prettier --write

:green_heart: Clean up postchangeset script
  scripts/postchangeset.cjs
Due: none

:green_heart: Clean up postchangeset some more
  scripts/postchangeset.cjs
Due: none

:arrow_down: Added Discord action for notifications
  .github/workflows/release.yml
Due: none

🤖 (auto-commit) preparing packages for changeset
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/search-list/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
  packages/templates/explorer-detail/package.json
  packages/templates/explorer-homepage/package.json
  packages/templates/explorer-list/package.json
Due: prettier --write

:green_heart: ignoring dependabot branches
  .github/workflows/ci.yml
Due: none

:bookmark: Release 4.0.4
  .changeset/slimy-planes-sip.md
Due: none

deploy: cc4fdc384cae5d491f1da070cdf3f067f77d3a99
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
  docs/index.html
Due: none

deploy: 23f15a326805cc229773e54aad15d74d14b631c0
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
  docs/index.html
Due: none

:pencil: Fix grammar
  readme.md
Due: none

:fire: Remove extra babel config file
  .babelrc
Due: none

:green_heart: Point dependabot to develop branch
  .github/dependabot.yml
  .github/workflows/release.yml
Due: none

:bug: FileUpload input fix
  packages/molecules/file-upload/FileUpload.svelte
Due: eslint --fix, prettier --write

:sparkles: RichText context for Accordion UI Kit component
  packages/atoms/rich-text/RichText.svelte
  packages/helpers/contexts.js
  packages/organisms/accordion/Accordion.svelte
  packages/organisms/accordion/styles.css
  storybook/stories/organisms/accordion/Accordion.stories.svelte
Due: eslint --fix, prettier --write

:package: Update dependencies to latest
  examples/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

deploy: e47fa4d6c7bfe0403834dfbc50e2d59c1c00e2d8
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
  docs/index.html
  docs/internal/assets/index-37e14080.css
  docs/internal/assets/index-8a9a3a52.css
  docs/internal/chunks/Content-3a07bec6.js
  docs/internal/chunks/Content-c6832515.js
  docs/internal/chunks/Footer-4e51f019.js
  docs/internal/chunks/RichText-4664fe47.js
  docs/internal/chunks/RichText-e1079322.js
  docs/internal/chunks/Sidebar-768a5cbd.js
  docs/internal/chunks/Sidebar-ded50c7e.js
  docs/internal/chunks/index-34f3639a.js
  docs/internal/chunks/index-c5623264.js
  docs/internal/chunks/sizes-430d7b1e.js
  docs/internal/chunks/sizes-ebd618a4.js
  docs/internal/chunks/states-cedb750f.js
  docs/internal/pages/__layout.svelte-7a9df94a.js
  docs/internal/pages/__layout.svelte-d8b48f88.js
  docs/internal/pages/components/[group]/[package]/[component]/index.svelte-174df494.js
  docs/internal/pages/components/[group]/[package]/[component]/index.svelte-e4ae0c6c.js
  docs/internal/pages/components/[group]/__layout.svelte-3ef329f0.js
  docs/internal/pages/components/[group]/__layout.svelte-efc34e41.js
  docs/internal/pages/helpers/[helper]/index.svelte-66bfb3f3.js
  docs/internal/pages/helpers/[helper]/index.svelte-7a5a6e9c.js
  docs/internal/pages/helpers/__layout.svelte-be6cf0e6.js
  docs/internal/pages/helpers/__layout.svelte-e5bababb.js
  docs/internal/pages/helpers/index.svelte-0485f3d9.js
  docs/internal/pages/helpers/index.svelte-c44ae9cf.js
  docs/internal/pages/index.svelte-a09d2e2d.js
  docs/internal/pages/index.svelte-e63b8309.js
  docs/internal/start-d6c4ca7d.js
  docs/internal/start-e6fbca96.js
Due: eslint --fix, prettier --write

deploy: e47fa4d6c7bfe0403834dfbc50e2d59c1c00e2d8
  storybook/assets/Color.01d59456.js
  storybook/assets/Color.01d59456.js.map
  storybook/assets/Color.d5e50ac6.js
  storybook/assets/Color.d5e50ac6.js.map
  storybook/assets/GlobalScrollAreaStyles.26f1c494.js
  storybook/assets/GlobalScrollAreaStyles.26f1c494.js.map
  storybook/assets/GlobalScrollAreaStyles.740cd6c2.js
  storybook/assets/GlobalScrollAreaStyles.740cd6c2.js.map
  storybook/assets/OverlayScrollbars.e7e4ef70.js
  storybook/assets/OverlayScrollbars.e7e4ef70.js.map
  storybook/assets/OverlayScrollbars.e9eab681.js.map
  storybook/assets/WithTooltip.80c5cd03.js
  storybook/assets/WithTooltip.80c5cd03.js.map
  storybook/assets/WithTooltip.de5b1599.js
  storybook/assets/WithTooltip.de5b1599.js.map
  storybook/assets/iframe.080af1be.js
  storybook/assets/iframe.080af1be.js.map
  storybook/assets/iframe.54ef4bad.css
  storybook/assets/iframe.8ceb1fb6.css
  storybook/assets/iframe.ea0fcfaf.js
  storybook/assets/iframe.ea0fcfaf.js.map
  storybook/assets/syntaxhighlighter.b17de510.js.map
  storybook/assets/syntaxhighlighter.ebfab0fb.js
  storybook/assets/syntaxhighlighter.ebfab0fb.js.map
  storybook/assets/vendor.49894b6d.js.map
  storybook/assets/vendor.4c8fa52f.js
  storybook/assets/vendor.4c8fa52f.js.map
  storybook/iframe.html
Due: eslint --fix, prettier --write

:arrow_up: Upgrade workspace dependencies to latest
  package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: prettier --write

:building_construction: Update build to prefetch all routes
  _templates/generator/help/index.ejs.t
  _templates/generator/new/hello.ejs.t
  _templates/generator/with-prompt/hello.ejs.t
  _templates/generator/with-prompt/prompt.js
  docs/src/routes/components/index.svelte
  docs/svelte.config.js
  meta/index.cjs
  packages/atoms/rich-text/RichText.svelte
  packages/organisms/footer/Maximal.svelte
Due: eslint --fix, prettier --write

:bug: Fix icon state change in Navbar dark mode
  packages/organisms/navbar/menu/A11yMenu.svelte
Due: eslint --fix, prettier --write

:bug: FileUpload docs example fix
  examples/package.json
  examples/pnpm-lock.yaml
  examples/src/molecules/file-upload/FileUpload_01.svelte
  package.json
  packages/molecules/control/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/molecules/file-upload/README.md
Due: none

:dizzy: Add transition animation to SearchList results
  packages/molecules/control/styles.css
  packages/organisms/search-list/SearchList.svelte
  packages/organisms/search-list/styles.css
Due: eslint --fix, prettier --write

:art: updating SearchList styles
  packages/organisms/search-list/styles.css
Due: none

:sparkles: Upgrade Table to support multiple instances
  packages/organisms/table/Row.svelte
  packages/organisms/table/Table.svelte
  packages/organisms/table/context.js
  packages/organisms/table/index.js
  packages/organisms/table/key.js
  packages/organisms/table/stores/columns.js
  packages/organisms/table/stores/data.js
  packages/organisms/table/stores/filters.js
  packages/organisms/table/stores/options.js
  packages/organisms/table/stores/state.js
  packages/organisms/table/styles.css
  packages/organisms/table/table.js
Due: eslint --fix, prettier --write

:pencil: Update examples to show new Table format
  examples/package.json
  examples/pnpm-lock.yaml
  examples/src/organisms/table/Table_01.svelte
  examples/src/organisms/table/data.js
Due: eslint --fix, prettier --write

:wrench: Update config to not optimise Table
  docs/package.json
  docs/svelte.config.js
Due: eslint --fix, prettier --write

:pencil: Update Storybook for new Table API
  meta/package.json
  pnpm-lock.yaml
  storybook/.storybook/main.js
  storybook/stories/organisms/table/Table.stories.svelte
Due: eslint --fix, prettier --write

:ambulance: Fix failing Pagination test
  packages/molecules/pagination/Pagination.test.js
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/table/README.md
Due: none

:bookmark: Release 4.0.6
  .changeset/witty-doors-sneeze.md
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
