Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: 🔧 changing dependencies to fix build issue
  package.json
  packages/styles/package.json
  yarn.lock
Due: prettier --write

refactor: ♻️ upgrated to postcss 8 and other svelte next snowpack preps
  .storybook/main.js
  package.json
  packages/organisms/cookie-banner/styles.css
  packages/organisms/navbar/styles.css
  packages/styles/dusk.tailwind.config.js
  packages/styles/package.json
  packages/styles/snowpack-plugin-duk.js
  packages/styles/snowpack.config.js
  packages/styles/tailwind.css
  packages/styles/tailwind.pcss
  postcss.config.js
  yarn.lock
Due: eslint --fix, prettier --write

docs: 📚️ cleaned up docs and examles for storybook
  packages/atoms/button/styles.css
  packages/atoms/card/styles.css
  packages/atoms/date-picker/storybook-views/Default.svelte
  packages/atoms/text-field/styles.css
  packages/molecules/control/styles.css
  packages/organisms/footer/styles.css
  packages/organisms/navbar/storybook-views/Default.svelte
  packages/pages/kitchen-sink/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

chore: 🔧 changed global css path
  rollup.config.js
Due: eslint --fix, prettier --write

chore: 🔧 removed tailwind purge option for now
  .storybook/main.js
  package.json
  packages/styles/dusk.tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: 🐛 add yarn install to github action
  .github/workflows/storybook-publish.yml
Due: none

fix: 🐛 fix for lerna publish
  .github/workflows/storybook-publish.yml
Due: none

fix: 🐛 fix wrong env definition in action
  .github/workflows/storybook-publish.yml
Due: none

fix: 🐛 add sudo to git install step
  .github/workflows/storybook-publish.yml
Due: none

fix: 🐛 add sudo to the sedcond part of git install command
  .github/workflows/storybook-publish.yml
Due: none

fix: 🐛 add NPM_TOKEN to action workflow
  .github/workflows/storybook-publish.yml
Due: none

fix: 🐛 add NPM_CONFIG_REGISTRY to workflow
  .github/workflows/storybook-publish.yml
Due: none

chore: 🔧 trying GPR publishing instead of custom NPM
  .github/workflows/storybook-publish.yml
  package.json
Due: prettier --write

chore: 🔧 altered config for GPR
  .github/workflows/storybook-publish.yml
Due: none

chore: 🔧 config update
  .github/workflows/storybook-publish.yml
Due: none

chore: 🔧 reverting back to master branch for config
  .github/workflows/storybook-publish.yml
Due: none

chore: 🔧 removed licence fields from package
  packages/atoms/button/package.json
  packages/atoms/card/package.json
  packages/atoms/checkbox/package.json
  packages/atoms/date-picker/package.json
  packages/atoms/icon/package.json
  packages/atoms/list/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/radio/package.json
  packages/atoms/switch/package.json
  packages/atoms/table/package.json
  packages/atoms/text-field/package.json
  packages/elements/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/control/package.json
  packages/molecules/dialog/package.json
  packages/molecules/menu/package.json
  packages/organisms/drawer/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/navbar/package.json
  packages/styles/package.json
  packages/templates/one-column/package.json
  packages/templates/three-column/package.json
  packages/templates/two-column/package.json
Due: prettier --write

updated this one too
  packages/organisms/cookie-banner/package.json
Due: prettier --write

chore: 🔧 bumped cookier banner version
  .github/workflows/storybook-publish.yml
  packages/organisms/cookie-banner/package.json
Due: prettier --write

chore: 🔧 updated lerna config
  .depcheckrc
  lerna.json
Due: prettier --write

chore: 🔧 changed repository field in package
  package.json
Due: prettier --write

added licence file
  LICENSE
Due: none

chore: 🔧 caching to speed up build time
  .github/workflows/storybook-publish.yml
  LICENSE.md
Due: none

chore: 🔧 fixing yml syntax
  .github/workflows/storybook-publish.yml
Due: none

chore: 🔧 added repo details to packages
  packages/atoms/button/package.json
  packages/atoms/card/package.json
  packages/atoms/checkbox/package.json
  packages/atoms/date-picker/package.json
  packages/atoms/icon/package.json
  packages/atoms/list/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/radio/package.json
  packages/atoms/switch/package.json
  packages/atoms/table/package.json
  packages/atoms/text-field/package.json
  packages/elements/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/control/package.json
  packages/molecules/dialog/package.json
  packages/molecules/menu/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/drawer/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/navbar/package.json
  packages/styles/package.json
  packages/templates/one-column/package.json
  packages/templates/three-column/package.json
  packages/templates/two-column/package.json
Due: prettier --write

chore: 🔧 updating package name inline with GPR
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/text-field/package.json
  packages/elements/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/control/package.json
  packages/molecules/dialog/package.json
  packages/molecules/menu/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/drawer/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/navbar/package.json
  packages/styles/package.json
  packages/templates/one-column/package.json
  packages/templates/three-column/package.json
  packages/templates/two-column/package.json
Due: prettier --write

chore: 🔧 updating package names
  packages/atoms/button/package.json
  packages/atoms/card/package.json
  packages/atoms/checkbox/package.json
  packages/atoms/date-picker/package.json
  packages/atoms/list/package.json
  packages/atoms/logo/package.json
  packages/atoms/radio/package.json
  packages/atoms/switch/package.json
  packages/atoms/table/package.json
Due: prettier --write

chore: 🔧 changing more package refs over
  packages/atoms/button/Button.stories.js
  packages/atoms/button/Button.svelte
  packages/atoms/button/Group.svelte
  packages/atoms/button/Label.svelte
  packages/atoms/button/readme.stories.md
  packages/atoms/button/storybook-views/Icon.svelte
  packages/atoms/card/Actions.svelte
  packages/atoms/card/Card.stories.js
  packages/atoms/card/Card.svelte
  packages/atoms/card/Content.svelte
  packages/atoms/card/Footer.svelte
  packages/atoms/card/Title.svelte
  packages/atoms/card/storybook-views/Actions.svelte
  packages/atoms/checkbox/Checkbox.stories.js
  packages/atoms/checkbox/Checkbox.svelte
  packages/atoms/date-picker/DatePicker.stories.js
  packages/atoms/date-picker/DatePicker.svelte
  packages/atoms/icon/Icon.stories.js
  packages/atoms/icon/Icon.svelte
  packages/atoms/list/Item.svelte
  packages/atoms/list/List.stories.js
  packages/atoms/list/List.svelte
  packages/atoms/list/storybook-views/Icon.svelte
  packages/atoms/loading-indicator/LoadingIndicator.stories.js
  packages/atoms/loading-indicator/LoadingIndicator.svelte
  packages/atoms/logo/Logo.stories.js
  packages/atoms/logo/Logo.svelte
  packages/atoms/radio/Radio.stories.js
  packages/atoms/radio/Radio.svelte
  packages/atoms/switch/Switch.stories.js
  postcss.config.js
  readme.md
Due: eslint --fix, prettier --write

chore: 🔧 fixing sb:build
  .github/workflows/storybook-publish.yml
  packages/atoms/switch/Switch.svelte
  packages/templates/one-column/OneColumn.stories.js
  packages/templates/three-column/ThreeColumn.stories.js
  packages/templates/two-column/TwoColumn.stories.js
Due: eslint --fix, prettier --write

feat: ✨ support for rollup v2
  .storybook/main.js
  packages/styles/rollup-plugin-duk.js
Due: eslint --fix, prettier --write

fix: 🐛 corrected paths for storybook css import
  .storybook/preview.js
  rollup.config.js
Due: eslint --fix, prettier --write

chore: 🔧 adding a static dir for build purposes
  static/.gitkeep
Due: none

chore(release): publish
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: prettier --write

feat: ✨ added a cta molecule and removed templates and pages
  .storybook/preview.js
  packages/organisms/cta/Cta.stories.js
  packages/organisms/cta/Cta.svelte
  packages/organisms/cta/index.js
  packages/organisms/cta/package.json
  packages/organisms/cta/readme.stories.md
  packages/organisms/cta/storybook-views/Default.svelte
  packages/organisms/cta/styles.css
  packages/organisms/navbar/styles.css
  packages/pages/kitchen-sink/KitchenSink.stories.js
  packages/pages/kitchen-sink/storybook-views/Default.svelte
  packages/styles/tailwind.css
  packages/templates/one-column/CHANGELOG.md
  packages/templates/one-column/OneColumn.svelte
  packages/templates/one-column/index.js
  packages/templates/one-column/package.json
  packages/templates/one-column/readme.stories.md
  packages/templates/one-column/storybook-views/Default.svelte
  packages/templates/three-column/CHANGELOG.md
  packages/templates/three-column/ThreeColumn.stories.js
  packages/templates/three-column/ThreeColumn.svelte
  packages/templates/three-column/index.js
  packages/templates/three-column/package.json
  packages/templates/three-column/readme.stories.md
  packages/templates/three-column/storybook-views/Default.svelte
  packages/templates/two-column/CHANGELOG.md
  packages/templates/two-column/TwoColumn.stories.js
  packages/templates/two-column/TwoColumn.svelte
  packages/templates/two-column/index.js
  packages/templates/two-column/readme.stories.md
  packages/templates/two-column/storybook-views/Default.svelte
  packages/templates/views/blog/ContentPreview.svelte
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
