Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:pencil: Add DevopsDashboard page story
  storybook/stories/pages/devops/_Footer.svelte
  storybook/stories/pages/devops/_Navbar.svelte
  storybook/stories/pages/devops/devops-dashboard/DevopsDashboard.stories.svelte
Due: eslint --fix, prettier --write

:rewind: Adding SearchList contexts back
  packages/helpers/contexts.js
  packages/molecules/control/Control.svelte
Due: eslint --fix, prettier --write

:white_check_mark: Fix broken test
  packages/atoms/date-text/DateText.svelte
Due: eslint --fix, prettier --write

:construction: Start WorldMap component
  packages/helpers/charts.js
  packages/helpers/index.js
  packages/molecules/chart/Chart.svelte
  packages/molecules/chart/Chart.test.js
  packages/molecules/chart/charts/WorldMap.svelte
  packages/molecules/chart/charts/data/countries.json
  packages/molecules/chart/charts/index.js
  packages/molecules/chart/index.js
  packages/molecules/chart/package.json
  packages/molecules/chart/styles.css
  storybook/package.json
  storybook/stories/molecules/chart/Chart.stories.svelte
Due: eslint --fix, prettier --write

:fire: Disable Jest
  storybook/.storybook/main.js
  storybook/stories/atoms/address/Address.stories.svelte
  storybook/stories/atoms/date-text/DateText.stories.svelte
  storybook/stories/atoms/drop-down/DropDown.stories.svelte
  storybook/stories/atoms/icon/Icon.stories.svelte
  storybook/stories/atoms/loading-indicator/LoadingIndicator.stories.svelte
  storybook/stories/atoms/logo/Logo.stories.svelte
  storybook/stories/atoms/progress-bar/ProgressBar.stories.svelte
  storybook/stories/atoms/rich-text/RichText.stories.svelte
  storybook/stories/atoms/text-field/TextField.stories.svelte
  storybook/stories/atoms/toggle/Toggle.stories.svelte
  storybook/stories/atoms/truncate-text/TruncateText.stories.svelte
  storybook/stories/molecules/alert/Alert.stories.svelte
  storybook/stories/molecules/breadcrumb/Breadcrumb.stories.svelte
  storybook/stories/molecules/button/Button.stories.svelte
  storybook/stories/molecules/control/Control.stories.svelte
  storybook/stories/molecules/cta-list/CtaList.stories.svelte
  storybook/stories/molecules/disclaimer-list/DisclaimerList.stories.svelte
  storybook/stories/molecules/file-upload/FileUpload.stories.svelte
  storybook/stories/molecules/heading/Heading.stories.svelte
  storybook/stories/molecules/menu/Menu.stories.svelte
  storybook/stories/molecules/mnemonic/Mnemonic.stories.svelte
  storybook/stories/molecules/pagination/Pagination.stories.svelte
  storybook/stories/molecules/password-strength/PasswordStrength.stories.svelte
  storybook/stories/organisms/accordion/Accordion.stories.svelte
  storybook/stories/organisms/card/Card.stories.svelte
  storybook/stories/organisms/footer/Footer.stories.svelte
  storybook/stories/organisms/form/Form.stories.svelte
  storybook/stories/organisms/hero/Hero.stories.svelte
  storybook/stories/organisms/navbar/Navbar.stories.svelte
  storybook/stories/organisms/search-list/SearchList.stories.svelte
  storybook/stories/organisms/table/Table.stories.svelte
  storybook/stories/organisms/wizard/Wizard.stories.svelte
  storybook/stories/pages/devops/devops-dashboard/DevopsDashboard.stories.svelte
  storybook/stories/pages/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
  storybook/stories/templates/devops/devops-dashboard/DevopsDashboard.stories.svelte
  storybook/stories/templates/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
Due: eslint --fix, prettier --write

:bug: DateText component package import
  packages/atoms/date-text/DateText.svelte
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/wizard/README.md
Due: none

:construction: Continue to build out world map chart
  packages/molecules/chart/Chart.svelte
  packages/molecules/chart/charts/WorldMap.svelte
  packages/molecules/chart/package.json
  packages/molecules/chart/styles.css
  storybook/.npmrc
  storybook/stories/molecules/chart/Chart.stories.svelte
  storybook/stories/pages/devops/devops-dashboard/DevopsDashboard.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Add Explorer Detail template
  packages/templates/explorer-detail/ExplorerDetail.svelte
  packages/templates/explorer-detail/style.css
  packages/templates/explorer-detail/styles.css
  storybook/package.json
  storybook/stories/templates/explorer/explorer-detail/ExplorerDetail.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Add Explorer List template
  packages/templates/explorer-list/ExplorerList.svelte
  packages/templates/explorer-list/style.css
  packages/templates/explorer-list/styles.css
  storybook/package.json
  storybook/stories/templates/explorer/explorer-list/ExplorerList.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Make world map scalable
  packages/molecules/chart/Chart.svelte
  packages/molecules/chart/charts/WorldMap.svelte
  packages/molecules/chart/charts/data/countries.json
  packages/molecules/chart/charts/world-map/WorldMap.svg.svelte
  packages/molecules/chart/charts/world-map/data/countries.json
  packages/molecules/chart/styles.css
  storybook/stories/molecules/chart/Chart.stories.svelte
Due: eslint --fix, prettier --write

:lipstick: Add additional cols to stats group
  packages/molecules/statistic/Group.svelte
  packages/molecules/statistic/styles.css
Due: eslint --fix, prettier --write

:bug: Hide overflow from Card displaying
  packages/organisms/card/styles.css
Due: none

:ambulance: Make Table scrollable on small devices
  packages/organisms/table/styles.css
Due: none

:sparkles: Update devops dashboard page
  storybook/stories/pages/devops/devops-dashboard/DevopsDashboard.stories.svelte
Due: eslint --fix, prettier --write

:fire: remove flex style from explorer template
  packages/templates/explorer-detail/styles.css
  packages/templates/explorer-list/styles.css
Due: none

:fire: Clean chart component
  packages/molecules/chart/charts/world-map/WorldMap.svg.svelte
  packages/molecules/chart/styles.css
Due: eslint --fix, prettier --write

:lipstick: Adjust Statistics group responsiveness
  packages/molecules/statistic/styles.css
Due: none

:fire: Remove Jest integration line
  storybook/stories/pages/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
Due: eslint --fix, prettier --write

:lipstick: Add dashboard template background
  packages/templates/devops-dashboard/background.svg
  packages/templates/devops-dashboard/styles.css
Due: none

:lipstick: Adjust stling for background image templates
  packages/organisms/navbar/styles.css
  packages/templates/default/styles.css
Due: none

:lipstick: Prevent table cell expanding with overflowed content
  packages/organisms/table/styles.css
Due: none

:construction: Adjust dashboard content
  storybook/stories/pages/devops/_Navbar.svelte
  storybook/stories/pages/devops/devops-dashboard/DevopsDashboard.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Create centered devlops template
  packages/templates/devops-centered/DevopsCentered.svelte
  packages/templates/devops-centered/DevopsCentered.test.js
  packages/templates/devops-centered/background.svg
  packages/templates/devops-centered/index.js
  packages/templates/devops-centered/package.json
  packages/templates/devops-centered/styles.css
  storybook/package.json
Due: eslint --fix, prettier --write

:sparkles: Add devops dashboard autentication page
  storybook/stories/pages/devops/devops-authentication/DevopsAuthentication.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Add devops deploy network page
  storybook/stories/pages/devops/devops-deploy-network/DevopsDeployNetwork.stories.svelte
Due: eslint --fix, prettier --write

:white_check_mark: Add placeholder test for Chart
  packages/molecules/chart/Chart.test.js
Due: eslint --fix, prettier --write

:sparkles: Storybook number internationalization
  storybook/stories/i18n.svelte
Due: eslint --fix, prettier --write

:sparkles: Explorer Blocks page
  storybook/stories/pages/explorer/explorer-block/ExplorerBlocks.stories.svelte
  storybook/stories/pages/explorer/explorer-block/data.js
Due: eslint --fix, prettier --write

:sparkles: Explorer Transactions page
  storybook/stories/pages/explorer/explorer-transaction/ExplorerTransaction.stories.svelte
  storybook/stories/pages/explorer/explorer-transaction/data.js
Due: eslint --fix, prettier --write

:sparkles: Add horizontal bar and line charts
  packages/helpers/charts.js
  packages/molecules/chart/charts/BarHorizontal.svelte
  packages/molecules/chart/charts/Line.svelte
  packages/molecules/chart/charts/bar-horizontal/Bar.svg.svelte
  packages/molecules/chart/charts/index.js
  packages/molecules/chart/charts/line/Line.svg.svelte
  packages/molecules/chart/styles.css
  storybook/package.json
  storybook/stories/molecules/chart/Chart.stories.svelte
Due: eslint --fix, prettier --write

:clown_face: Add mocks
  storybook/stories/molecules/chart/data.js
Due: eslint --fix, prettier --write

:sparkles: Add more explorer templates
  packages/templates/explorer-charts/ExplorerCharts.svelte
  packages/templates/explorer-charts/ExplorerCharts.test.js
  packages/templates/explorer-charts/index.js
  packages/templates/explorer-charts/package.json
  packages/templates/explorer-charts/styles.css
  storybook/stories/pages/explorer/explorer-charts/ExplorerCharts.stories.svelte
  storybook/stories/pages/explorer/explorer-charts/data.js
  storybook/stories/templates/devops/devop-centered/DevopsCentered.stories.svelte
  storybook/stories/templates/explorer/explorer-charts/ExplorerCharts.stories.svelte
Due: eslint --fix, prettier --write

:beers: Clean up templates
  packages/templates/default/styles.css
  packages/templates/devops-dashboard/styles.css
  storybook/stories/pages/explorer/_Search.svelte
  storybook/stories/pages/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Add clean script
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
