Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test(card): 🚨 changing smoke test to match new default view string
  packages/atoms/card/Card.stories.js
  packages/atoms/card/Card.test.js
Due: eslint --fix, prettier --write

docs(card): 📚️ removed the action view since it's unused anymore
  packages/atoms/card/storybook-views/Actions.svelte
Due: eslint --fix, prettier --write

docs(card): 📚️ removed the card footer view file since it's unused anymore
  packages/atoms/card/storybook-views/Footer.svelte
Due: eslint --fix, prettier --write

docs(card): 📚️ removed the title view since it won't be used anymore
  packages/atoms/card/storybook-views/Title.svelte
Due: eslint --fix, prettier --write

feat(styles): ✨ added base styles for links
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

chore(release): 🚀 bumping version
  .github/workflows/release.yml
  lerna.json
Due: prettier --write

chore(build): 🔧 📦️ removing lerna versioning line
  .github/workflows/release.yml
Due: none

chore(release): 🚀 publish
  CHANGELOG.md
  packages/atoms/button/CHANGELOG.md
  packages/atoms/card/CHANGELOG.md
  packages/atoms/checkbox/CHANGELOG.md
  packages/atoms/date-picker/CHANGELOG.md
  packages/atoms/icon/CHANGELOG.md
  packages/atoms/list/CHANGELOG.md
  packages/atoms/loading-indicator/CHANGELOG.md
  packages/atoms/logo/CHANGELOG.md
  packages/atoms/radio/CHANGELOG.md
  packages/atoms/rich-text/CHANGELOG.md
  packages/atoms/switch/CHANGELOG.md
  packages/atoms/table/CHANGELOG.md
  packages/atoms/text-field/CHANGELOG.md
  packages/elements/CHANGELOG.md
  packages/helpers/CHANGELOG.md
  packages/molecules/alert/CHANGELOG.md
  packages/molecules/carousel/CHANGELOG.md
  packages/molecules/control/CHANGELOG.md
  packages/molecules/dialog/CHANGELOG.md
  packages/molecules/menu/CHANGELOG.md
  packages/organisms/cookie-banner/CHANGELOG.md
  packages/organisms/cta/CHANGELOG.md
  packages/organisms/footer/CHANGELOG.md
  packages/organisms/form/CHANGELOG.md
  packages/organisms/navbar/CHANGELOG.md
  packages/styles/CHANGELOG.md
Due: none

refactor(build): ♻️ 📦️ removed the a styles
  .storybook/main.js
  docs/color.stories.mdx
  docs/typography.stories.mdx
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

chore(release): 🚀 bumping version number
  lerna.json
Due: prettier --write

docs(icon): 📚️ added the new icons avg tran block gen marketcap nodes provisioner
  packages/atoms/icon/Icon.svelte
Due: eslint --fix, prettier --write

docs(icon): 📚️ added the new icons avg tran block gen marketcap nodes provisioner
  packages/atoms/icon/storybook-views/Collection.svelte
Due: eslint --fix, prettier --write

docs(helpers): 📚️ added the new icons avg tran block gen marketcap nodes provisioner
  packages/helpers/icons.js
Due: eslint --fix, prettier --write

docs(icon): 📚️ created the average transaction icon
  packages/atoms/icon/icons/AverageTransaction.svelte
Due: eslint --fix, prettier --write

docs(icon): 📚️ created the block generator icon
  packages/atoms/icon/icons/BlockGenerator.svelte
Due: eslint --fix, prettier --write

docs(icon): 📚️ created the market cap icon
  packages/atoms/icon/icons/MarketCap.svelte
Due: eslint --fix, prettier --write

docs(icon): 📚️ created the nodes icon
  packages/atoms/icon/icons/Nodes.svelte
Due: eslint --fix, prettier --write

docs(icon): 📚️ created the provisioner icon
  packages/atoms/icon/icons/Provisioner.svelte
Due: eslint --fix, prettier --write

feat(icon): ✨ replaced gas icons with new set
  packages/atoms/icon/icons/GasAverage.svelte
  packages/atoms/icon/icons/GasLimit.svelte
  packages/atoms/icon/storybook-views/Collection.svelte
Due: eslint --fix, prettier --write

chore(ci): 🔧 👷 updated publish workflow
  .github/workflows/release.yml
Due: none

fix(container): 🐛 restored container config
  packages/styles/dusk.tailwind.config.js
  packages/styles/package-lock.json
  packages/styles/package.json
Due: eslint --fix, prettier --write

chore(release): 🚀 releasing rc.6
  packages/styles/CHANGELOG.md
  packages/styles/package-lock.json
  packages/styles/package.json
Due: prettier --write

chore(svelte): 🔧 bumping svelte version
  packages/atoms/button/package.json
  packages/atoms/card/package.json
  packages/atoms/checkbox/package.json
  packages/atoms/date-picker/package.json
  packages/atoms/icon/package.json
  packages/atoms/list/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/radio/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/switch/package.json
  packages/atoms/table/package.json
  packages/atoms/text-field/package.json
  packages/elements/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/carousel/package.json
  packages/molecules/control/package.json
  packages/molecules/dialog/package.json
  packages/molecules/menu/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/cta/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/navbar/package.json
Due: prettier --write

feat(styles): ✨ added a custom dusk vite plugin to work with sveltekit.
  packages/styles/dusk.tailwind.config.cjs
  packages/styles/package.json
  packages/styles/plugin/index.js
  packages/styles/plugin/vite-plugin-dusk-viewer.js
  packages/styles/plugin/vite-plugin-dusk.js
  packages/styles/postcss.config.cjs
  yarn.lock
Due: eslint --fix, prettier --write

feat(styles): ✨ added JIT support for instant re-render updates
  .nvmrc
  package.json
  packages/helpers/views/Scrim.svelte
  packages/styles/dusk.tailwind.config.cjs
  packages/styles/plugin/vite-plugin-dusk.js
Due: eslint --fix, prettier --write

chore(release): 🚀 bumped version
  lerna.json
Due: prettier --write

fix(engines): 🐛 removed npm and added hat to node
  package.json
Due: prettier --write

fix(storybook): 🐛 compatability with storybook
  .storybook/main.cjs
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.cjs
  .storybook/preview.js
  .storybook/themes/dusk/index.js
  package.json
  packages/atoms/table/styles.css
  packages/molecules/control/styles.css
  packages/organisms/cookie-banner/styles.css
  packages/organisms/cta/styles.css
  postcss.config.cjs
  postcss.config.js
  rollup.config.js
  yarn.lock
Due: eslint --fix, prettier --write

chore(build): 🔧 📦️ bumping version
  lerna.json
Due: prettier --write

chore(ci): 🔧 👷 enabling storybook publishing
  .github/workflows/release.yml
Due: none

docs(readme): 📚️ updated readme
  .eslintrc
  .eslintrc.cjs
  .stylelintignore
  .stylelintrc.js
  readme.md
Due: eslint --fix, prettier --write

fix(table): 🐛 fixed some styles that were refactored incorectly
  packages/atoms/table/styles.css
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
