Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:recycle: added jest results json to gitignore
  .gitignore
  storybook/.gitignore
Due: none

:green_heart: adding custom publicDir for ghpages deployment
  storybook/.storybook/main.js
Due: eslint --fix, prettier --write

deploy: 6e846d040bc67fd552a1c56edffd50bab894ec89
  assets/iframe.74821858.js
  assets/iframe.74821858.js.map
  assets/vendor.03bbb2a0.js
  assets/vendor.03bbb2a0.js.map
  iframe.html
  index.html
  vendors~main.a9dae1048a1bf8f030e4.manager.bundle.js
  vendors~main.a9dae1048a1bf8f030e4.manager.bundle.js.LICENSE.txt
Due: eslint --fix, prettier --write

:green_heart: trying with live ghpages config
  storybook/.storybook/main.js
Due: eslint --fix, prettier --write

:green_heart: adding CI build with preview-url flag
  .github/workflows/storybook.yml
  package.json
  storybook/.storybook/main.js
  storybook/package.json
Due: eslint --fix, prettier --write

:green_heart: using correct script per the working dir
  .github/workflows/storybook.yml
Due: none

:green_heart: trying with -o build param
  storybook/package.json
Due: prettier --write

:ambulance: updating to ci storybook
  package.json
Due: prettier --write

:green_heart: setting preview path in manager head html file
  package.json
  storybook/.storybook/manager-head.html
Due: prettier --write

:green_heart: updating action script
  .github/workflows/storybook.yml
  package.json
  storybook/package.json
Due: prettier --write

deploy: baa8015a0a9020971f084cb08ad68f5f837da331
  index.html
Due: none

:green_heart: trying base tag in manager html
  storybook/.storybook/manager-head.html
Due: none

deploy: abb6b08a113ab08d3263e961ad015454c6c34586
  index.html
Due: none

:green_heart: adding base to preview iframe head
  storybook/.storybook/preview-head.html
Due: none

deploy: 995a7b2d380e9a487dad7a898341ee03378f72f0
  iframe.html
Due: none

:green_heart: setting base path config in Vite
  storybook/.storybook/main.js
  storybook/.storybook/manager-head.html
  storybook/.storybook/preview-head.html
Due: eslint --fix, prettier --write

deploy: f0312f8d43d81ca81a01226a8daa8143cf31e02a
  assets/iframe.2665f710.css
  iframe.html
  index.html
Due: none

:sparkles: Update Toggle component (switch) to include Icon context
  packages/atoms/toggle/Toggle.svelte
  packages/atoms/toggle/package.json
  packages/atoms/toggle/styles.css
  storybook/stories/atoms/toggle/Toggle.stories.svelte
Due: eslint --fix, prettier --write

:bug: fixing dev mode base path config
  storybook/.storybook/main.js
  storybook/.storybook/manager-head.html
Due: eslint --fix, prettier --write

:sparkles: SearchList without button on input field
  packages/organisms/search-list/SearchList.svelte
  storybook/stories/organisms/search-list/SearchList.stories.svelte
Due: eslint --fix, prettier --write

:bug: re-adding pre and post fixed button slots
  packages/molecules/control/Control.svelte
  packages/molecules/control/styles.css
  storybook/stories/molecules/control/Control.stories.svelte
Due: eslint --fix, prettier --write

:ambulance: remembering to update the storybook deployment action paths
  .github/workflows/storybook.yml
Due: none

deploy: 3a3e4913e1b3c1f31abda93e4ff7809dcaa81588
  assets/iframe.a53afccb.css
  assets/iframe.ea61b61d.js
  assets/iframe.ea61b61d.js.map
  iframe.html
Due: eslint --fix, prettier --write

deploy: 76edfe28822fc2fcfae1b6afb89feeba451d78de
  assets/iframe.04ca3841.js
  assets/iframe.04ca3841.js.map
  iframe.html
Due: eslint --fix, prettier --write

deploy: a2884586fee057f43dcdbbd378df8775743de350
  assets/iframe.396826a3.css
  assets/iframe.d28822a3.js
  assets/iframe.d28822a3.js.map
  iframe.html
Due: eslint --fix, prettier --write

:package: updating lockfile
  pnpm-lock.yaml
Due: none

:bug: updating meta path (merge error)
  storybook/stories/atoms/toggle/Toggle.stories.svelte
Due: eslint --fix, prettier --write

deploy: 050107e01c605441abbdd8442820e2eaba212715
  0.8a0b2f72c33a98f820d5.manager.bundle.js
  4.60601d03bf8e48897f92.manager.bundle.js
  4.60601d03bf8e48897f92.manager.bundle.js.LICENSE.txt
  5.e46e0711c2b925765a94.manager.bundle.js
  6.4f2b727973dc3aaba7ac.manager.bundle.js
  6.4f2b727973dc3aaba7ac.manager.bundle.js.LICENSE.txt
  7.790bdcf527c73fb305e7.manager.bundle.js
  8.70dd9aa2d7b1fccda1a6.manager.bundle.js
  assets/iframe.cf56a746.js
  assets/iframe.cf56a746.js.map
  assets/vendor.14bae24d.js
  assets/vendor.14bae24d.js.map
  iframe.html
  index.html
  main.c07fc4c895ee720504fc.manager.bundle.js
  runtime~main.429707cc27bb59fa0884.manager.bundle.js
  vendors~main.c023711234193d694169.manager.bundle.js
  vendors~main.c023711234193d694169.manager.bundle.js.LICENSE.txt
Due: eslint --fix, prettier --write

:wrench: updating commit rules
  .husky/commit-msg
Due: none

:fire: cleaning tests result warnings and disabling Navbar test
  package.json
  packages/molecules/control/Control.svelte
  packages/organisms/footer/Footer.svelte
  packages/organisms/footer/styles.css
  packages/organisms/navbar/Navbar.test.js
Due: eslint --fix, prettier --write

:construction_worker: added ci action for running tests on all pushes
  .github/workflows/ci.yml
Due: none

:green_heart: updating Chromatic action to run on main branch only
  .github/workflows/chromatic.yml
Due: none

:bug: Adjusting size of Icon inside a Button
  packages/molecules/button/styles.css
Due: none

:bug: Added Dropdown disabled state and fixed chevron not reversing
  packages/atoms/drop-down/DropDown.svelte
  packages/atoms/drop-down/styles.css
Due: eslint --fix, prettier --write

:sparkles: Added SearchList context to the Control component
  packages/helpers/contexts.js
  packages/molecules/button/styles.css
  packages/molecules/control/Control.svelte
  packages/molecules/control/styles.css
  packages/organisms/search-list/SearchList.svelte
  packages/organisms/search-list/package.json
Due: eslint --fix, prettier --write

:pencil: adding intro and setup for other docs
  docs/pnpm-lock.yaml
  packages/styles/index.js
  packages/styles/plugin/vite-plugin-dusk-viewer.js
  packages/styles/plugin/vite-plugin-dusk.js
  pnpm-lock.yaml
  storybook/.storybook/main.js
  storybook/.storybook/manager.js
  storybook/package.json
  storybook/stories/colour.stories.mdx.draft
  storybook/stories/introduction.stories.mdx
  storybook/stories/space.stories.mdx.draft
  storybook/stories/type.stories.mdx.draft
Due: eslint --fix, prettier --write

:heavy_plus_sign: adding missing peerDep
  packages/organisms/search-list/package.json
Due: prettier --write

deploy: a94b3bc8523d089e5867f14ad3bbc0faca66bf8e
  0.1ea81e52890c788cef67.manager.bundle.js
  4.e2fc32a1bd6f6912a35c.manager.bundle.js
  4.e2fc32a1bd6f6912a35c.manager.bundle.js.LICENSE.txt
  5.76821cf3d674274575f2.manager.bundle.js
  6.441fac2fb6d8d1381fb3.manager.bundle.js
  6.441fac2fb6d8d1381fb3.manager.bundle.js.LICENSE.txt
  7.314f3c105254cd6fd950.manager.bundle.js
  8.0037f2526e2518c65ef0.manager.bundle.js
  assets/Color.6224abfe.js
  assets/Color.6224abfe.js.map
  assets/GlobalScrollAreaStyles.393f4e4b.js
  assets/GlobalScrollAreaStyles.393f4e4b.js.map
  assets/OverlayScrollbars.14140bdc.js
  assets/OverlayScrollbars.14140bdc.js.map
  assets/WithTooltip.c983180a.js
  assets/WithTooltip.c983180a.js.map
  assets/iframe.03cad9cd.css
  assets/iframe.8f25c12a.js
  assets/iframe.8f25c12a.js.map
  assets/syntaxhighlighter.b6c81853.js
  assets/syntaxhighlighter.b6c81853.js.map
  assets/vendor.627fbd08.js
  assets/vendor.627fbd08.js.map
  iframe.html
  index.html
  main.db276499c0820754f5c5.manager.bundle.js
  runtime~main.8a78b1ef207732497021.manager.bundle.js
  vendors~main.68e059a2b5354cf808c4.manager.bundle.js
  vendors~main.68e059a2b5354cf808c4.manager.bundle.js.LICENSE.txt
Due: eslint --fix, prettier --write

:bulb: adding select for icons with Toggle
  storybook/stories/atoms/toggle/Toggle.stories.svelte
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
