Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

ci(env): updated env vars
  .github/workflows/release.yml
Due: none

chore(release): publish
  packages/atoms/date-picker/CHANGELOG.md
  packages/atoms/date-picker/package.json
Due: prettier --write

ci(release): updating env var scope
  .github/workflows/release.yml
Due: none

docs(index): 📚️ added the theme import
  .storybook/themes/dusk/index.js
Due: eslint --fix, prettier --write

docs(manager): 📚️ created the manager file to manage the theme
  .storybook/manager.js
Due: eslint --fix, prettier --write

docs(package): 📚️ installed the theme package
  package.json
Due: prettier --write

docs(yarn): 📚️ installed the theme package
  yarn.lock
Due: none

removing secrets, testing defaults
  .github/workflows/release.yml
Due: none

trying node_auth_token for publishing
  .github/workflows/release.yml
Due: none

trying both commands together with shared env
  .github/workflows/release.yml
  package.json
Due: prettier --write

ci(release): correcting syntax
  .github/workflows/release.yml
Due: none

ci(release): adding more config and setting to fixed version control
  .github/workflows/release.yml
  lerna.json
  package.json
Due: prettier --write

ci(release): removed pull request checks for now
  .github/workflows/release.yml
Due: none

ci(release): attempting to version all packages
  .github/workflows/release.yml
  lerna.json
Due: prettier --write

docs(package): 📚️ added the jest config lines
  package.json
Due: prettier --write

docs(button): 📚️ renamed the example to basic instead of button default
  packages/atoms/button/Button.stories.js
Due: eslint --fix, prettier --write

chore(workflow): adding conditional branch checking for sb stuff
  .github/workflows/release.yml
  .gitignore
Due: none

docs(button): 📚️ added the test file
  packages/atoms/button/Button.test.js
Due: eslint --fix, prettier --write

docs(yarn): 📚️ added babel, jest and ts-test
  yarn.lock
Due: none

docs(test): 📚️ 🚨 created the test file to init storyshots
  .storybook/test.js
Due: eslint --fix, prettier --write

docs(jest-config): 📚️ created the jest-config to add model export transform
  jest.config.js
Due: eslint --fix, prettier --write

feat(jest): ✨ enabled simple test for Button and added to husky config
  .eslintrc
  .husky/pre-commit
  babel.config.json
  package.json
  packages/atoms/button/Button.test.js
  packages/atoms/button/storybook-views/Default.svelte
  yarn.lock
Due: eslint --fix, prettier --write

refactor(lerna): ♻️ allowing next branch to set versions etc
  lerna.json
Due: prettier --write

refactor: ♻️ reset version and removed tests from pre-commit
  .husky/pre-commit
  lerna.json
Due: prettier --write

refactor(switch): ♻️ restoring switch funcationality
  .stylelintignore
  packages/atoms/switch/Switch.stories.js
  packages/atoms/switch/storybook-views/Default.svelte
  packages/atoms/switch/styles.css
Due: eslint --fix, prettier --write

fix(styles): 🐛 missing dependency in ci
  lerna.json
  packages/styles/package.json
Due: prettier --write

docs(button): 📚️ renamed the function that to basic that is shown on the ui kit
  packages/atoms/button/Button.stories.js
Due: eslint --fix, prettier --write

docs(button): 📚️ updated the syntax using args
  packages/atoms/button/Button.test.js
Due: eslint --fix, prettier --write

docs(logo): 📚️ fixed the logo component and it's argtypes since it wasn't working
  packages/atoms/logo/Logo.stories.js
Due: eslint --fix, prettier --write

docs(logo): 📚️ removed the variant since it's not used anymore
  packages/atoms/logo/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

docs(logo): 📚️ removed the variants since they aren't used anymore
  packages/atoms/logo/Logo.stories.mdx
Due: none

docs(rich-text): 📚️ adjusted the syntax used with marked to work with tests as well
  packages/atoms/rich-text/RichText.svelte
Due: eslint --fix, prettier --write

docs(text-field): 📚️ added a placeholder
  packages/atoms/text-field/TextField.stories.js
Due: eslint --fix, prettier --write

docs(card): 📚️ created a test file and updated it
  packages/atoms/card/Card.test.js
Due: eslint --fix, prettier --write

docs(checkbox): 📚️ created a test file and updated it
  packages/atoms/checkbox/Checkbox.test.js
Due: eslint --fix, prettier --write

docs(date-picker): 📚️ created a test file and updated it
  packages/atoms/date-picker/DatePicker.test.js
Due: eslint --fix, prettier --write
