Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:lipstick: Update style file to use tailwind translate utils
  packages/molecules/step-list/styles.css
Due: none

:wrench: Docs allow serving files from one level up to the project root
  docs/svelte.config.js
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/table/README.md
Due: none

:sparkles: Social Menu context for UI Kit Footer
  packages/helpers/contexts.js
  packages/molecules/menu/Menu.svelte
  packages/organisms/footer/menu/SocialMediaMenu.svelte
Due: eslint --fix, prettier --write

:sparkles: UI Kit Menu context for UI Kit Footer
  packages/organisms/footer/Footer.svelte
Due: eslint --fix, prettier --write

:fire: Remove UI Kit Menu styles from UI Kit Footer Social Menu
  packages/organisms/footer/styles.css
Due: none

:lipstick: UI Kit Footer Social Menu styles
  packages/molecules/menu/styles.css
Due: none

:sparkles: Footer Category Menu context for UI Kit Menu
  packages/helpers/contexts.js
  packages/molecules/menu/Menu.svelte
  packages/organisms/footer/menu/CategoryMenu.svelte
Due: eslint --fix, prettier --write

:fire: remove Footer Category Menu styles
  packages/organisms/footer/styles.css
Due: none

:lipstick: UI Kit Menu styles for UI Kit Footer Category Menus
  packages/molecules/menu/styles.css
Due: none

:sparkles: UI Kit Menu context for UI Kit Icon
  packages/atoms/icon/Icon.svelte
  packages/helpers/contexts.js
  packages/molecules/menu/Menu.svelte
Due: eslint --fix, prettier --write

:fire: remove social menu icon style from UI Kit Footer
  packages/organisms/footer/styles.css
Due: none

:lipstick: Add Icon styles for Footer Social Menu
  packages/atoms/icon/styles.css
Due: none

:pencil: UI Kit Accordion example enable multiselect
  examples/src/organisms/accordion/Accordion_01.svelte
  packages/organisms/accordion/Accordion.svelte
Due: eslint --fix, prettier --write

:recycle: Remove UI Kit Skeleton default height
  examples/src/atoms/skeleton-loader/SkeletonLoader_01.svelte
  packages/atoms/skeleton-loader/SkeletonLoader.svelte
  packages/atoms/skeleton-loader/styles.css
Due: eslint --fix, prettier --write

:pencil: add README file
  packages/atoms/skeleton-loader/README.md
Due: none

🤖 (auto-commit) updating README files
  packages/organisms/accordion/README.md
Due: none

:pencil: Update UI Kit Control example
  examples/src/molecules/control/Control_06.svelte
Due: eslint --fix, prettier --write

:fire: remove UI Kit Control context styles
  packages/molecules/control/styles.css
Due: none

:lipstick: add UI Kit Button styles for UI Kit Control context
  packages/molecules/button/styles.css
Due: none

:bug: generalize axis input values for UI Kit Chart Line
  packages/molecules/chart/charts/Line.svelte
Due: eslint --fix, prettier --write

:pencil: UI Kit Chart example
  examples/src/molecules/chart/Chart_01.svelte
Due: eslint --fix, prettier --write

:sparkles: UI Kit Chart dynamic width Tooltip
  packages/molecules/chart/charts/bar-horizontal/Tooltip.html.svelte
  packages/molecules/chart/charts/line/Tooltip.html.svelte
  packages/molecules/chart/styles.css
Due: eslint --fix, prettier --write

:sparkles: Update Mnemonic authentication events
  examples/src/molecules/mnemonic/Mnemonic_01.svelte
  packages/atoms/text-field/TextField.svelte
  packages/molecules/mnemonic/Mnemonic.svelte
  packages/molecules/mnemonic/Word.svelte
Due: eslint --fix, prettier --write

:bug: Fix rendering issue with Highlight.js (temp)
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
Due: eslint --fix, prettier --write

:bookmark: Release packages
  .changeset/violet-balloons-beam.md
  .npmrc
  package.json
  scripts/postchangeset.cjs
  scripts/prechangeset.cjs
Due: prettier --write

🤖 (auto-commit) updating README files
  packages/molecules/mnemonic/README.md
Due: none

:fire: Removing pre and post changeset hooks
  package.json
Due: prettier --write

:sparkles: Add paste support for Mnemonic
  packages/molecules/mnemonic/Mnemonic.svelte
  packages/molecules/mnemonic/Word.svelte
  packages/molecules/mnemonic/stores/words.js
Due: eslint --fix, prettier --write

:bug: fix Menu styles that where affecting all Icons
  packages/atoms/icon/Icon.svelte
  packages/helpers/contexts.js
  packages/molecules/menu/Menu.svelte
  packages/organisms/footer/menu/SocialMediaMenu.svelte
Due: eslint --fix, prettier --write

:bug: fix UI Kit Button active state
  packages/molecules/button/Button.svelte
Due: eslint --fix, prettier --write

:lipstick: UI Kit Table Datum, add gap between cell elements
  packages/organisms/table/styles.css
Due: none

:sparkles: UI Kit ErrorBlock component
  packages/organisms/error-block/Error404.svelte
  packages/organisms/error-block/ErrorBlock.svelte
  packages/organisms/error-block/ErrorBug.svelte
  packages/organisms/error-block/style.css
  packages/organisms/error-block/styles.css
Due: eslint --fix, prettier --write

:pencil: docs example for UI Kit ErrorBlock
  examples/src/organisms/error-block/ErrorBlock_01.svelte
  examples/src/organisms/error-block/ErrorBlock_02.svelte
  examples/src/organisms/error-block/index.js
  examples/src/organisms/index.js
Due: eslint --fix, prettier --write

:sparkles: Sotrybook UI Kit ErrorBlock stories
  storybook/stories/organisms/error-block/ErrorBlock.stories.svelte
Due: eslint --fix, prettier --write

:art: Reuse length property
  packages/molecules/mnemonic/Mnemonic.svelte
Due: eslint --fix, prettier --write

:bookmark: Release packages
  .changeset/tough-cycles-relate.md
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
