Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:green_heart: replacing install commands in ci
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
Due: none

:green_heart: replaced npmrc with dynamic one in build
  .github/workflows/release.yml
  .npmrc
Due: none

🤖 (auto-commit) preparing packages for changeset
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
Due: prettier --write

:rocket: adding changeset
  .changeset/mighty-seals-wonder.md
Due: none

:ambulance: changing npmrc to a single line
  .github/workflows/release.yml
Due: none

:rocket: adding changeset
  .changeset/fast-roses-joke.md
Due: none

:rocket: added changeset
  .changeset/sixty-ways-raise.md
Due: none

:green_heart: restored npmrc file approach
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  .npmrc
Due: none

:rocket: added changeset
  .changeset/hungry-ravens-push.md
Due: none

:green_heart: changing env set up
  .github/workflows/release.yml
Due: none

:construction_worker: adding changeset
  .changeset/thin-oranges-arrive.md
  scripts/prechangeset.cjs
Due: none

:green_heart: testing release with minimal config
  .github/workflows/release.yml
Due: none

:rocket: testing changesets
  .changeset/famous-rice-kick.md
Due: none

:green_heart: simplified other actions
  .github/workflows/chromatic.yml
  .github/workflows/storybook.yml
  package.json
Due: prettier --write

:rocket: testing changesets
  .changeset/rare-humans-speak.md
Due: none

:recycle: changing version strategy to workspace protocol
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  package.json
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettier --write

:arrow_up: upgrading deps
  .lintstagedrc
  CHANGELOG.md
  commitlint.config.js
  package.json
  packages/atoms/rich-text/package.json
  packages/organisms/navbar/package.json
  packages/styles/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: eslint --fix, prettier --write

:green_heart: testing changesets
  .github/workflows/release.yml
  .npmrc
  package.json
Due: prettier --write

:green_heart: testing changesets
  .github/workflows/release.yml
Due: none

:bookmark: adding changeset
  .changeset/blue-years-drive.md
Due: none

:green_heart: adding env section to install stage
  .github/workflows/release.yml
  package.json
Due: prettier --write

:green_heart: enabling prechangeset script
  .github/workflows/release.yml
  package.json
  scripts/prechangeset.js
Due: eslint --fix, prettier --write

:bookmark: adding changeset
  .changeset/neat-lamps-fetch.md
Due: none

:green_heart: swapped token for one with extra permissions
  .github/workflows/release.yml
Due: none

:bookmark: adding changeset
  .changeset/cyan-dots-burn.md
Due: none

:green_heart: Adding package key to install stage
  .github/workflows/release.yml
Due: none

:bookmark: adding changeset
  .changeset/shiny-dragons-taste.md
Due: none

:green_heart: simplified version command
  .github/workflows/release.yml
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
