Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

deploy: 8c1dfea4e32bf15011cd452142fbc2e254163984
  docs/internal/assets/CookieBanner-8afb5b78.css
  docs/internal/assets/CookieBanner-cdab1c4b.css
  docs/internal/chunks/CookieBanner-db58e427.js
  docs/internal/chunks/CookieBanner-f8ddd2af.js
  docs/internal/chunks/index-11c7f9fb.js
  docs/internal/manifest.json
  docs/internal/pages/__layout.svelte-8342e6bf.js
  docs/internal/pages/__layout.svelte-f45a1e3c.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-3a435b3a.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-b7649510.js
  docs/internal/pages/helpers/_helper_/index.svelte-8e4e7c7b.js
  docs/internal/pages/helpers/_helper_/index.svelte-fb17138f.js
  docs/internal/start-bfe98aa2.js
  docs/internal/start-d401db0b.js
Due: eslint --fix, prettier --write

:fire: Removing console junk
  packages/organisms/cookie-banner/CookieBanner.svelte
Due: eslint --fix, prettier --write

:heavy_plus_sign: UI Kit Charts d3-quadtree and svelte-i18n dependencies
  packages/molecules/chart/package.json
Due: prettier --write

:sparkles: UI Kit Charts Line chart tooltip
  packages/molecules/chart/charts/Line.svelte
  packages/molecules/chart/charts/line/QuadTree.html.svelte
  packages/molecules/chart/charts/line/Tooltip.html.svelte
  packages/molecules/chart/styles.css
Due: eslint --fix, prettier --write

:recycle: refactor UI Kit Line chart
  packages/molecules/chart/charts/Line.svelte
  packages/molecules/chart/charts/line/Tooltip.html.svelte
Due: eslint --fix, prettier --write

:sparkles: UI Kit Bar Chart Tooltip
  packages/molecules/chart/charts/BarHorizontal.svelte
  packages/molecules/chart/charts/bar-horizontal/Bar.svg.svelte
  packages/molecules/chart/charts/bar-horizontal/Tooltip.html.svelte
  packages/molecules/chart/styles.css
Due: eslint --fix, prettier --write

:bug: Fix UI Kit Icon tooltip word break
  packages/atoms/icon/styles.css
Due: none

:bug: Fix story path error
  storybook/stories/molecules/control/Control.stories.svelte
Due: eslint --fix, prettier --write

:pencil: Add UI Kit Chart example to docs
  examples/src/molecules/chart/Chart_01.svelte
  examples/src/molecules/chart/Chart_02.svelte
  examples/src/molecules/chart/data.js
  examples/src/molecules/chart/index.js
  examples/src/molecules/index.js
Due: eslint --fix, prettier --write

:lipstick: Add default template tag margins for section and article
  packages/templates/default/styles.css
  storybook/package.json
Due: prettier --write

:lipstick: Enable chart examples
  docs/package.json
  examples/src/molecules/chart/Chart_01.svelte
  examples/src/molecules/chart/Chart_02.svelte
  packages/atoms/rich-text/styles.css
Due: eslint --fix, prettier --write

:bug: Button hover regression + basic tag updates
  packages/molecules/button/styles.css
  packages/organisms/table/styles.css
  packages/templates/default/styles.css
Due: none

:wheelchair: Add aria-label to Button
  packages/molecules/button/Button.svelte
Due: eslint --fix, prettier --write

:wheelchair: Add label to setting Button in Navbar
  packages/organisms/navbar/menu/A11yMenu.svelte
Due: eslint --fix, prettier --write

:recycle: change variant CTALIST to CTA_LIST
  packages/helpers/variants.js
  packages/molecules/cta-list/CtaList.svelte
Due: eslint --fix, prettier --write

:sparkles: Add split prop to DetailList and update examples
  examples/src/molecules/detail-list/DetailList_02.svelte
  examples/src/molecules/index.js
  examples/src/organisms/card/index.js
  packages/molecules/detail-list/DetailList.svelte
  packages/molecules/detail-list/styles.css
Due: eslint --fix, prettier --write

:bug: Fix generator hint
  _templates/example/new/prompt.js
Due: eslint --fix, prettier --write

:sparkles: Add MediaContent component
  examples/package.json
  examples/pnpm-lock.yaml
  examples/src/molecules/media-content/MediaContent_01.svelte
  examples/src/molecules/media-content/MediaContent_02.svelte
  examples/src/molecules/media-content/index.js
  examples/src/organisms/card/Card_04.svelte
  packages/molecules/media-content/MediaContent.svelte
  packages/molecules/media-content/MediaContent.test.js
  packages/molecules/media-content/index.js
  packages/molecules/media-content/package.json
  packages/molecules/media-content/styles.css
Due: eslint --fix, prettier --write

:sparkles: Update Card Group styles
  examples/src/organisms/card/Card_02.svelte
  examples/src/organisms/card/Card_04.svelte
  packages/helpers/contexts.js
  packages/molecules/group/Group.svelte
  packages/molecules/media-content/MediaContent.svelte
  packages/molecules/media-content/package.json
  packages/molecules/media-content/styles.css
  packages/organisms/card/Card.svelte
  packages/organisms/card/styles.css
Due: eslint --fix, prettier --write

:recycle: Update UI Kit CtaList
  packages/helpers/types.js
  packages/molecules/cta-list/CtaList.svelte
  packages/molecules/cta-list/Item.svelte
  packages/molecules/cta-list/styles.css
Due: eslint --fix, prettier --write

:pencil: Add example for UI Kit CtaList
  examples/src/molecules/cta-list/CtaList_01.svelte
  examples/src/molecules/cta-list/CtaList_02.svelte
  examples/src/molecules/cta-list/index.js
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/molecules/cta-list/README.md
Due: none

deploy: 9d056569d4e2bbd906997a80918bdc1f271cd1b4
  docs/internal/assets/Card-53be1c0f.css
  docs/internal/assets/Card-891950ea.css
  docs/internal/assets/index-26cdcc09.css
  docs/internal/assets/index-2ea7e91b.css
  docs/internal/chunks/@ui-kit-example-98592602.js
  docs/internal/chunks/@ui-kit-example-9885f584.js
  docs/internal/chunks/Card-1a5f4dfa.js
  docs/internal/chunks/Card-dc698ee2.js
  docs/internal/chunks/CookieBanner-10661c7e.js
  docs/internal/chunks/CookieBanner-93bd3895.js
  docs/internal/chunks/RichText-5c543a20.js
  docs/internal/chunks/RichText-6c6e9733.js
  docs/internal/chunks/Sidebar-65b9f4db.js
  docs/internal/chunks/Sidebar-a5ddad80.js
  docs/internal/chunks/icons-b9ac513f.js
  docs/internal/chunks/icons-cedbe716.js
  docs/internal/chunks/index-17328dd7.js
  docs/internal/chunks/index-ed327c28.js
  docs/internal/chunks/sizes-4ffa4530.js
  docs/internal/chunks/sizes-55dbb9c2.js
  docs/internal/manifest.json
  docs/internal/pages/__layout.svelte-07b5550d.js
  docs/internal/pages/__layout.svelte-14abf4af.js
  docs/internal/pages/components/_group_/__layout.svelte-7e9f5a23.js
  docs/internal/pages/components/_group_/__layout.svelte-f4408b60.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-e08d8646.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-f0976cd8.js
  docs/internal/pages/helpers/__layout.svelte-4c97f2d0.js
  docs/internal/pages/helpers/__layout.svelte-540bb2c7.js
  docs/internal/pages/helpers/_helper_/index.svelte-321b0445.js
  docs/internal/pages/helpers/_helper_/index.svelte-c0e1dda3.js
  docs/internal/pages/helpers/index.svelte-177aaba8.js
  docs/internal/pages/helpers/index.svelte-ec11f6b2.js
  docs/internal/pages/index.svelte-83bd44f0.js
  docs/internal/pages/index.svelte-878ea2ad.js
  docs/internal/start-4dca8981.js
  docs/internal/start-ace04e87.js
Due: eslint --fix, prettier --write

:bug: fix UI Kit bar chart readability issues on mobile devices
  packages/molecules/chart/charts/BarHorizontal.svelte
  packages/molecules/chart/charts/bar-horizontal/Bar.svg.svelte
  packages/molecules/chart/charts/bar-horizontal/Tooltip.html.svelte
Due: eslint --fix, prettier --write

:ambulance: Add package version to MediaContent
  packages/molecules/media-content/package.json
Due: prettier --write

deploy: 8b8e8d26569350abcb13ecbd661caa765c909f73
  docs/internal/chunks/index-17328dd7.js
  docs/internal/chunks/index-c8f53c04.js
  docs/internal/manifest.json
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-c6281e50.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-e08d8646.js
  docs/internal/pages/helpers/_helper_/index.svelte-c0e1dda3.js
  docs/internal/pages/helpers/_helper_/index.svelte-c9cf8e4c.js
  docs/internal/start-4dca8981.js
  docs/internal/start-60a6771c.js
Due: eslint --fix, prettier --write

:ambulance: Fix missing main package script ref
  _templates/kit/new/package.ejs.t
  packages/molecules/media-content/package.json
Due: prettier --write

:ambulance: Add missing svelte field to package
  _templates/kit/new/package.ejs.t
  packages/molecules/media-content/package.json
Due: prettier --write

:lipstick: UI Kit Table style update
  packages/organisms/table/styles.css
Due: none

:lipstick: Update Wallet Homepage template paddings
  packages/templates/wallet-homepage/styles.css
Due: none

:lipstick: Update Wallet Homepage page
  storybook/stories/pages/wallet/wallet-homepage/WalletHomepage.stories.svelte
  storybook/stories/pages/wallet/wallet-homepage/styles.css
Due: eslint --fix, prettier --write

:ambulance: Set priority to alignments on properties
  packages/atoms/rich-text/styles.css
  packages/molecules/heading/styles.css
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
