Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:wrench: Change cookie config and swap navbar padding position
  packages/organisms/cookie-banner/CookieBanner.svelte
  packages/organisms/navbar/styles.css
Due: eslint --fix, prettier --write

:recycle: Refactor cookie stuff into a util helper
  docs/package.json
  packages/helpers/cookie-utils.js
  packages/helpers/package.json
  packages/molecules/chart/package.json
  packages/organisms/cookie-banner/CookieBanner.svelte
  packages/organisms/navbar/menu/A11yMenu.svelte
Due: eslint --fix, prettier --write

:art: Rename cookie to be more general
  packages/organisms/navbar/menu/A11yMenu.svelte
Due: eslint --fix, prettier --write

:lipstick: Hide Navbar and Footer in standalone app mode
  packages/organisms/footer/styles.css
  packages/organisms/navbar/styles.css
Due: none

:bookmark: Release packages
  .changeset/fifty-eggs-ring.md
Due: none

deploy: b170c0d555261eda74bfd586958fed0c40d7823e
  docs/internal/assets/CookieBanner-601a153b.css
  docs/internal/assets/CookieBanner-77726b67.css
  docs/internal/chunks/Card-0ea18203.js
  docs/internal/chunks/Card-64b948de.js
  docs/internal/chunks/CookieBanner-7db28c88.js
  docs/internal/chunks/CookieBanner-e1dffd52.js
  docs/internal/chunks/RichText-8eedaaea.js
  docs/internal/chunks/RichText-e52956a7.js
  docs/internal/chunks/Sidebar-45e9e268.js
  docs/internal/chunks/Sidebar-9f40c54b.js
  docs/internal/chunks/index-c3d25d28.js
  docs/internal/chunks/index-e025f675.js
  docs/internal/chunks/stores-5ae78fcc.js
  docs/internal/chunks/stores-b24e83a1.js
  docs/internal/chunks/vendor-dc822454.js
  docs/internal/error.svelte-55bbd178.js
  docs/internal/error.svelte-8d82e0ad.js
  docs/internal/manifest.json
  docs/internal/pages/__layout.svelte-a32ef445.js
  docs/internal/pages/__layout.svelte-ce966ba8.js
  docs/internal/pages/components/_group_/__layout.svelte-2d3b5d13.js
  docs/internal/pages/components/_group_/__layout.svelte-32a7cd68.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-39ed1411.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-9d1dcf7c.js
  docs/internal/pages/components/_group_/_package_/index.svelte-3bdd9ee5.js
  docs/internal/pages/components/_group_/_package_/index.svelte-ac38d51e.js
  docs/internal/pages/components/_group_/index.svelte-762fbc0c.js
  docs/internal/pages/components/_group_/index.svelte-7f5c2014.js
  docs/internal/pages/components/index.svelte-c2067d2a.js
  docs/internal/pages/components/index.svelte-e0b8a832.js
  docs/internal/pages/helpers/__layout.svelte-0d9458bc.js
  docs/internal/pages/helpers/__layout.svelte-695a08b5.js
  docs/internal/pages/helpers/_helper_/index.svelte-2ea09403.js
  docs/internal/pages/helpers/_helper_/index.svelte-3d945ffa.js
  docs/internal/pages/helpers/index.svelte-63db695f.js
  docs/internal/pages/helpers/index.svelte-b484feb3.js
  docs/internal/pages/index.svelte-59ba4519.js
  docs/internal/pages/index.svelte-a5e2694d.js
  docs/internal/start-8aac61a3.js
  docs/internal/start-c2c87d65.js
Due: eslint --fix, prettier --write

:bug: Adding cookie arguments to settings handlers
  docs/src/routes/__layout.svelte
  packages/organisms/cookie-banner/CookieBanner.svelte
Due: eslint --fix, prettier --write

:bookmark: Release packages
  .changeset/dull-waves-perform.md
Due: none

:sparkles: UI Kit Buy Homepage Template
  packages/templates/buy-homepage/BuyHomepage.svelte
  packages/templates/buy-homepage/BuyHomepage.test.js
  packages/templates/buy-homepage/index.js
  packages/templates/buy-homepage/package.json
  packages/templates/buy-homepage/styles.css
Due: eslint --fix, prettier --write

:sparkles: Storybook Buy Homepage Template
  storybook/stories/templates/buy/buy-homepage/BuyHomepage.stories.svelte
Due: eslint --fix, prettier --write

deploy: 39642c5242c3be1760ef125e06f701998ae5420f
  docs/internal/chunks/CookieBanner-7db28c88.js
  docs/internal/chunks/CookieBanner-80e456e0.js
  docs/internal/chunks/index-ffc8e203.js
  docs/internal/manifest.json
  docs/internal/pages/__layout.svelte-be37dc33.js
  docs/internal/pages/__layout.svelte-ce966ba8.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-39ed1411.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-d02f860d.js
  docs/internal/pages/helpers/_helper_/index.svelte-3d945ffa.js
  docs/internal/pages/helpers/_helper_/index.svelte-acfa0cf2.js
  docs/internal/start-1bdc8b4a.js
  docs/internal/start-8aac61a3.js
Due: eslint --fix, prettier --write

:sparkles: UI Kit StepList component
  packages/molecules/step-list/Item.svelte
  packages/molecules/step-list/StepList.svelte
  packages/molecules/step-list/StepList.test.js
  packages/molecules/step-list/index.js
  packages/molecules/step-list/package.json
  packages/molecules/step-list/styles.css
Due: eslint --fix, prettier --write

:sparkles: UI Kit StepList variants
  packages/helpers/variants.js
Due: eslint --fix, prettier --write

:sparkles: Storybook StepList story
  storybook/stories/molecules/step-list/StepList.stories.svelte
Due: eslint --fix, prettier --write

:pencil: UI Kit StepList example
  examples/package.json
  examples/pnpm-lock.yaml
  examples/src/molecules/index.js
  examples/src/molecules/step-list/StepList_01.svelte
  examples/src/molecules/step-list/index.js
Due: eslint --fix, prettier --write

:pencil2: metadata file location
  storybook/stories/molecules/detail-list/DetailList.stories.svelte
Due: eslint --fix, prettier --write

:ambulance: Wrap setCookie into closures
  package.json
  packages/organisms/cookie-banner/CookieBanner.svelte
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

:sparkles: UI Kit Slider component
  packages/atoms/slider/Slider.svelte
  packages/atoms/slider/Slider.test.js
  packages/atoms/slider/index.js
  packages/atoms/slider/package.json
  packages/atoms/slider/styles.css
Due: eslint --fix, prettier --write

:sparkles: Storybook UI Kit Slider story
  storybook/package.json
  storybook/stories/atoms/slider/Slider.stories.svelte
Due: eslint --fix, prettier --write

:pencil: UI Kit Slider example
  examples/package.json
  examples/pnpm-lock.yaml
  examples/src/atoms/index.js
  examples/src/atoms/slider/Slider_01.svelte
  examples/src/atoms/slider/index.js
Due: eslint --fix, prettier --write

Fix main version number
  package.json
Due: prettier --write

:heavy_plus_sign: Storybook StepList & Buy Homepage template devDeps
  storybook/package.json
Due: prettier --write

:ambulance: Wrong version number
  packages/molecules/step-list/package.json
Due: prettier --write

:sparkles: DetailList context for SearchList
  packages/helpers/contexts.js
  packages/molecules/detail-list/DetailList.svelte
  packages/organisms/search-list/SearchList.svelte
Due: eslint --fix, prettier --write

:lipstick: DetailList style update for SearchList context
  packages/molecules/detail-list/styles.css
Due: none

:pencil: update SearchList example to use DetailList
  examples/src/organisms/search-list/SearchList_01.svelte
  examples/src/organisms/search-list/SearchList_02.svelte
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/search-list/README.md
Due: none

:recycle: use DetailList in WalletToken page story
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-token/WalletToken.svelte
Due: eslint --fix, prettier --write

:recycle: UI Kit FileUpload use ES6 syntax
  packages/molecules/file-upload/FileUpload.svelte
Due: eslint --fix, prettier --write

:lipstick: UI Kit Button Heading style fixme
  packages/molecules/button/styles.css
  packages/molecules/heading/styles.css
Due: none

:arrow_up: Upgrate Tailwind to v3
  packages/styles/package.json
Due: prettier --write

:wrench: tailwind config update for tailwind v3
  packages/styles/dusk.tailwind.config.cjs
Due: none

:wrench: add custom animation to tailwind config
  packages/styles/dusk.tailwind.config.cjs
Due: none

:lipstick: Update UI Kit component file to use tailwind transform utils
  packages/atoms/drop-down/styles.css
  packages/atoms/icon/styles.css
  packages/atoms/skeleton-loader/styles.css
  packages/atoms/toggle/styles.css
  packages/molecules/chart/styles.css
  packages/molecules/file-upload/styles.css
  packages/organisms/table/styles.css
Due: none

:pencil: Update UI Kit Table example to show expandable rows
  examples/src/organisms/table/Table_01.svelte
Due: eslint --fix, prettier --write

:pencil: Update UI Kit SkeletonLoader to latest version
  examples/src/atoms/skeleton-loader/SkeletonLoader_01.svelte
Due: eslint --fix, prettier --write

:fire: Remove tailwind transform util from component styles
  packages/atoms/logo/styles.css
  packages/atoms/toggle/styles.css
  packages/organisms/footer/styles.css
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
