Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

:bookmark: Release 4.2.1
  .changeset/lucky-wolves-protect.md
  .changeset/pretty-files-grin.md
  package.json
Due: prettier --write

:pencil: Optimising keystore access page
  packages/molecules/file-upload/styles.css
  packages/templates/wallet-wizard/styles.css
  storybook/stories/pages/wallet/styles.css
  storybook/stories/pages/wallet/wallet-access-keystore/WalletAccessKeystore.stories.svelte
  storybook/stories/pages/wallet/wallet-access-keystore/styles.css
Due: eslint --fix, prettier --write

:sparkles: add breakpoints to helpers
  packages/helpers/breakpoints.js
Due: eslint --fix, prettier --write

:wrench: add config for 24 column grid to tailwind
  packages/styles/dusk.tailwind.config.cjs
Due: none

:sparkles: add Contexts for UI Kit TruncateText and LoadingIndicator
  packages/helpers/contexts.js
Due: eslint --fix, prettier --write

:lipstick: add style context to UI Kit LoadingIndicator
  packages/atoms/loading-indicator/LoadingIndicator.svelte
  packages/atoms/loading-indicator/styles.css
Due: eslint --fix, prettier --write

:lipstick: style context class to UI Kit TruncateText
  packages/atoms/truncate-text/styles.css
Due: none

:sparkles: Add new truncate method to UI Kit TruncateText
  packages/atoms/truncate-text/TruncateText.svelte
Due: eslint --fix, prettier --write

:lipstick: add grid type and contexts to UI Kit Table Datum
  packages/organisms/table/Datum.svelte
Due: eslint --fix, prettier --write

:sparkles: UI Kit Table add support for new grid type
  packages/organisms/table/Table.svelte
Due: eslint --fix, prettier --write

:lipstick: UI Kit Table css support for new grid type
  packages/organisms/table/styles.css
Due: none

:lipstick: Update WalletTransactions component story
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/WalletTransactions.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/styles.css
Due: eslint --fix, prettier --write

:recycle: Refactor TruncateText in Explorer page stories
  storybook/stories/pages/explorer/explorer-block/ExplorerBlock.stories.svelte
  storybook/stories/pages/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
  storybook/stories/pages/explorer/explorer-transactions/ExplorerTransactions.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: add UI Kit TruncateText story
  storybook/stories/atoms/truncate-text/TruncateText.stories.svelte
Due: eslint --fix, prettier --write

:pencil: UI Kit TruncateText docs example
  examples/src/atoms/index.js
  examples/src/atoms/truncate-text/TruncateText_01.svelte
  examples/src/atoms/truncate-text/index.js
Due: eslint --fix, prettier --write

:lipstick: UI Kit TruncateText update styles
  packages/atoms/truncate-text/TruncateText.svelte
  packages/atoms/truncate-text/styles.css
Due: eslint --fix, prettier --write

:ambulance: UI Kit Table fix hidden content collaps on text select
  packages/organisms/table/Datum.svelte
  packages/organisms/table/Row.svelte
  packages/organisms/table/package.json
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

:lipstick: UI Kit Card update disabled state style
  packages/organisms/card/styles.css
Due: none

:recycle: Refactor UI Kit Teble in WalletTransactions section story page
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/WalletTransactions.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/styles.css
Due: eslint --fix, prettier --write

:lipstick: UI Kit Table mobile ui fix
  packages/organisms/table/styles.css
Due: none

:lipstick: UI Kit Wallet Dashboard Template ui update
  packages/templates/wallet-dashboard/styles.css
Due: none

:lipstick: UI Kit LoadingIndicator Heading context
  packages/atoms/loading-indicator/LoadingIndicator.svelte
  packages/atoms/loading-indicator/styles.css
Due: eslint --fix, prettier --write

:lipstick: UI Kit Heading Datum context
  packages/helpers/contexts.js
  packages/molecules/heading/Heading.svelte
  packages/molecules/heading/styles.css
  packages/organisms/table/Datum.svelte
Due: eslint --fix, prettier --write

:recycle: Update WalletTransactions section story
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/WalletTransactions.svelte
Due: eslint --fix, prettier --write

:fire: Wallet Dashboard remove outdated styles
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/styles.css
Due: none

:bento: Wallet Dashboard transactions asset
  storybook/static/no-transactions.png
Due: none

:recycle: Update WalletToken section story
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-token/WalletToken.svelte
Due: eslint --fix, prettier --write

:truck: Moving WalletToken mock data
  storybook/stories/pages/wallet/wallet-dashboard/token-mock-data.js
Due: eslint --fix, prettier --write

:clown_face: update WalletTransactions mock data
  storybook/stories/pages/wallet/wallet-dashboard/mock-data.js
Due: eslint --fix, prettier --write

:sparkles: add WalletDashboard Loading State story
  storybook/stories/pages/wallet/wallet-dashboard/WalletDashboard.stories.svelte
Due: eslint --fix, prettier --write

:lipstick: UI Kit Control button icon size
  packages/molecules/control/styles.css
Due: none

:sparkles: Add Balance component
  examples/package.json
  examples/pnpm-lock.yaml
  packages/atoms/balance/Balance.svelte
  packages/atoms/balance/Balance.test.js
  packages/atoms/balance/index.js
  packages/atoms/balance/package.json
  packages/atoms/balance/styles.css
  storybook/package.json
Due: eslint --fix, prettier --write

:pencil: Apply Balance to wallet and clean up other page stories
  storybook/stories/pages/wallet/styles.css
  storybook/stories/pages/wallet/wallet-access-seed/WalletAccessSeed.stories.svelte
  storybook/stories/pages/wallet/wallet-access-seed/styles.css
  storybook/stories/pages/wallet/wallet-create-keystore/WalletCreateKeystore.stories.svelte
  storybook/stories/pages/wallet/wallet-create-keystore/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-balance/WalletBalance.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-balance/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transfer/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/styles.css
Due: eslint --fix, prettier --write

:bug: Fix Chip line wrap issue
  packages/atoms/chip/styles.css
Due: none

:bug: Fix pre and post fixed Button icon height issue
  packages/molecules/control/styles.css
Due: none

:pencil: Update stories using postfix Button and add complete example.
  storybook/stories/molecules/control/Control.stories.svelte
  storybook/stories/pages/explorer/_Search.svelte
Due: eslint --fix, prettier --write

:sparkles: Update tempates loading for slots
  packages/templates/default/Default.svelte
  packages/templates/devops-centered/DevopsCentered.svelte
  packages/templates/devops-dashboard/DevopsDashboard.svelte
  packages/templates/explorer-charts/ExplorerCharts.svelte
  packages/templates/explorer-detail/ExplorerDetail.svelte
  packages/templates/explorer-homepage/ExplorerHomepage.svelte
  packages/templates/explorer-list/ExplorerList.svelte
  packages/templates/extension-default/ExtensionDefault.svelte
  packages/templates/wallet-dashboard/WalletDashboard.svelte
  packages/templates/wallet-homepage/WalletHomepage.svelte
  packages/templates/wallet-option/WalletOption.svelte
  packages/templates/wallet-wizard/WalletWizard.svelte
Due: eslint --fix, prettier --write

:fire: Removing extra lines not needed for Storybook
  storybook/stories/pages/explorer/explorer-charts/ExplorerCharts.stories.svelte
  storybook/stories/pages/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
  storybook/stories/pages/explorer/explorer-transaction/ExplorerTransaction.stories.svelte
Due: eslint --fix, prettier --write
