Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:bookmark: Release 4.3.0
  .changeset/little-guests-serve.md
  package.json
Due: prettier --write

deploy: 075fa8c91de5c71970ab61cc865a7c14355ec2f4
  storybook/assets/Color.4ce05bc9.js
  storybook/assets/Color.4ce05bc9.js.map
  storybook/assets/Color.e45a6ab7.js
  storybook/assets/Color.e45a6ab7.js.map
  storybook/assets/GlobalScrollAreaStyles.1bab6bca.js
  storybook/assets/GlobalScrollAreaStyles.1bab6bca.js.map
  storybook/assets/GlobalScrollAreaStyles.be7b54a4.js
  storybook/assets/GlobalScrollAreaStyles.be7b54a4.js.map
  storybook/assets/OverlayScrollbars.791c045b.js.map
  storybook/assets/OverlayScrollbars.ceda32dc.js
  storybook/assets/OverlayScrollbars.ceda32dc.js.map
  storybook/assets/WithTooltip.ac98dcb2.js
  storybook/assets/WithTooltip.ac98dcb2.js.map
  storybook/assets/WithTooltip.d11d054b.js
  storybook/assets/WithTooltip.d11d054b.js.map
  storybook/assets/axe.e9a23fac.js.map
  storybook/assets/axe.f47c2963.js
  storybook/assets/axe.f47c2963.js.map
  storybook/assets/iframe.9dadf394.js.map
  storybook/assets/iframe.f6b34c42.js
  storybook/assets/iframe.f6b34c42.js.map
  storybook/assets/index.8c1f989d.js
  storybook/assets/index.8c1f989d.js.map
  storybook/assets/index.9a13b868.js.map
  storybook/assets/renderDocs.2ac0e76e.js
  storybook/assets/renderDocs.2ac0e76e.js.map
  storybook/assets/renderDocs.a8269bf5.js
  storybook/assets/renderDocs.a8269bf5.js.map
  storybook/assets/syntaxhighlighter.8ce0bf37.js.map
  storybook/assets/syntaxhighlighter.ddcf8b94.js
  storybook/assets/syntaxhighlighter.ddcf8b94.js.map
  storybook/assets/vendor.0292ccc6.js.map
  storybook/assets/vendor.eccf71ea.js
  storybook/assets/vendor.eccf71ea.js.map
  storybook/iframe.html
  storybook/index.html
  storybook/vendors~main.9ac8c31828e230c6c948.manager.bundle.js
  storybook/vendors~main.dacfef4aea6dc0914545.manager.bundle.js
  storybook/vendors~main.dacfef4aea6dc0914545.manager.bundle.js.LICENSE.txt
Due: eslint --fix, prettier --write

deploy: c4c470167f5af5bf5d7a2f46c4b1c4ca288ff8a2
  storybook/assets/iframe.66ad1f25.css
  storybook/assets/iframe.8b111003.css
  storybook/assets/iframe.b6a57ec5.js
  storybook/assets/iframe.b6a57ec5.js.map
  storybook/assets/iframe.f6b34c42.js
  storybook/assets/iframe.f6b34c42.js.map
  storybook/iframe.html
  storybook/no-transactions.png
Due: eslint --fix, prettier --write

:wrench: Update hooks so no global needed
  .husky/commit
  .husky/prepare-commit-msg
Due: none

:arrow_up: Upgrade to latest dependencies and reconfig where needed
  .npmrc
  docs/package.json
  docs/svelte.config.js
  package.json
  packages/atoms/progress-bar/package.json
  storybook/.storybook/main.js
  storybook/package.json
Due: eslint --fix, prettier --write

:wheelchair: Remove extra role attribs
  packages/molecules/menu/Menu.svelte
  packages/molecules/pagination/Pagination.svelte
Due: eslint --fix, prettier --write

:alien: Update functions to use new SK interface
  docs/src/lib/Nav.svelte
  docs/src/lib/Sidebar.svelte
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
  docs/src/routes/components/[group]/[package]/index.svelte
  docs/src/routes/components/[group]/__layout.svelte
  docs/src/routes/components/[group]/index.svelte
Due: eslint --fix, prettier --write

:construction_worker: Update CI config for Node 17
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  readme.md
Due: none

:bug: Exclude node_modules packages from being globbed on
  scripts/prechangeset.cjs
Due: none

:green_heart: Limit Chromatic to develop branch changes only
  .github/workflows/chromatic.yml
Due: none

:bug: Correct let:isLoading attrib position
  packages/templates/explorer-detail/ExplorerDetail.svelte
Due: eslint --fix, prettier --write

:alien: Remove svelte file imports from packages with exports
  packages/atoms/drop-down/DropDown.svelte
  packages/atoms/toggle/Toggle.svelte
  packages/molecules/alert/Alert.svelte
  packages/molecules/breadcrumb/Breadcrumb.svelte
  packages/molecules/button/Button.svelte
  packages/molecules/control/Message.svelte
  packages/molecules/control/storybook-views/Default.svelte
  packages/molecules/menu/Item.svelte
  packages/molecules/mnemonic/Word.svelte
  packages/molecules/pagination/Pagination.svelte
  packages/molecules/password-strength/PasswordStrength.svelte
  packages/organisms/accordion/Item.svelte
  packages/organisms/footer/Minimal.svelte
  packages/organisms/footer/menu/CategoryMenu.svelte
  packages/organisms/footer/menu/LegalMenu.svelte
  packages/organisms/footer/menu/Newsletter.svelte
  packages/organisms/footer/menu/SocialMediaMenu.svelte
  packages/organisms/form/Messages.svelte
  packages/organisms/navbar/Navbar.svelte
  packages/organisms/navbar/menu/A11yMenu.svelte
  packages/organisms/navbar/menu/AppsMenu.svelte
  packages/organisms/navbar/menu/LinksMenu.svelte
  packages/organisms/table/Table.svelte
  packages/organisms/wizard/Wizard.svelte
Due: eslint --fix, prettier --write

:lipstick: Add context for Chip in Statistic for alignment
  examples/src/molecules/index.js
  examples/src/molecules/statistic/Statistic_01.svelte
  examples/src/molecules/statistic/Statistic_02.svelte
  examples/src/molecules/statistic/Statistic_03.svelte
  examples/src/molecules/statistic/index.js
  packages/atoms/chip/Chip.svelte
  packages/atoms/chip/styles.css
  packages/helpers/contexts.js
  packages/molecules/file-upload/FileUpload.svelte
  packages/molecules/menu/Item.svelte
  packages/molecules/statistic/Statistic.svelte
  packages/molecules/statistic/styles.css
  packages/organisms/navbar/menu/AppsMenu.svelte
Due: eslint --fix, prettier --write

:heavy_plus_sign: Add missing helpers dep
  packages/molecules/statistic/package.json
Due: prettier --write

deploy: e8c0363b7bf6c5381d20222a2a4b0dcaffafff90
  docs/internal/assets/index-d21cb45a.css
  docs/internal/assets/index-e45a8e09.css
  docs/internal/chunks/@ui-kit-example-cd0428bf.js
  docs/internal/chunks/@ui-kit-example-fbca96c2.js
  docs/internal/chunks/Footer-527b46c6.js
  docs/internal/chunks/Heading-50ce1ecd.js
  docs/internal/chunks/Heading-c847ed7e.js
  docs/internal/chunks/RichText-1a46c733.js
  docs/internal/chunks/RichText-2aac5c0b.js
  docs/internal/chunks/Sidebar-0c61aebb.js
  docs/internal/chunks/Sidebar-33a8ded8.js
  docs/internal/chunks/index-54fdd0c1.js
  docs/internal/chunks/index-72d9c02e.js
  docs/internal/chunks/sizes-a81beea9.js
  docs/internal/chunks/sizes-d195abca.js
  docs/internal/chunks/states-ef331a9d.js
  docs/internal/manifest.json
  docs/internal/pages/__layout.svelte-29b8ba47.js
  docs/internal/pages/__layout.svelte-c9bc2ab8.js
  docs/internal/pages/components/_group_/__layout.svelte-324ca845.js
  docs/internal/pages/components/_group_/__layout.svelte-56431279.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-c2ef2f5a.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-dc3cb84d.js
  docs/internal/pages/helpers/__layout.svelte-710f4e83.js
  docs/internal/pages/helpers/__layout.svelte-ab144fa1.js
  docs/internal/pages/helpers/_helper_/index.svelte-9bf35ab7.js
  docs/internal/pages/helpers/_helper_/index.svelte-c5cd0858.js
  docs/internal/pages/helpers/index.svelte-c631d6d8.js
  docs/internal/pages/helpers/index.svelte-c93e2343.js
  docs/internal/pages/index.svelte-c8fa54fe.js
  docs/internal/pages/index.svelte-f640636f.js
  docs/internal/start-6d9d3a28.js
  docs/internal/start-91d4185b.js
Due: eslint --fix, prettier --write

:sparkles: UI Kit Chip context for DetailList
  packages/atoms/chip/Chip.svelte
  packages/atoms/chip/styles.css
  packages/helpers/contexts.js
  packages/molecules/detail-list/DetailList.svelte
Due: eslint --fix, prettier --write

:sparkles: UI Kit Chip context for Table Datum
  packages/atoms/chip/Chip.svelte
  packages/atoms/chip/styles.css
  packages/helpers/contexts.js
  packages/organisms/table/Datum.svelte
Due: eslint --fix, prettier --write

:lipstick: UI Kit Statistic mobile styles
  packages/molecules/statistic/styles.css
Due: none

:sparkles: UI Kit Table screen breakpoint to overflow prop
  packages/organisms/table/Table.svelte
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

:ambulance: UI Kit Table xxl breakpoint fix
  packages/organisms/table/Table.svelte
Due: eslint --fix, prettier --write

:lipstick: UI Kit Table update
  packages/organisms/table/Table.svelte
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

:sparkles: Add new CookieBanner
  docs/src/routes/__layout.svelte
  docs/src/routes/styles.css
  examples/src/organisms/cookie-banner/CookieBanner_01.svelte
  examples/src/organisms/cookie-banner/index.js
  examples/src/organisms/index.js
  packages/organisms/cookie-banner/CookieBanner.svelte
  packages/organisms/cookie-banner/package.json
  packages/organisms/cookie-banner/styles.css
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/cookie-banner/README.md
Due: none

:bug: Make changes outlined in #325
  examples/src/molecules/button/Button_02.svelte
  examples/src/molecules/button/Button_03.svelte
  examples/src/molecules/button/Button_04.svelte
  examples/src/molecules/button/Button_05.svelte
  packages/atoms/drop-down/styles.css
  packages/atoms/progress-bar/styles.css
  packages/molecules/button/styles.css
  packages/molecules/chart/styles.css
  packages/molecules/mnemonic/styles.css
  packages/organisms/footer/menu/Newsletter.svelte
  packages/organisms/footer/package.json
  packages/organisms/footer/styles.css
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

:lipstick: remove overflow scroll from docs layout file
  docs/src/routes/__layout.svelte
Due: eslint --fix, prettier --write

:sparkles: UI Kit Card overflow prop
  packages/organisms/card/Card.svelte
  packages/organisms/card/styles.css
Due: eslint --fix, prettier --write

:bug: Fix cookie banner
  docs/package.json
  docs/src/lib/Nav.svelte
  docs/src/lib/store.js
  docs/src/lib/stores/local.js
  docs/src/routes/__layout.svelte
  docs/src/routes/styles.css
  packages/molecules/button/styles.css
  packages/organisms/cookie-banner/CookieBanner.svelte
  packages/organisms/cookie-banner/styles.css
  packages/organisms/navbar/Navbar.svelte
  packages/organisms/navbar/menu/A11yMenu.svelte
  packages/organisms/navbar/package.json
  packages/organisms/navbar/styles.css
Due: eslint --fix, prettier --write

deploy: e6c0cf679a99cf70f9bc0e3ed0dbd8bf6a03a260
  docs/internal/chunks/Card-dbd46305.js
  docs/internal/chunks/CookieBanner-db58e427.js
  docs/internal/chunks/RichText-0ab4a295.js
  docs/internal/chunks/RichText-e8746abc.js
  docs/internal/chunks/Sidebar-6addb468.js
  docs/internal/chunks/Sidebar-cc81b4ef.js
  docs/internal/chunks/index-c8afeb65.js
  docs/internal/chunks/stores-2d2a91a2.js
  docs/internal/chunks/stores-df5f9ea3.js
  docs/internal/chunks/vendor-75fa91ab.js
  docs/internal/error.svelte-47298a80.js
  docs/internal/error.svelte-bf0ec61c.js
  docs/internal/manifest.json
  docs/internal/pages/__layout.svelte-7d0630c3.js
  docs/internal/pages/__layout.svelte-8342e6bf.js
  docs/internal/pages/components/_group_/__layout.svelte-26cd44aa.js
  docs/internal/pages/components/_group_/__layout.svelte-344d836e.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-234bff28.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-b7649510.js
  docs/internal/pages/components/_group_/_package_/index.svelte-2dbc6f95.js
  docs/internal/pages/components/_group_/_package_/index.svelte-e86f3d0e.js
  docs/internal/pages/components/_group_/index.svelte-537db0ac.js
  docs/internal/pages/components/_group_/index.svelte-9265bf46.js
  docs/internal/pages/components/index.svelte-504cc852.js
  docs/internal/pages/components/index.svelte-abed08d5.js
  docs/internal/pages/helpers/__layout.svelte-2f4d1cd0.js
  docs/internal/pages/helpers/__layout.svelte-2fbc1b24.js
  docs/internal/pages/helpers/_helper_/index.svelte-e7b15ffd.js
  docs/internal/pages/helpers/_helper_/index.svelte-fb17138f.js
  docs/internal/pages/helpers/index.svelte-4744b934.js
  docs/internal/pages/helpers/index.svelte-d606b123.js
  docs/internal/pages/index.svelte-7abc8e65.js
  docs/internal/pages/index.svelte-db134c07.js
  docs/internal/start-4471bf93.js
  docs/internal/start-bfe98aa2.js
Due: eslint --fix, prettier --write

:construction_worker: Limiting ci script to not main.
  .github/workflows/ci.yml
  packages/organisms/navbar/styles.css
Due: none

:sparkles: Add more events to cookie settings
  docs/src/routes/__layout.svelte
  packages/organisms/cookie-banner/CookieBanner.svelte
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
