Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

deploy: 7dd221111e7ed848cb8cccc63cc01ea0a4513be2
  storybook/assets/iframe.26ea98b4.js
  storybook/assets/iframe.26ea98b4.js.map
  storybook/assets/iframe.48bf4134.css
  storybook/assets/iframe.95186be2.js
  storybook/assets/iframe.95186be2.js.map
  storybook/assets/iframe.cac8cc4b.css
  storybook/iframe.html
Due: eslint --fix, prettier --write

deploy: 9609c17989a7ef874b94ae2b3df4aba8d2d59481
  docs/helpers/charts/index.html
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
  docs/index.html
Due: none

:bug: Update docs Table example so that it works
  docs/package.json
  docs/src/routes/__layout.svelte
  docs/src/routes/components/[group]/[package]/index.svelte
  docs/svelte.config.js
  examples/src/organisms/table/Table_01.svelte
  examples/src/organisms/table/data.js
  packages/organisms/table/stores/columns.js
Due: eslint --fix, prettier --write

:wrench: Include fallback page
  docs/svelte.config.js
Due: eslint --fix, prettier --write

:ambulance: Move fallback to correct location
  docs/svelte.config.js
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/table/README.md
Due: none

:green_heart: Try 404.html as fallback
  docs/svelte.config.js
Due: eslint --fix, prettier --write

deploy: a1be1bbc063282cb7492f7ab7a53bdae4d42799d
  docs/docs/404.html
Due: none

:fire: Remove console logs
  docs/svelte.config.js
  storybook/stories/pages/devops/devops-authentication/DevopsAuthentication.stories.svelte
  storybook/stories/pages/devops/devops-deploy-network/DevopsDeployNetwork.stories.svelte
  storybook/stories/pages/extension/extension-authentication/ExtensionAuthentication.stories.svelte
Due: eslint --fix, prettier --write

:green_heart: Try fallback in docs dir
  docs/svelte.config.js
Due: eslint --fix, prettier --write

deploy: eccbb7cde9d99664c78d11e0905947376c5b4984
  docs/docs/index.html
Due: none

deploy: eccbb7cde9d99664c78d11e0905947376c5b4984
  storybook/assets/Color.9a9165f4.js
  storybook/assets/Color.9a9165f4.js.map
  storybook/assets/Color.d66fd44d.js
  storybook/assets/Color.d66fd44d.js.map
  storybook/assets/GlobalScrollAreaStyles.0aedafe2.js
  storybook/assets/GlobalScrollAreaStyles.0aedafe2.js.map
  storybook/assets/GlobalScrollAreaStyles.6fa4083c.js
  storybook/assets/GlobalScrollAreaStyles.6fa4083c.js.map
  storybook/assets/OverlayScrollbars.4bfd848b.js
  storybook/assets/OverlayScrollbars.4bfd848b.js.map
  storybook/assets/OverlayScrollbars.69347872.js.map
  storybook/assets/WithTooltip.7c1d290f.js
  storybook/assets/WithTooltip.7c1d290f.js.map
  storybook/assets/WithTooltip.8aeb7024.js
  storybook/assets/WithTooltip.8aeb7024.js.map
  storybook/assets/axe.7252391e.js.map
  storybook/assets/axe.b1c0f30e.js
  storybook/assets/axe.b1c0f30e.js.map
  storybook/assets/iframe.26ea98b4.js.map
  storybook/assets/iframe.81fad995.js
  storybook/assets/iframe.81fad995.js.map
  storybook/assets/index.b9514e8a.js.map
  storybook/assets/index.e4ee107e.js
  storybook/assets/index.e4ee107e.js.map
  storybook/assets/renderDocs.7426ee35.js
  storybook/assets/renderDocs.7426ee35.js.map
  storybook/assets/renderDocs.bdddab8a.js
  storybook/assets/renderDocs.bdddab8a.js.map
  storybook/assets/syntaxhighlighter.2e99ceec.js.map
  storybook/assets/syntaxhighlighter.caa25b25.js
  storybook/assets/syntaxhighlighter.caa25b25.js.map
  storybook/assets/vendor.3288166b.js.map
  storybook/assets/vendor.7c419e10.js
  storybook/assets/vendor.7c419e10.js.map
  storybook/iframe.html
Due: eslint --fix, prettier --write

:green_heart: Remove base path
  docs/svelte.config.js
Due: eslint --fix, prettier --write

deploy: d7654842857c5306a550c1169fd920b7d34bc916
  docs/index.html
Due: none

:green_heart: Remove fallback for now
  docs/svelte.config.js
Due: eslint --fix, prettier --write

:iphone: Reduce viewports for extension template stories
  storybook/stories/templates/extension/extension-authentication/ExtensionAuthentication.stories.svelte
  storybook/stories/templates/extension/extension-connection/ExtensionConnection.stories.svelte
  storybook/stories/templates/extension/extension-generation/ExtensionGeneration.stories.svelte
  storybook/stories/templates/extension/extension-welcome/ExtensionWelcome.stories.svelte
  storybook/stories/templates/extension/viewports.js
Due: eslint --fix, prettier --write

:package: Update docs deps
  docs/package.json
  docs/src/routes/__layout.svelte
Due: eslint --fix, prettier --write

:package: Replace default template local dep with package ref
  packages/templates/devops-centered/DevopsCentered.svelte
  packages/templates/devops-centered/package.json
  packages/templates/devops-dashboard/DevopsDashboard.svelte
  packages/templates/devops-dashboard/package.json
  packages/templates/explorer-charts/ExplorerCharts.svelte
  packages/templates/explorer-charts/package.json
  packages/templates/explorer-detail/ExplorerDetail.svelte
  packages/templates/explorer-detail/package.json
  packages/templates/explorer-homepage/ExplorerHomepage.svelte
  packages/templates/explorer-homepage/package.json
  packages/templates/explorer-list/ExplorerList.svelte
  packages/templates/explorer-list/package.json
  packages/templates/extension-default/ExtensionDefault.svelte
  packages/templates/extension-default/package.json
Due: eslint --fix, prettier --write

:package: Add mising template dep
  storybook/package.json
Due: prettier --write

:package: Update examples deps
  examples/package.json
  examples/pnpm-lock.yaml
Due: prettier --write

:rewind: Removing icon alignment styles
  packages/organisms/card/styles.css
Due: none

:bookmark: Release 4.1.1
  .changeset/mighty-bananas-flash.md
  package.json
Due: prettier --write

:package: Update lockfile
  examples/pnpm-lock.yaml
Due: none

:art: Wallet Homepage template mobile styles
  packages/templates/wallet-homepage/styles.css
Due: none

:sparkles: Wallet Options template and story
  packages/templates/wallet-option/WalletOption.svelte
  packages/templates/wallet-option/WalletOption.test.js
  packages/templates/wallet-option/index.js
  packages/templates/wallet-option/package.json
  packages/templates/wallet-option/styles.css
  storybook/package.json
  storybook/stories/templates/wallet/wallet-option/WalletOption.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Wallet Wizard template and story
  packages/templates/wallet-wizard/WalletWizard.svelte
  packages/templates/wallet-wizard/WalletWizard.test.js
  packages/templates/wallet-wizard/index.js
  packages/templates/wallet-wizard/package.json
  packages/templates/wallet-wizard/styles.css
  storybook/package.json
  storybook/stories/templates/wallet/wallet-wizard/WalletWizard.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Wallet Dashboard template and story
  packages/templates/wallet-dashboard/WalletDashboard.svelte
  packages/templates/wallet-dashboard/WalletDashboard.test.js
  packages/templates/wallet-dashboard/index.js
  packages/templates/wallet-dashboard/package.json
  packages/templates/wallet-dashboard/styles.css
  storybook/package.json
  storybook/stories/templates/wallet/wallet-dashboard/WalletDashboard.stories.svelte
Due: eslint --fix, prettier --write

:art: Update Wallet Homepage Template styles
  packages/templates/wallet-homepage/styles.css
Due: none

:art: Update Wallet Option template styles
  packages/templates/wallet-option/styles.css
Due: none

:wrench: add static folder config to Storybook
  storybook/.storybook/main.js
Due: eslint --fix, prettier --write

:sparkles: Wallet Homepage page in Storybook
  storybook/static/wallet-hero-mobile.png
  storybook/static/wallet-hero.png
  storybook/static/wallet-introduction.png
  storybook/static/web-access.png
  storybook/stories/pages/wallet/_Footer.svelte
  storybook/stories/pages/wallet/_Navbar.svelte
  storybook/stories/pages/wallet/wallet-homepage/WalletHomepage.stories.svelte
  storybook/stories/pages/wallet/wallet-homepage/styles.css
Due: eslint --fix, prettier --write
