Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

refactor(styles): ♻️ refactored to use nested parent selectors
  packages/atoms/drop-down/styles.css
  packages/atoms/icon/styles.css
  packages/atoms/progress-bar/styles.css
  packages/atoms/toggle/styles.css
  packages/molecules/alert/styles.css
  packages/molecules/button/styles.css
  packages/molecules/control/styles.css
  packages/molecules/menu/styles.css
  packages/molecules/pagination/styles.css
  packages/organisms/card/styles.css
  packages/organisms/footer/styles.css
  packages/organisms/navbar/Navbar.stories.svelte
  packages/organisms/navbar/styles.css
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

feat(hero): ✨ added Hero component
  packages/atoms/logo/Logo.svelte
  packages/atoms/rich-text/RichText.svelte
  packages/atoms/rich-text/styles.css
  packages/atoms/toggle/styles.css
  packages/helpers/contexts.js
  packages/molecules/button/Button.svelte
  packages/molecules/button/styles.css
  packages/molecules/limiter/CHANGELOG.md
  packages/molecules/limiter/Limiter.stories.mdx
  packages/molecules/limiter/Limiter.stories.svelte
  packages/molecules/limiter/Limiter.svelte
  packages/molecules/limiter/index.js
  packages/molecules/limiter/storybook/data.js
  packages/molecules/limiter/styles.css
  packages/organisms/accordion/Accordion.stories.svelte
  packages/organisms/hero/Hero.stories.mdx
  packages/organisms/hero/Hero.stories.svelte
  packages/organisms/hero/Hero.svelte
  packages/organisms/hero/Hero.test.js
  packages/organisms/hero/index.js
  packages/organisms/hero/package.json
  packages/organisms/hero/storybook/grants-hero.svg
  packages/organisms/hero/styles.css
  packages/organisms/table/Table.svelte
  packages/organisms/table/package.json
  packages/organisms/table/storybook/Default.svelte
  yarn.lock
Due: eslint --fix, prettier --write

refactor(imports): ♻️ moving to explicitly import all packages internally to avoid mjs issues in SK
  packages/atoms/drop-down/DropDown.svelte
  packages/atoms/icon/Icon.svelte
  packages/atoms/loading-indicator/LoadingIndicator.svelte
  packages/atoms/logo/Logo.svelte
  packages/atoms/progress-bar/ProgressBar.svelte
  packages/atoms/rich-text/RichText.svelte
  packages/atoms/text-field/TextField.svelte
  packages/atoms/toggle/Toggle.svelte
  packages/helpers/index.js
  packages/molecules/alert/Alert.svelte
  packages/molecules/breadcrumb/Breadcrumb.svelte
  packages/molecules/button/Button.stories.svelte
  packages/molecules/button/Button.svelte
  packages/molecules/button/styles.css
  packages/molecules/control/Control.svelte
  packages/molecules/menu/Menu.svelte
  packages/molecules/pagination/Pagination.svelte
  packages/molecules/password-strength/PasswordStrength.svelte
  packages/molecules/search/Search.svelte
  packages/organisms/accordion/Accordion.svelte
  packages/organisms/accordion/Item.svelte
  packages/organisms/card/Card.svelte
  packages/organisms/footer/Footer.svelte
  packages/organisms/footer/Minimal.svelte
  packages/organisms/form/Form.svelte
  packages/organisms/hero/Hero.svelte
  packages/organisms/navbar/Navbar.svelte
  packages/organisms/navbar/menu/A11yMenu.svelte
  packages/organisms/navbar/menu/AppsMenu.svelte
  packages/organisms/navbar/menu/LinksMenu.svelte
  packages/organisms/table/Datum.svelte
  packages/organisms/table/Row.svelte
  packages/organisms/table/Table.svelte
  packages/organisms/wizard/Wizard.svelte
Due: eslint --fix, prettier --write

feat(accordion): update Accordion to include Card context and alternative style
  packages/helpers/contexts.js
  packages/organisms/accordion/Accordion.stories.svelte
  packages/organisms/accordion/Accordion.svelte
  packages/organisms/accordion/styles.css
  packages/organisms/card/Card.svelte
Due: eslint --fix, prettier --write

fix(navbar): 🐛 added darkmode plugin to mange this
  packages/atoms/toggle/Toggle.stories.svelte
  packages/atoms/toggle/Toggle.svelte
  packages/organisms/hero/Hero.stories.svelte
  packages/organisms/hero/styles.css
  packages/organisms/navbar/Navbar.svelte
  packages/organisms/navbar/menu/A11yMenu.svelte
  packages/organisms/navbar/menu/AppsMenu.svelte
  packages/organisms/navbar/menu/LinksMenu.svelte
  packages/organisms/navbar/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix(navbar): 🐛 removed ssr breaking class update
  packages/organisms/navbar/menu/A11yMenu.svelte
Due: eslint --fix, prettier --write

feat(card): ✨ added states to cards for link cards
  packages/helpers/states.js
  packages/organisms/card/Card.stories.svelte
  packages/organisms/card/Card.svelte
  packages/organisms/card/styles.css
Due: eslint --fix, prettier --write

fix(hero): 🐛 corrected layout issue when cta is not present
  packages/organisms/hero/Hero.stories.svelte
  packages/organisms/hero/Hero.svelte
  packages/organisms/hero/styles.css
Due: eslint --fix, prettier --write

perf(navbar): ⚡️ replaced css selector with volatite logic
  packages/organisms/navbar/Navbar.svelte
Due: eslint --fix, prettier --write

fix(build): 🐛 📦️ missing files (commands executed in wrong dir)
  CHANGELOG.md
  lerna.json
  yarn.lock
Due: prettier --write

feat(heading): ✨ added heading component
  packages/atoms/icon/Icon.svelte
  packages/atoms/icon/styles.css
  packages/atoms/rich-text/RichText.svelte
  packages/atoms/rich-text/styles.css
  packages/helpers/contexts.js
  packages/helpers/sizes.js
  packages/molecules/heading/Heading.stories.mdx
  packages/molecules/heading/Heading.stories.svelte
  packages/molecules/heading/Heading.svelte
  packages/molecules/heading/Heading.test.js
  packages/molecules/heading/index.js
  packages/molecules/heading/package.json
  packages/molecules/heading/styles.css
  packages/organisms/card/Card.svelte
  yarn.lock
Due: eslint --fix, prettier --write

feat(contexts): ✨ adding additonal contexts for headings
  packages/helpers/contexts.js
  packages/molecules/heading/Heading.svelte
  packages/molecules/heading/styles.css
  packages/organisms/card/Card.stories.svelte
  packages/organisms/card/Card.svelte
  packages/organisms/hero/Hero.stories.svelte
  packages/organisms/hero/Hero.svelte
Due: eslint --fix, prettier --write

fix(card): 🐛 added a11y fixes for hover state cards
  packages/organisms/card/Card.stories.svelte
  packages/organisms/card/styles.css
Due: eslint --fix, prettier --write

fix(accordion): fixed Accordion context when in Card component
  packages/helpers/contexts.js
  packages/organisms/accordion/Accordion.stories.svelte
  packages/organisms/accordion/Accordion.svelte
  packages/organisms/card/Card.svelte
Due: eslint --fix, prettier --write

fix(hero): 🐛 updated grid layout
  packages/molecules/heading/styles.css
  packages/organisms/hero/styles.css
Due: none

fix(card): 🐛 addressing a11y issues with card variants and rich text
  packages/organisms/card/styles.css
  packages/organisms/footer/styles.css
Due: none

fix(hero): 🐛 adjusting image centering
  packages/organisms/hero/styles.css
Due: none

fix(accordion): 🐛 corrected selector
  packages/organisms/accordion/styles.css
Due: none

fix(helpers): 🐛 cleaned up regression with list leftover references
  packages/atoms/icon/Icon.svelte
  packages/helpers/contexts.js
  packages/helpers/types.js
  packages/molecules/menu/Menu.svelte
  packages/organisms/table/Datum.svelte
Due: eslint --fix, prettier --write

fix(wizard): 🐛 updating wizard dependencies
  packages/organisms/wizard/package.json
Due: prettier --write

feat(ctalist): add new ordered list component
  packages/organisms/cta-list/CHANGELOG.md
  packages/organisms/cta-list/CtaList.stories.mdx
  packages/organisms/cta-list/CtaList.stories.svelte
  packages/organisms/cta-list/CtaList.svelte
  packages/organisms/cta-list/index.js
  packages/organisms/cta-list/package.json
  packages/organisms/cta-list/storybook-views/Default.svelte
  packages/organisms/cta-list/styles.css
Due: eslint --fix, prettier --write

fix(toggle): 🐛 fixing issue with collapsing with long labels
  packages/atoms/toggle/styles.css
Due: none

feat(heading): ✨ headings now support a button slot
  packages/helpers/contexts.js
  packages/helpers/variants.js
  packages/molecules/heading/Heading.stories.svelte
  packages/molecules/heading/Heading.svelte
  packages/molecules/heading/styles.css
Due: eslint --fix, prettier --write

feat(ctalist): added ordered list component
  packages/helpers/variants.js
  packages/molecules/cta-list/CtaList.stories.mdx
  packages/molecules/cta-list/CtaList.stories.svelte
  packages/molecules/cta-list/CtaList.svelte
  packages/molecules/cta-list/Item.svelte
  packages/molecules/cta-list/index.js
  packages/molecules/cta-list/package.json
  packages/molecules/cta-list/storybook-views/Default.svelte
  packages/molecules/cta-list/styles.css
  packages/organisms/cta-list/CHANGELOG.md
  packages/organisms/cta-list/CtaList.stories.mdx
  packages/organisms/cta-list/CtaList.stories.svelte
  packages/organisms/cta-list/CtaList.svelte
  packages/organisms/cta-list/storybook-views/Default.svelte
  packages/organisms/cta-list/styles.css
  yarn.lock
Due: eslint --fix, prettier --write

feat(mnemonic): ✨ added new mnemonic component
  packages/atoms/text-field/TextField.svelte
  packages/atoms/text-field/styles.css
  packages/helpers/array-utils.js
  packages/helpers/contexts.js
  packages/helpers/types.js
  packages/molecules/breadcrumb/Breadcrumb.svelte
  packages/molecules/breadcrumb/styles.css
  packages/molecules/button/Button.svelte
  packages/molecules/heading/styles.css
  packages/molecules/mnemonic/Mnemonic.stories.mdx
  packages/molecules/mnemonic/Mnemonic.stories.svelte
  packages/molecules/mnemonic/Mnemonic.svelte
  packages/molecules/mnemonic/Mnemonic.test.js
  packages/molecules/mnemonic/Word.svelte
  packages/molecules/mnemonic/index.js
  packages/molecules/mnemonic/package.json
  packages/molecules/mnemonic/stores/options.js
  packages/molecules/mnemonic/stores/words.js
  packages/molecules/mnemonic/storybook/data.js
  packages/molecules/mnemonic/styles.css
  packages/molecules/password-strength/PasswordStrength.svelte
  packages/organisms/accordion/Accordion.svelte
  packages/organisms/accordion/stores/items.js
  packages/organisms/card/Card.stories.svelte
  packages/organisms/card/Card.svelte
  packages/organisms/card/styles.css
  packages/organisms/table/stores/state.js
  yarn.lock
Due: eslint --fix, prettier --write

fix(mnemonic): 🐛 fixed issue with setting values in auth mode
  packages/molecules/mnemonic/Mnemonic.stories.svelte
  packages/molecules/mnemonic/Mnemonic.svelte
  packages/molecules/mnemonic/Word.svelte
Due: eslint --fix, prettier --write
