Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

feat(form): ✨ added form (again) - this time with validation
  .storybook/main.cjs
  packages/atoms/progress-bar/ProgressBar.svelte
  packages/atoms/text-field/TextField.svelte
  packages/atoms/text-field/styles.css
  packages/atoms/toggle/Group.svelte
  packages/atoms/toggle/Toggle.svelte
  packages/helpers/contexts.js
  packages/helpers/index.js
  packages/helpers/widths.js
  packages/molecules/button/Button.svelte
  packages/molecules/control/Control.stories.svelte
  packages/molecules/control/Control.svelte
  packages/molecules/control/Message.svelte
  packages/molecules/control/styles.css
  packages/molecules/menu/Menu.svelte
  packages/molecules/password-strength/PasswordStrength.svelte
  packages/molecules/password-strength/styles.css
  packages/organisms/form/Form.stories.svelte
  packages/organisms/form/Form.svelte
  packages/organisms/form/Messages.svelte
  packages/organisms/form/package.json
  packages/styles/dusk.tailwind.config.cjs
  yarn.lock
Due: eslint --fix, prettier --write

fix(deps): 🐛 addming missing dep
  package.json
  yarn.lock
Due: prettier --write

fix(build): 🐛 📦️ fixing build config
  .storybook/main.cjs
Due: none

feat(fileupload): new file input component
  packages/helpers/contexts.js
  packages/molecules/control/Control.svelte
  packages/molecules/file-upload/FileUpload.stories.svelte
  packages/molecules/file-upload/FileUpload.svelte
  packages/molecules/file-upload/index.js
  packages/molecules/file-upload/package.json
  packages/molecules/file-upload/styles.css
  yarn.lock
Due: eslint --fix, prettier --write

refactor(table): ♻️ exporting rows from data store
  packages/organisms/table/Table.svelte
  packages/organisms/table/index.js
  yarn.lock
Due: eslint --fix, prettier --write

feat(control): ✨ exporting message component for more composition control
  packages/molecules/control/Control.svelte
  packages/molecules/control/Message.svelte
  packages/molecules/control/index.js
  packages/molecules/control/styles.css
  packages/organisms/form/styles.css
  packages/styles/dusk.tailwind.config.cjs
Due: eslint --fix, prettier --write

fix(text-field): 🐛 removed rest props as was overriding class
  packages/atoms/text-field/TextField.stories.svelte
  packages/atoms/text-field/TextField.svelte
Due: eslint --fix, prettier --write

feat(heading): ✨ added support for loading-indicator in headings
  packages/atoms/loading-indicator/LoadingIndicator.svelte
  packages/atoms/loading-indicator/styles.css
  packages/helpers/contexts.js
  packages/molecules/heading/Heading.stories.svelte
  packages/molecules/heading/Heading.svelte
Due: eslint --fix, prettier --write

feat(fileupload): new file input component
  packages/helpers/contexts.js
  packages/molecules/control/Control.svelte
  packages/molecules/file-upload/FileUpload.stories.svelte
  packages/molecules/file-upload/FileUpload.svelte
  packages/molecules/file-upload/styles.css
  packages/organisms/form/Form.svelte
Due: eslint --fix, prettier --write

feat(disclaimerlist): new disclaimer list component
  packages/molecules/disclaimer-list/DisclaimerList.stories.svelte
  packages/molecules/disclaimer-list/DisclaimerList.svelte
  packages/molecules/disclaimer-list/Item.svelte
  packages/molecules/disclaimer-list/index.js
  packages/molecules/disclaimer-list/package.json
  packages/molecules/disclaimer-list/styles.css
  yarn.lock
Due: eslint --fix, prettier --write

feat(disclaimerlist): new disclaimer list component
  packages/molecules/disclaimer-list/DisclaimerList.stories.svelte
  packages/molecules/disclaimer-list/Item.svelte
  packages/molecules/disclaimer-list/styles.css
Due: eslint --fix, prettier --write

docs(control): 📚️ added pre and post fixed button stories
  packages/atoms/text-field/TextField.svelte
  packages/molecules/control/Control.stories.svelte
  packages/molecules/control/styles.css
Due: eslint --fix, prettier --write

feat(search-list): add new search list component
  packages/organisms/search-list/SearchList.stories.svelte
  packages/organisms/search-list/SearchList.svelte
  packages/organisms/search-list/index.js
  packages/organisms/search-list/package.json
  packages/organisms/search-list/stores/data.js
  packages/organisms/search-list/styles.css
Due: eslint --fix, prettier --write

feat(disclaimer-list): ✨ adding dark mode and improving semantics
  packages/helpers/contexts.js
  packages/molecules/disclaimer-list/DisclaimerList.stories.mdx
  packages/molecules/disclaimer-list/DisclaimerList.stories.svelte
  packages/molecules/disclaimer-list/DisclaimerList.svelte
  packages/molecules/disclaimer-list/Item.svelte
  packages/molecules/disclaimer-list/styles.css
  packages/molecules/heading/Heading.svelte
  packages/molecules/heading/styles.css
Due: eslint --fix, prettier --write

Add code of conduct and issue templates
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/specs.md
Due: none

:recycle: replacing lerna cz config with gitmoji
  .changeset/config.json
  .releaserc.js
  babel.config.json
  commitlint.config.js
  lerna.json
  package.json
  storybook/package.json
  storybook/stories/meta.js
  yarn.lock
Due: eslint --fix, prettier --write

:wrench: updating the commit hook
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Due: prettier --write

:construction_worker: adding changeset ci config
  .github/workflows/release.yml
  .npmrc
  package.json
Due: prettier --write

:green_heart: removing syntax error
  .github/workflows/release.yml
Due: none

:green_heart: removed working-directory reference
  .github/workflows/release.yml
Due: none

feat(search-list): add new search list component
  packages/organisms/search-list/Item.svelte
  packages/organisms/search-list/SearchList.stories.svelte
  packages/organisms/search-list/SearchList.svelte
  packages/organisms/search-list/index.js
  packages/organisms/search-list/stores/data.js
  packages/organisms/search-list/stores/store.js
  packages/organisms/search-list/storybook/data.js
  packages/organisms/search-list/styles.css
  yarn.lock
Due: eslint --fix, prettier --write

feat(search-list): add new search list component
  packages/organisms/search-list/package.json
Due: prettier --write

refactor(search-list): refactored Item component to be highly composable
  packages/organisms/search-list/SearchList.stories.svelte
  packages/organisms/search-list/SearchList.svelte
  packages/organisms/search-list/package.json
Due: eslint --fix, prettier --write

:wrench: added publishConfig
  package.json
Due: prettier --write

:bookmark: testing changeset ci
  .changeset/config.json
  .changeset/five-dryers-protect.md
  .changeset/swift-kiwis-give.md
Due: prettier --write

:wrench: bumping versions manually
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
Due: prettier --write

:ambulance: missing lockfile updates
  .changeset/many-carrots-bake.md
  yarn.lock
Due: none

:loud_sound: adding changeset
  .changeset/ninety-wombats-try.md
Due: none

:green_heart: adding automated commit to ensure all packages are committed
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  package.json
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
  scripts/prechangeset.cjs
Due: prettier --write

🤖 updating all packages
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
Due: prettier --write
