Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: 🐛 updated some things to see if Travis likes it
  .travis.yml
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

refactor: ♻️ removed tested dependencies that are not used
  package-lock.json
  package.json
Due: prettier --write

docs: 📚️ added three column readme
  packages/templates/three-column/readme.stories.md
Due: none

docs: 📚️ added some additional documentation
  .eslintrc
  .storybook/config.js
  lerna.json
  package.json
  packages/molecules/dialog/Dialog.svelte
  yarn.lock
Due: eslint --fix, prettier --write

added indigo,blue and gold shades
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

feat: ✨ added tone concept and set up Cards for marketing tones
  packages/atoms/card/Card.stories.js
  packages/atoms/card/Card.svelte
  packages/atoms/card/storybook-views/Actions.svelte
  packages/atoms/card/storybook-views/Default.svelte
  packages/atoms/card/storybook-views/Footer.svelte
  packages/atoms/card/storybook-views/Title.svelte
  packages/atoms/card/styles.css
  packages/helpers/index.js
  packages/helpers/tones.js
  packages/styles/dusk.tailwind.config.js
  packages/styles/package.json
  packages/templates/three-column/readme.stories.md
Due: eslint --fix, prettier --write

chore: 🔧 limiting builds to only master branch
  .travis.yml
Due: none

feat: ✨ added marketing tone to buttons
  packages/atoms/button/Button.stories.js
  packages/atoms/button/Button.svelte
  packages/atoms/button/storybook-views/Default.svelte
  packages/atoms/button/storybook-views/Group.svelte
  packages/atoms/button/styles.css
  packages/helpers/tones.js
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

fix: 🐛 fixing dependencies
  packages/atoms/button/package.json
  packages/atoms/card/package.json
  packages/atoms/checkbox/package.json
  packages/atoms/icon/package.json
  packages/atoms/list/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/radio/package.json
  packages/atoms/switch/package.json
  packages/atoms/table/package.json
  packages/atoms/text-field/package.json
  packages/elements/package.json
  packages/molecules/alert/package.json
  packages/molecules/dialog/package.json
  packages/molecules/menu/package.json
  packages/organisms/drawer/package.json
  packages/organisms/navbar/package.json
  packages/templates/one-column/package.json
  packages/templates/three-column/package.json
  packages/templates/two-column/package.json
  yarn.lock
Due: prettier --write

orange 100 fixed
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

yellow 100 fixed
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

fix: 🐛 fixed navbar and updated styling
  packages/organisms/navbar/Navbar.svelte
  packages/organisms/navbar/storybook-views/Default.svelte
  packages/organisms/navbar/styles.css
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

feat: ✨ added Footer and Control
  package.json
  packages/atoms/text-field/TextField.stories.js
  packages/atoms/text-field/TextField.svelte
  packages/atoms/text-field/storybook-views/Default.svelte
  packages/atoms/text-field/styles.css
  packages/helpers/contexts.js
  packages/helpers/index.js
  packages/helpers/states.js
  packages/helpers/tones.js
  packages/helpers/types.js
  packages/helpers/variants.js
  packages/molecules/control/CHANGELOG.md
  packages/molecules/control/Control.stories.js
  packages/molecules/control/Control.svelte
  packages/molecules/control/index.js
  packages/molecules/control/package.json
  packages/molecules/control/readme.stories.md
  packages/molecules/control/storybook-views/Default.svelte
  packages/molecules/control/styles.css
  packages/molecules/menu/Menu.svelte
  packages/molecules/menu/styles.css
  packages/organisms/footer/CHANGELOG.md
  packages/organisms/footer/Footer.stories.js
  packages/organisms/footer/Footer.svelte
  packages/organisms/footer/Maximal.svelte
  packages/organisms/footer/Minimal.svelte
  packages/organisms/footer/index.js
  packages/organisms/footer/menu/CategoryMenu.svelte
  packages/organisms/footer/menu/LegalMenu.svelte
  packages/organisms/footer/menu/SocialMediaMenu.svelte
  packages/organisms/footer/package.json
  packages/organisms/footer/readme.stories.md
  packages/organisms/footer/storybook-views/Default.svelte
  packages/organisms/footer/styles.css
  packages/styles/dusk.tailwind.config.js
  packages/styles/package.json
  packages/styles/rollup-plugin-duk.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: ✨ added Form for wrapping Control and other fixes
  .yarnrc
  packages/atoms/date-picker/DatePicker.stories.js
  packages/atoms/date-picker/DatePicker.svelte
  packages/atoms/date-picker/storybook-views/Default.svelte
  packages/helpers/contexts.js
  packages/helpers/variants.js
  packages/molecules/control/Control.svelte
  packages/organisms/footer/package.json
  packages/pages/kitchen-sink/storybook-views/Default.svelte
  packages/styles/package.json
  packages/styles/rollup-plugin-duk.js
  yarn.lock
Due: eslint --fix, prettier --write

what
  package.json
  packages/organisms/footer/Footer.svelte
  packages/styles/package.json
  packages/styles/postcss.config.js
  packages/styles/rollup-plugin-duk.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: this should trigger a release!
  packages/styles/postcss.config.js
Due: eslint --fix, prettier --write

refactor: ♻️ cleaned up Footer
  packages/organisms/footer/Maximal.svelte
  packages/organisms/footer/package.json
  packages/styles/postcss.config.js
Due: eslint --fix, prettier --write

fix: 🐛 fixed typo causing menu styling issue
  packages/organisms/footer/Footer.stories.js
  packages/organisms/footer/menu/LegalMenu.svelte
Due: eslint --fix, prettier --write

fix: 🐛 refactoring rotation config
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

fix: 🐛 fixed production footer csspurge issue
  packages/organisms/footer/Footer.svelte
Due: eslint --fix, prettier --write

feat: ✨ add GH action file to publish storybook
  .github/workflows/storybook-publish.yml
Due: none

feat: support for rollup 2.x
  packages/styles/package.json
  packages/styles/rollup-plugin-duk.js
  packages/styles/snowpack-plugin-duk.js
Due: eslint --fix, prettier --write

clean up
  .babelrc
  .gitignore
  .nvmrc
  .storybook/main.js
  .storybook/preview.js
  __mocks__/fileMock.js
  __mocks__/main.js
  __mocks__/styleMock.js
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  packages/atoms/button/Button.stories.js
  packages/atoms/button/Button.test.js
  packages/atoms/date-picker/package.json
  packages/templates/views/blog/ContentPreview.svelte
  rollup.config.js
  stories/Button.stories.js
  stories/Button.svelte
  stories/Header.stories.js
  stories/Header.svelte
  stories/Introduction.stories.mdx
  stories/Page.stories.js
  stories/Page.svelte
  stories/assets/code-brackets.svg
  stories/assets/colors.svg
  stories/assets/comments.svg
  stories/assets/direction.svg
  stories/assets/flow.svg
  stories/assets/plugin.svg
  stories/assets/repo.svg
  stories/assets/stackalt.svg
  stories/button.css
  stories/header.css
  stories/page.css
  yarn.lock
Due: eslint --fix, prettier --write

feat: new Navbar component
  .storybook/main.js
  packages/atoms/button/storybook-views/Default.svelte
  packages/atoms/text-field/styles.css
  packages/helpers/variants.js
  packages/organisms/navbar/Navbar.stories.js
  packages/organisms/navbar/Navbar.svelte
  packages/organisms/navbar/storybook-views/Default.svelte
  packages/organisms/navbar/styles.css
Due: eslint --fix, prettier --write

refactor: ♻️ removed tones from configurations
  .eslintrc
  package.json
  packages/atoms/button/Button.stories.js
  packages/atoms/button/Button.svelte
  packages/atoms/button/storybook-views/Default.svelte
  packages/atoms/button/storybook-views/Group.svelte
  packages/atoms/card/Card.stories.js
  packages/atoms/card/Card.svelte
  packages/atoms/card/storybook-views/Actions.svelte
  packages/atoms/card/storybook-views/Default.svelte
  packages/atoms/card/storybook-views/Footer.svelte
  packages/atoms/card/storybook-views/Title.svelte
  packages/atoms/date-picker/DatePicker.stories.js
  packages/atoms/date-picker/DatePicker.svelte
  packages/atoms/date-picker/storybook-views/Default.svelte
  packages/atoms/switch/Switch.stories.js
  packages/atoms/switch/Switch.svelte
  packages/atoms/switch/storybook-views/Default.svelte
  packages/atoms/text-field/TextField.svelte
  packages/helpers/index.js
  packages/helpers/tones.js
  packages/molecules/control/Control.stories.js
  packages/molecules/control/Control.svelte
  packages/molecules/control/storybook-views/Default.svelte
  packages/organisms/cookie-banner/CookieBanner.stories.js
  packages/organisms/cookie-banner/CookieBanner.svelte
  packages/organisms/cookie-banner/storybook-views/Default.svelte
  packages/organisms/footer/Footer.stories.js
  packages/organisms/footer/Footer.svelte
  packages/organisms/footer/Maximal.svelte
  packages/organisms/footer/menu/Newsletter.svelte
  packages/organisms/footer/storybook-views/Default.svelte
  packages/organisms/form/Form.stories.js
  packages/organisms/form/Form.svelte
  packages/organisms/form/storybook-views/Default.svelte
  packages/organisms/navbar/styles.css
  yarn.lock
Due: eslint --fix, prettier --write

fix: 🐛 removed test instruction from pre-commit hook
  package.json
Due: prettier --write

refactor: ♻️ removed Travis CI config
  .travis.yml
Due: none

chore: 🔧 upgraded dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: 🐛 add rollup global on gh pages workflow
  .github/workflows/storybook-publish.yml
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
