Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

:recycle: refactored UI Kit Toggle docs example
  examples/src/atoms/toggle/Toggle_01.svelte
  examples/src/atoms/toggle/Toggle_02.svelte
  examples/src/atoms/toggle/Toggle_03.svelte
  examples/src/atoms/toggle/Toggle_04.svelte
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/atoms/toggle/README.md
Due: none

:heavy_plus_sign: integrating with hygen
  package.json
  pnpm-lock.yaml
Due: prettier --write

:ambulance: updating script path for prechangeset
  package.json
  scripts/prechangeset.js
Due: eslint --fix, prettier --write

:ambulance: reverting script name changes and updating paths
  package.json
  scripts/prechangeset.cjs
Due: prettier --write

🤖 (auto-commit) preparing packages for changeset
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/search-list/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
Due: prettier --write

:bookmark: releasing 4.0.1
  .changeset/angry-bears-suffer.md
Due: none

:package: moving all deps to dependencies block
  packages/styles/package.json
Due: prettier --write

:bookmark: releasing 4.0.2
  .changeset/shiny-parents-wash.md
Due: none

:sparkles: UI Kit component generator
  .prettierignore
  _templates/generator/help/index.ejs.t
  _templates/generator/new/hello.ejs.t
  _templates/generator/with-prompt/hello.ejs.t
  _templates/generator/with-prompt/prompt.js
  _templates/kit/new/component.ejs.t
  _templates/kit/new/new-index.ejs.t
  _templates/kit/new/package.ejs.t
  _templates/kit/new/style.ejs.t
  _templates/kit/new/test.ejs.t
  package.json
Due: eslint --fix, prettier --write

:sparkles: setting up CLI select for component generator
  _templates/generator/with-prompt/prompt.js
  _templates/kit/new/prompt.js
  _templates/package.json
Due: eslint --fix, prettier --write

:sparkles: added a generator for UI Kit docs example
  _templates/docs-example/new/example.ejs.t
  _templates/docs-example/new/new-index.ejs.t
  _templates/docs-example/new/prompt.js
Due: eslint --fix, prettier --write

:sparkles: updating rollup plugin for extension integration
  packages/styles/package.json
  packages/styles/plugin/rollup-plugin-dusk.cjs
Due: prettier --write

:bookmark: adding changeset for 4.0.3 release
  .changeset/violet-candles-give.md
Due: none

deploy: e8b83c94e01edd9d03c6c49cca8cbd171f669c29
  storybook/assets/Color.166fd7be.js
  storybook/assets/Color.166fd7be.js.map
  storybook/assets/Color.952d7b0a.js
  storybook/assets/Color.952d7b0a.js.map
  storybook/assets/GlobalScrollAreaStyles.4e4a5d8d.js
  storybook/assets/GlobalScrollAreaStyles.4e4a5d8d.js.map
  storybook/assets/GlobalScrollAreaStyles.83be17af.js
  storybook/assets/GlobalScrollAreaStyles.83be17af.js.map
  storybook/assets/OverlayScrollbars.31313543.js
  storybook/assets/OverlayScrollbars.31313543.js.map
  storybook/assets/OverlayScrollbars.35c22c70.js.map
  storybook/assets/WithTooltip.29f3e123.js
  storybook/assets/WithTooltip.29f3e123.js.map
  storybook/assets/WithTooltip.6538c7fa.js
  storybook/assets/WithTooltip.6538c7fa.js.map
  storybook/assets/iframe.2bfe5372.css
  storybook/assets/iframe.a33b80a6.js.map
  storybook/assets/iframe.be58035b.css
  storybook/assets/iframe.ce371b81.js
  storybook/assets/iframe.ce371b81.js.map
  storybook/assets/syntaxhighlighter.45919f69.js.map
  storybook/assets/syntaxhighlighter.ca88a2d8.js
  storybook/assets/syntaxhighlighter.ca88a2d8.js.map
  storybook/assets/vendor.42ed6942.js.map
  storybook/assets/vendor.54327131.js
  storybook/assets/vendor.54327131.js.map
  storybook/iframe.html
  storybook/index.html
  storybook/vendors~main.4175202ef6ba0e4ecf44.manager.bundle.js
  storybook/vendors~main.b7d308fb02ef275b1778.manager.bundle.js
  storybook/vendors~main.b7d308fb02ef275b1778.manager.bundle.js.LICENSE.txt
Due: eslint --fix, prettier --write

:sparkles: RichText context for Accordion UI Kit component
  packages/atoms/rich-text/RichText.svelte
  packages/helpers/contexts.js
  packages/organisms/accordion/Accordion.svelte
  packages/organisms/accordion/styles.css
  storybook/stories/organisms/accordion/Accordion.stories.svelte
Due: eslint --fix, prettier --write

:pencil2: correcting import case
  examples/src/molecules/index.js
Due: eslint --fix, prettier --write

:pencil: updating readme
  readme.md
Due: none

:wrench: Update the generator config
  _templates/kit/new/component.ejs.t
  _templates/kit/new/new-index.ejs.t
  _templates/kit/new/package.ejs.t
  _templates/kit/new/prompt.js
  _templates/kit/new/style.ejs.t
  _templates/kit/new/test.ejs.t
  packages/templates/explorer-homepage/ExplorerHomepage.svelte
  packages/templates/explorer-homepage/ExplorerHomepage.test.js
  packages/templates/explorer-homepage/index.js
  packages/templates/explorer-homepage/package.json
  packages/templates/explorer-homepage/style.css
  packages/templates/explorer-list/ExplorerList.svelte
  packages/templates/explorer-list/ExplorerList.test.js
  packages/templates/explorer-list/index.js
  packages/templates/explorer-list/package.json
  packages/templates/explorer-list/style.css
  storybook/stories/templates/explorer-homepage/ExplorerHomepage.stories.svelte
Due: eslint --fix, prettier --write

:bug: Allow tooltips to display and expose store via index imports
  packages/organisms/table/index.js
  packages/organisms/table/stores/data.js
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

:sparkles: Add explorer detail template
  docs/svelte.config.js
  packages/templates/explorer-detail/ExplorerDetail.svelte
  packages/templates/explorer-detail/ExplorerDetail.test.js
  packages/templates/explorer-detail/index.js
  packages/templates/explorer-detail/package.json
  packages/templates/explorer-detail/style.css
Due: eslint --fix, prettier --write

🤖 (auto-commit) preparing packages for changeset
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/search-list/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
  packages/templates/explorer-detail/package.json
  packages/templates/explorer-homepage/package.json
  packages/templates/explorer-list/package.json
Due: prettier --write

:bookmark: Release 4.0.4
  .changeset/three-roses-watch.md
Due: none

deploy: e9149e212ac1a833ecf5e5cc44f71d9b4b5b32d1
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
  docs/index.html
Due: none

Update issues link in readme
  readme.md
Due: none

deploy: 6eec1308e8ebb8432a45e24fd69ecd511ed03fdd
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
  docs/index.html
Due: none

:bug: FileUpload input fix
  packages/molecules/file-upload/FileUpload.svelte
Due: eslint --fix, prettier --write

:construction_worker: Add postchangeset script and update Chromatic job
  .github/workflows/chromatic.yml
  .gitignore
  package.json
  scripts/postchangeset.cjs
Due: prettier --write

4.0.4
  package.json
Due: prettier --write
