Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

:sparkles: Wallet Create Options page in Storybook
  storybook/static/hardware.png
  storybook/static/keystore.svg
  storybook/static/security.png
  storybook/static/seed.svg
  storybook/stories/pages/wallet/wallet-create-options/WalletCreateOptions.stories.svelte
  storybook/stories/pages/wallet/wallet-create-options/styles.css
Due: eslint --fix, prettier --write

:wrench: add Wallet pages style imports to Storybook
  storybook/.storybook/preview.js
Due: eslint --fix, prettier --write

:sparkles: Storybook Wallet Access Options page
  storybook/stories/pages/wallet/wallet-access-options/WalletAccessOptions.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Storybook Wallet Create Seed
  storybook/.storybook/preview.js
  storybook/stories/pages/wallet/wallet-create-seed/WalletCreateSeed.stories.svelte
  storybook/stories/pages/wallet/wallet-create-seed/seed.mock.js
  storybook/stories/pages/wallet/wallet-create-seed/styles.css
Due: eslint --fix, prettier --write

:sparkles: Storybook Wallet Create Keystore
  storybook/.storybook/preview.js
  storybook/stories/pages/wallet/wallet-create-keystore/WalletCreateKeystore.stories.svelte
  storybook/stories/pages/wallet/wallet-create-keystore/styles.css
Due: eslint --fix, prettier --write

:recycle: Storybook Wallet Create Seed name change
  storybook/stories/pages/wallet/wallet-create-seed/WalletCreateSeed.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Storybook Wallet Access Seed
  storybook/.storybook/preview.js
  storybook/stories/pages/wallet/wallet-access-seed/WalletAccessSeed.stories.svelte
  storybook/stories/pages/wallet/wallet-access-seed/styles.css
Due: eslint --fix, prettier --write

:recycle: refactor Wallet pages styles import
  storybook/.storybook/preview.js
  storybook/stories/pages/wallet/styles.css
Due: eslint --fix, prettier --write

:sparkles: Storybook Wallet Access Keystore page
  storybook/stories/pages/wallet/wallet-access-keystore/WalletAccessKeystore.stories.svelte
  storybook/stories/pages/wallet/wallet-access-keystore/styles.css
Due: eslint --fix, prettier --write

:dizzy: remove transition from SearchList component
  packages/organisms/search-list/SearchList.svelte
  packages/organisms/search-list/styles.css
Due: eslint --fix, prettier --write

:heavy_plus_sign: Add QRcode Storybook dep
  storybook/package.json
Due: prettier --write

:sparkles: Storybook Wallet Dashboard page
  storybook/stories/pages/wallet/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/WalletDashboard.stories.svelte
  storybook/stories/pages/wallet/wallet-dashboard/mock-data.js
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-address/WalletAddress.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-address/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-balance/WalletBalance.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-balance/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-network/WalletNetwork.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-network/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-token/WalletToken.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-token/mock-data.js
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-token/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/WalletTransactions.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/mock-data.js
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transfer/WalletTransfer.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transfer/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/styles.css
Due: eslint --fix, prettier --write

:art: Breadcrumb Wizard context style update
  packages/molecules/breadcrumb/styles.css
Due: none

:fire: Prune outdated styles
  storybook/stories/pages/wallet/wallet-create-options/styles.css
Due: none

:recycle: Storybook Wallet Options pages Heading refactor
  storybook/stories/pages/wallet/wallet-access-options/WalletAccessOptions.stories.svelte
  storybook/stories/pages/wallet/wallet-create-options/WalletCreateOptions.stories.svelte
Due: eslint --fix, prettier --write

:recycle: Storybook Wallet Homepage Headings refactor
  storybook/stories/pages/wallet/wallet-homepage/WalletHomepage.stories.svelte
  storybook/stories/pages/wallet/wallet-homepage/styles.css
Due: eslint --fix, prettier --write

:sparkles: Storybook Wallet FAQ page
  storybook/stories/pages/wallet/wallet-faq/WalletFaq.stories.svelte
Due: eslint --fix, prettier --write

:fire: UI Kit Address style file
  packages/atoms/address/style.css
Due: none

:sparkles: UI Kit Address Dark mode
  packages/atoms/address/styles.css
Due: none

:sparkles: UI Kit icons
  packages/atoms/icon/icons/HardwareOutline.svelte
  packages/atoms/icon/icons/KeystoreFileOutline.svelte
  packages/atoms/icon/icons/SeedPhraseOutline.svelte
  packages/atoms/icon/icons/index.js
  packages/helpers/icons.js
Due: eslint --fix, prettier --write

:recycle: Storybook Wallet pages
  packages/templates/wallet-dashboard/styles.css
  storybook/stories/pages/wallet/wallet-access-options/WalletAccessOptions.stories.svelte
  storybook/stories/pages/wallet/wallet-create-options/WalletCreateOptions.stories.svelte
  storybook/stories/pages/wallet/wallet-create-options/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-address/WalletAddress.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-address/styles.css
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/WalletTransactions.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/mock-data.js
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transfer/WalletTransfer.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transfer/styles.css
  storybook/stories/pages/wallet/wallet-homepage/WalletHomepage.stories.svelte
  storybook/stories/pages/wallet/wallet-homepage/styles.css
Due: eslint --fix, prettier --write

:bug: Storybook Wallet Dasboard page mock data
  storybook/stories/pages/wallet/wallet-dashboard/mock-data.js
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transactions/mock-data.js
Due: eslint --fix, prettier --write

:bug: UI Kit Date Text deps import
  packages/atoms/date-text/DateText.svelte
Due: eslint --fix, prettier --write

:bookmark: Release 4.1.2
  .changeset/late-bikes-protect.md
Due: none

:bookmark: Release 4.1.2
  .changeset/fair-dots-jog.md
  .changeset/late-bikes-protect.md
Due: none

:heavy_plus_sign: Docs svelte-dark-mode devDep
  docs/package.json
Due: prettier --write

:sparkles: UI Kit QR code component
  packages/atoms/qr-code/QrCode.svelte
  packages/atoms/qr-code/QrCode.test.js
  packages/atoms/qr-code/index.js
  packages/atoms/qr-code/package.json
  packages/atoms/qr-code/styles.css
Due: eslint --fix, prettier --write

:sparkles: Storybook QR Code story
  storybook/package.json
  storybook/stories/atoms/qr-code/QrCode.stories.svelte
Due: eslint --fix, prettier --write

:pencil: QR Code example
  examples/package.json
  examples/pnpm-lock.yaml
  examples/src/atoms/index.js
  examples/src/atoms/qr-code/QrCode_01.svelte
  examples/src/atoms/qr-code/index.js
Due: eslint --fix, prettier --write

:white_check_mark: disabling QR Code component test
  packages/atoms/qr-code/QrCode.test.js
Due: eslint --fix, prettier --write

:white_check_mark: QR Code mock test
  packages/atoms/qr-code/QrCode.test.js
Due: eslint --fix, prettier --write

:bulb: updating QR Code component code comments
  packages/atoms/qr-code/QrCode.svelte
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

:pencil: enabling QR Code docs example
  examples/src/atoms/qr-code/QrCode_01.svelte
Due: eslint --fix, prettier --write

:bookmark: Release 4.1.2
  .changeset/empty-walls-film.md
  package.json
Due: prettier --write

:sparkles: Storybook Templates loading and error slots
  packages/templates/devops-centered/DevopsCentered.svelte
  packages/templates/devops-dashboard/DevopsDashboard.svelte
  packages/templates/explorer-charts/ExplorerCharts.svelte
  packages/templates/explorer-detail/ExplorerDetail.svelte
  packages/templates/explorer-homepage/ExplorerHomepage.svelte
  packages/templates/explorer-list/ExplorerList.svelte
  packages/templates/extension-default/ExtensionDefault.svelte
  packages/templates/wallet-dashboard/WalletDashboard.svelte
  packages/templates/wallet-homepage/WalletHomepage.svelte
  packages/templates/wallet-option/WalletOption.svelte
  packages/templates/wallet-wizard/WalletWizard.svelte
Due: eslint --fix, prettier --write

:sparkles: Skeleton Loader UI Kit component
  packages/helpers/variants.js
  packages/molecules/skeleton-loader/Item.svelte
  packages/molecules/skeleton-loader/SkeletonLoader.svelte
  packages/molecules/skeleton-loader/SkeletonLoader.test.js
  packages/molecules/skeleton-loader/index.js
  packages/molecules/skeleton-loader/package.json
  packages/molecules/skeleton-loader/styles.css
  storybook/package.json
Due: eslint --fix, prettier --write

:sparkles: Storybook Skeleton Loader story
  storybook/stories/molecules/skeleton-loader/SkeletonLoader.stories.mdx
  storybook/stories/molecules/skeleton-loader/SkeletonLoader.stories.svelte
Due: eslint --fix, prettier --write

:recycle: Storybook Wallet Templates placeholder heights
  packages/templates/wallet-dashboard/styles.css
  packages/templates/wallet-homepage/styles.css
  storybook/stories/templates/wallet/wallet-dashboard/WalletDashboard.stories.svelte
  storybook/stories/templates/wallet/wallet-homepage/WalletHomepage.stories.svelte
  storybook/stories/templates/wallet/wallet-option/WalletOption.stories.svelte
  storybook/stories/templates/wallet/wallet-wizard/WalletWizard.stories.svelte
Due: eslint --fix, prettier --write

:recycle: Refactor Skeleton Loader as an atom
  packages/atoms/skeleton-loader/Item.svelte
  packages/atoms/skeleton-loader/SkeletonLoader.svelte
  packages/atoms/skeleton-loader/SkeletonLoader.test.js
  packages/atoms/skeleton-loader/index.js
  packages/atoms/skeleton-loader/package.json
  packages/atoms/skeleton-loader/styles.css
  storybook/stories/atoms/skeleton-loader/SkeletonLoader.stories.mdx
  storybook/stories/atoms/skeleton-loader/SkeletonLoader.stories.svelte
Due: eslint --fix, prettier --write
