Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:lipstick: Increase chart y axis scale
  packages/molecules/chart/charts/Line.svelte
Due: eslint --fix, prettier --write

:fire: Remove SVG placeholder plugin
  storybook/package.json
  storybook/stories/templates/_Placeholder.svelte
  storybook/stories/templates/devops/devop-centered/DevopsCentered.stories.svelte
  storybook/stories/templates/devops/devops-dashboard/DevopsDashboard.stories.svelte
  storybook/stories/templates/explorer/explorer-charts/ExplorerCharts.stories.svelte
  storybook/stories/templates/explorer/explorer-detail/ExplorerDetail.stories.svelte
  storybook/stories/templates/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
  storybook/stories/templates/explorer/explorer-list/ExplorerList.stories.svelte
Due: eslint --fix, prettier --write

:fire: Clean commentted code
  packages/molecules/chart/Chart.svelte
Due: eslint --fix, prettier --write

:lipstick: Tweak Statistic styling
  packages/molecules/statistic/styles.css
Due: none

:iphone: Adjust scrolling behavior by viewport
  packages/organisms/table/styles.css
Due: none

:lipstick: Increase blockchain-data slot placeholder height
  storybook/stories/templates/explorer/explorer-charts/ExplorerCharts.stories.svelte
Due: eslint --fix, prettier --write

:wrench: Add links plugin
  storybook/.storybook/main.js
Due: eslint --fix, prettier --write

:sparkles: Add extension templates and stories
  packages/templates/extension-default/ExtensionDefault.svelte
  packages/templates/extension-default/ExtensionDefault.test.js
  packages/templates/extension-default/index.js
  packages/templates/extension-default/package.json
  packages/templates/extension-default/styles.css
  storybook/package.json
  storybook/stories/templates/_Placeholder.svelte
  storybook/stories/templates/extension/extension-authentication/ExtensionAuthentication.stories.svelte
  storybook/stories/templates/extension/extension-connection/ExtensionConnection.stories.svelte
  storybook/stories/templates/extension/extension-generation/ExtensionGeneration.stories.svelte
  storybook/stories/templates/extension/extension-welcome/ExtensionWelcome.stories.svelte
Due: eslint --fix, prettier --write

:bento: Add new icon for connection
  packages/atoms/icon/Icon.svelte
  packages/atoms/icon/icons/index.js
  packages/helpers/icons.js
Due: eslint --fix, prettier --write

:sparkles: Add browser extension pages
  packages/atoms/icon/icons/Connection.svelte
  packages/templates/extension-default/ExtensionDefault.svelte
  packages/templates/extension-default/styles.css
  storybook/stories/organisms/wizard/Wizard.stories.svelte
  storybook/stories/pages/extension/_Logo.svelte
  storybook/stories/pages/extension/extension-authentication/ExtensionAuthentication.stories.svelte
  storybook/stories/pages/extension/extension-connection/ExtensionConnection.stories.svelte
  storybook/stories/pages/extension/extension-connection/_Wizard.svelte
  storybook/stories/pages/extension/extension-generation/ExtensionGeneration.stories.svelte
  storybook/stories/pages/extension/extension-welcome/ExtensionWelcome.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Wallet Homepate template and story
  packages/templates/wallet-homepage/WalletHomepage.svelte
  packages/templates/wallet-homepage/WalletHomepage.test.js
  packages/templates/wallet-homepage/index.js
  packages/templates/wallet-homepage/package.json
  packages/templates/wallet-homepage/styles.css
  pnpm-lock.yaml
  storybook/package.json
  storybook/stories/templates/wallet/wallet-homepage/WalletHomepage.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Add new EyeOff icon
  packages/atoms/icon/icons/EyeOffOutline.svelte
  packages/atoms/icon/icons/index.js
  packages/helpers/icons.js
Due: eslint --fix, prettier --write

:lipstick: Add alignment props for Button Group
  packages/molecules/button/Group.svelte
  packages/molecules/button/styles.css
Due: eslint --fix, prettier --write

:lipstick: Upate Heading to allow other tags like strong
  packages/molecules/heading/Heading.svelte
  packages/molecules/heading/styles.css
  storybook/stories/molecules/heading/Heading.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Allow Mnemonic to be disabled
  packages/molecules/mnemonic/Mnemonic.svelte
  packages/molecules/mnemonic/Word.svelte
Due: eslint --fix, prettier --write

:ambulance: Add fix for circular Button as a prefixed Control
  packages/molecules/control/styles.css
Due: none

:sparkles: Add alignment control for Card Content
  packages/organisms/card/Content.svelte
  packages/organisms/card/styles.css
Due: eslint --fix, prettier --write

:lipstick: Tweak extension template margins
  packages/templates/default/styles.css
  packages/templates/extension-default/styles.css
Due: none

:construction: Update devops pages with latest
  storybook/stories/pages/devops/devops-authentication/DevopsAuthentication.stories.svelte
  storybook/stories/pages/devops/devops-deploy-network/DevopsDeployNetwork.stories.svelte
Due: eslint --fix, prettier --write

:construction: Add updates to extension pages
  storybook/stories/pages/extension/_Logo.svelte
  storybook/stories/pages/extension/extension-authentication/ExtensionAuthentication.stories.svelte
  storybook/stories/pages/extension/extension-connection/ExtensionConnection.stories.svelte
  storybook/stories/pages/extension/extension-connection/_Connection.svelte
  storybook/stories/pages/extension/extension-connection/_Heading.svelte
  storybook/stories/pages/extension/extension-connection/_Wizard.svelte
  storybook/stories/pages/extension/extension-generation/ExtensionGeneration.stories.svelte
  storybook/stories/pages/extension/extension-welcome/ExtensionWelcome.stories.svelte
  storybook/stories/templates/extension/extension-generation/ExtensionGeneration.stories.svelte
Due: eslint --fix, prettier --write

:wrench: Add clean scripts
  package.json
Due: prettier --write

:ambulance: Make DateText build
  packages/atoms/date-text/DateText.svelte
  packages/atoms/date-text/DateText.test.js
Due: eslint --fix, prettier --write

:rotating_light: Removing console warnings
  packages/molecules/breadcrumb/Item.svelte
  packages/molecules/menu/Item.svelte
  packages/organisms/footer/Footer.svelte
  packages/organisms/table/Datum.svelte
Due: eslint --fix, prettier --write

:lipstick: Reduce Card Title margin
  packages/organisms/card/styles.css
Due: none

:lipstick: Increase template heading specificity
  packages/templates/explorer-charts/styles.css
Due: none

:sparkles: Add price information to charts
  storybook/stories/pages/explorer/explorer-charts/ExplorerCharts.stories.svelte
Due: eslint --fix, prettier --write

deploy: 014911f6af6ddc24005ee68f04e2c3c1b72f3213
  docs/components.json
  docs/helpers/charts/index.html
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
  docs/index.html
  docs/internal/assets/Content-8db9021e.css
  docs/internal/assets/Content-c5e412c2.css
  docs/internal/chunks/Content-351f4297.js
  docs/internal/chunks/Content-64bd8443.js
  docs/internal/chunks/Footer-1d772f9e.js
  docs/internal/chunks/Footer-c6d5659f.js
  docs/internal/chunks/Sidebar-62f463d1.js
  docs/internal/chunks/Sidebar-90387304.js
  docs/internal/chunks/index-af0f5029.js
  docs/internal/chunks/index-e1d1e216.js
  docs/internal/chunks/states-2e271bb3.js
  docs/internal/pages/__layout.svelte-1607a7f5.js
  docs/internal/pages/__layout.svelte-e759cf74.js
  docs/internal/pages/components/_group_/__layout.svelte-034ddabf.js
  docs/internal/pages/components/_group_/__layout.svelte-d8fa399d.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-503a6a4b.js
  docs/internal/pages/components/_group_/_package_/_component_/index.svelte-7d0069f7.js
  docs/internal/pages/helpers/__layout.svelte-a1430421.js
  docs/internal/pages/helpers/__layout.svelte-b28302ba.js
  docs/internal/pages/helpers/_helper_/index.svelte-989e70d7.js
  docs/internal/pages/helpers/_helper_/index.svelte-d3cdfab5.js
  docs/internal/start-0169cced.js
  docs/internal/start-65dd7d76.js
Due: eslint --fix, prettier --write

deploy: 014911f6af6ddc24005ee68f04e2c3c1b72f3213
  storybook/assets/Color.84ad5080.js
  storybook/assets/Color.84ad5080.js.map
  storybook/assets/Color.9a9165f4.js
  storybook/assets/Color.9a9165f4.js.map
  storybook/assets/GlobalScrollAreaStyles.0aedafe2.js
  storybook/assets/GlobalScrollAreaStyles.0aedafe2.js.map
  storybook/assets/GlobalScrollAreaStyles.3327604f.js
  storybook/assets/GlobalScrollAreaStyles.3327604f.js.map
  storybook/assets/OverlayScrollbars.69347872.js
  storybook/assets/OverlayScrollbars.69347872.js.map
  storybook/assets/OverlayScrollbars.f8f87b52.js
  storybook/assets/OverlayScrollbars.f8f87b52.js.map
  storybook/assets/WithTooltip.8aeb7024.js
  storybook/assets/WithTooltip.8aeb7024.js.map
  storybook/assets/WithTooltip.f7d2d8fc.js
  storybook/assets/WithTooltip.f7d2d8fc.js.map
  storybook/assets/axe.7252391e.js
  storybook/assets/axe.7252391e.js.map
  storybook/assets/axe.8ba89f1f.js.map
  storybook/assets/iframe.51b33a7a.js
  storybook/assets/iframe.51b33a7a.js.map
  storybook/assets/iframe.7b247e10.css
  storybook/assets/iframe.95186be2.js
  storybook/assets/iframe.95186be2.js.map
  storybook/assets/iframe.cac8cc4b.css
  storybook/assets/index.160e1318.js.map
  storybook/assets/index.b9514e8a.js
  storybook/assets/index.b9514e8a.js.map
  storybook/assets/renderDocs.b3901d51.js
  storybook/assets/renderDocs.b3901d51.js.map
  storybook/assets/renderDocs.bdddab8a.js
  storybook/assets/renderDocs.bdddab8a.js.map
  storybook/assets/syntaxhighlighter.1b992e55.js.map
  storybook/assets/syntaxhighlighter.2e99ceec.js
  storybook/assets/syntaxhighlighter.2e99ceec.js.map
  storybook/assets/vendor.3288166b.js
  storybook/assets/vendor.3288166b.js.map
  storybook/assets/vendor.4c5b8fa4.js.map
  storybook/iframe.html
Due: eslint --fix, prettier --write

:package: Bump new packages to current global version
  packages/atoms/address/package.json
  packages/atoms/chip/package.json
  packages/atoms/date-text/package.json
  packages/atoms/truncate-text/package.json
  packages/molecules/chart/package.json
  packages/molecules/statistic/package.json
  packages/organisms/error-block/package.json
  packages/templates/default/package.json
  packages/templates/extension-default/package.json
  storybook/stories/pages/explorer/explorer-charts/ExplorerCharts.stories.svelte
Due: eslint --fix, prettier --write

:bookmark: Release 4.1.0
  .changeset/config.json
  .changeset/weak-pianos-boil.md
  package.json
Due: prettier --write

:clown_face: Update viewport settings to emulate an extension
  packages/templates/extension-default/styles.css
  storybook/stories/pages/extension/extension-authentication/ExtensionAuthentication.stories.svelte
  storybook/stories/pages/extension/extension-connection/ExtensionConnection.stories.svelte
  storybook/stories/pages/extension/extension-generation/ExtensionGeneration.stories.svelte
  storybook/stories/pages/extension/extension-welcome/ExtensionWelcome.stories.svelte
  storybook/stories/pages/extension/viewports.js
Due: eslint --fix, prettier --write

:wrench: Update viewport and darkmode settings per story
  storybook/stories/organisms/navbar/Navbar.stories.svelte
  storybook/stories/pages/devops/devops-authentication/DevopsAuthentication.stories.svelte
  storybook/stories/pages/devops/devops-dashboard/DevopsDashboard.stories.svelte
  storybook/stories/pages/devops/devops-deploy-network/DevopsDeployNetwork.stories.svelte
  storybook/stories/pages/explorer/explorer-block/ExplorerBlocks.stories.svelte
  storybook/stories/pages/explorer/explorer-charts/ExplorerCharts.stories.svelte
  storybook/stories/pages/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
  storybook/stories/pages/explorer/explorer-transaction/ExplorerTransaction.stories.svelte
  storybook/stories/pages/extension/extension-authentication/ExtensionAuthentication.stories.svelte
  storybook/stories/pages/extension/extension-connection/ExtensionConnection.stories.svelte
  storybook/stories/pages/extension/extension-generation/ExtensionGeneration.stories.svelte
  storybook/stories/pages/extension/extension-welcome/ExtensionWelcome.stories.svelte
Due: eslint --fix, prettier --write

deploy: 7dd221111e7ed848cb8cccc63cc01ea0a4513be2
  docs/helpers/charts/index.html
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
  docs/index.html
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
