Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

:sparkles: Fix rendering problem on mobile
  .gitignore
  packages/molecules/media-content/MediaContent.svelte
  packages/molecules/media-content/styles.css
Due: eslint --fix, prettier --write

:lipstick: Improve mobile UX in explorer templates
  packages/templates/default/styles.css
  packages/templates/explorer-detail/ExplorerDetail.svelte
  packages/templates/explorer-detail/styles.css
  packages/templates/explorer-list/ExplorerList.svelte
  packages/templates/explorer-list/styles.css
Due: eslint --fix, prettier --write

:bookmark: Release package
  .changeset/tender-teachers-melt.md
  package.json
Due: prettier --write

:lipstick: Reduce padding on explorer homepage
  packages/templates/explorer-homepage/styles.css
Due: none

:bookmark: Release packages
  .changeset/witty-humans-count.md
  package.json
Due: prettier --write

:bug: Implement container changes in config (and remove warnings)
  docs/src/routes/__layout.svelte
  packages/styles/dusk.tailwind.config.cjs
  packages/templates/default/styles.css
  packages/templates/explorer-detail/ExplorerDetail.svelte
  packages/templates/explorer-list/ExplorerList.svelte
Due: eslint --fix, prettier --write

:bookmark: Release packages
  .changeset/orange-laws-beam.md
  package.json
Due: prettier --write

:pencil: UI Kit Chip docs example
  examples/src/atoms/chip/Chip_01.svelte
  examples/src/atoms/chip/index.js
  examples/src/atoms/index.js
Due: eslint --fix, prettier --write

:lipstick: fix UI Kit Chip danger variant style
  packages/atoms/chip/styles.css
Due: none

:recycle: refactor UI Kit StepList for better usability
  packages/molecules/step-list/Item.svelte
  packages/molecules/step-list/styles.css
Due: eslint --fix, prettier --write

:recycle: update UI Kit StepList story
  storybook/stories/molecules/step-list/StepList.stories.svelte
Due: eslint --fix, prettier --write

:bug: change UI Kit BuyHomepage Template slot names
  packages/templates/buy-homepage/BuyHomepage.svelte
Due: eslint --fix, prettier --write

:lipstick: UI Kit default template error slot container
  packages/templates/default/Default.svelte
Due: eslint --fix, prettier --write

:bug: Fix Storybook
  .npmrc
  package.json
  pnpm-lock.yaml
  storybook/.npmrc
  storybook/.storybook/main.js
  storybook/.storybook/preview.js
  storybook/package.json
  storybook/stories/molecules/cta-list/CtaList.stories.svelte
  storybook/stories/molecules/detail-list/DetailList.stories.svelte
  storybook/stories/molecules/step-list/StepList.stories.svelte
Due: eslint --fix, prettier --write

:heavy_minus_sign: Remove old deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

:green_heart: Disable Chromatic Action
  .github/workflows/chromatic.yml
Due: none

:green_heart: Add legacy ssl flag
  .github/workflows/storybook.yml
Due: none

:green_heart: Remove Chromatic
  .github/workflows/chromatic.yml
Due: none

:sparkles: Integrate CSS variables
  docs/package.json
  packages/atoms/drop-down/styles.css
  packages/atoms/toggle/styles.css
  packages/molecules/button/styles.css
  packages/molecules/cta-list/styles.css
  packages/molecules/file-upload/styles.css
  packages/organisms/card/styles.css
  packages/organisms/navbar/styles.css
  packages/organisms/search-list/styles.css
  packages/styles/config/dusk/font-family.cjs
  packages/styles/config/dusk/font-size.cjs
  packages/styles/config/dusk/palette.cjs
  packages/styles/config/dusk/space.cjs
  packages/styles/config/dusk/typography.cjs
  packages/styles/dusk.tailwind.config.cjs
  packages/styles/package.json
Due: prettier --write

:green_heart: Change BASE env to explicit string
  .github/workflows/chromatic.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

:bookmark: release packages
  .changeset/red-ladybugs-hide.md
  package.json
Due: prettier --write

:green_heart: Refctor base config
  docs/svelte.config.js
Due: eslint --fix, prettier --write

:green_heart: Refactor build and fix SB errors
  .github/workflows/docs.yml
  packages/styles/config/dusk/palette.cjs
  packages/templates/wallet-homepage/styles.css
Due: none

:bug: fix font size css variable name
  packages/styles/dusk.tailwind.config.cjs
Due: none

:bug: Update cookie using components for domain fix
  docs/src/routes/__layout.svelte
  packages/organisms/cookie-banner/CookieBanner.svelte
  packages/organisms/navbar/Navbar.svelte
  packages/organisms/navbar/menu/A11yMenu.svelte
Due: eslint --fix, prettier --write

:bookmark: Release packages
  .changeset/unlucky-bikes-jump.md
  package.json
Due: prettier --write

:sparkles: add swap Horizontal UI Kit Icon
  packages/atoms/icon/icons/SwapHorizontal.svelte
  packages/atoms/icon/icons/index.js
Due: eslint --fix, prettier --write

Add method to retrieve the correct domain name from document URL
  packages/helpers/cookie-utils.js
Due: eslint --fix, prettier --write

Set correct domain by default on CookieBanner component
  packages/organisms/cookie-banner/CookieBanner.svelte
Due: eslint --fix, prettier --write

:bookmark: Release packages
  .changeset/twenty-bears-juggle.md
  package.json
Due: prettier --write

deploy: 193dafa57225ef6a46a9881f546e2fe126246abd
  storybook/assets/iframe.26ddaee0.js
  storybook/assets/iframe.26ddaee0.js.map
  storybook/assets/iframe.47742d9a.js
  storybook/assets/iframe.47742d9a.js.map
  storybook/iframe.html
Due: eslint --fix, prettier --write

Remove cookie domain management from UI-KIT (move to boilerplate)
  packages/helpers/cookie-utils.js
  packages/organisms/cookie-banner/CookieBanner.svelte
Due: eslint --fix, prettier --write
