Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

🤖 (auto-commit) preparing packages for changeset
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
Due: prettier --write

:pencil2: styles had the wrong package path
  packages/styles/package.json
Due: prettier --write

:bookmark: adding changeset
  .changeset/twelve-paws-yawn.md
Due: none

:pencil: added changesets process
  .github/workflows/release.yml
  readme.md
Due: none

:bookmark: adding changeset
  .changeset/young-yaks-care.md
Due: none

🤖 (auto-commit) preparing packages for changeset
  .github/workflows/release.yml
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
Due: prettier --write

:bookmark: adding changeset
  .changeset/calm-fans-give.md
Due: none

:green_heart: changing publish command
  package.json
Due: prettier --write

:bookmark: adding changeset
  .changeset/tidy-sheep-pretend.md
Due: none

:green_heart: trying to install packages before publishing
  .github/workflows/release.yml
Due: none

:bookmark: adding changeset
  .changeset/small-teachers-bake.md
Due: none

:green_heart: refactoring release to script from action
  .github/workflows/release.yml
  package.json
Due: prettier --write

:bookmark: adding changeset
  .changeset/gentle-spiders-live.md
Due: none

:green_heart: updating storybook action
  .github/workflows/storybook.yml
Due: none

:green_heart: updating storybook ci install step
  .github/workflows/storybook.yml
Due: none

:green_heart: changing install script again
  .github/workflows/storybook.yml
Due: none

:green_heart: removing frozen lockfile flag
  .github/workflows/storybook.yml
  readme.md
Due: none

:construction_worker: adding npmrc step
  .github/workflows/storybook.yml
Due: none

:green_heart: added github token for auth
  .github/workflows/storybook.yml
Due: none

:construction_worker: adding fixes for chromatic ci
  .github/workflows/chromatic.yml
  .github/workflows/storybook.yml
Due: none

:green_heart: moving things around
  .github/workflows/release.yml
Due: none

:green_heart: no idea
  .github/workflows/chromatic.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
Due: none

:green_heart:
  .github/workflows/chromatic.yml
Due: none

🤖 (auto-commit) preparing packages for changeset
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/search-list/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
Due: prettier --write

:arrow_up: updating deps to the latest
  packages/organisms/search-list/package.json
Due: prettier --write

:ambulance: patching up search-list
  packages/organisms/search-list/SearchList.stories.svelte
  packages/organisms/search-list/SearchList.svelte
  packages/organisms/search-list/package.json
  packages/organisms/search-list/storybook/data.js
  storybook/package.json
  storybook/stories/organisms/search-list/SearchList.stories.svelte
  storybook/stories/organisms/search-list/data.js
Due: eslint --fix, prettier --write

:construction_worker: adding path filtering for storybook action
  .github/workflows/storybook.yml
Due: none

:pencil: adding descriptions to mocks
  .nvmrc
  __mocks__/fileMock.js
  __mocks__/styleMock.js
Due: eslint --fix, prettier --write

:art: removed trailing line
  .nvmrc
Due: none
