Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:lipstick: Apply zero margin fix for inline forms too
  packages/molecules/control/styles.css
Due: none

:sparkles: Enable grid layout Group
  packages/molecules/group/Group.svelte
  packages/molecules/group/styles.css
  packages/molecules/statistic/styles.css
Due: eslint --fix, prettier --write

:pencil: Update page examples for API changes
  storybook/stories/pages/devops/devops-dashboard/DevopsDashboard.stories.svelte
  storybook/stories/pages/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-token/WalletToken.svelte
Due: eslint --fix, prettier --write

:pencil: Update dashboard story to remove Card
  storybook/stories/pages/wallet/wallet-dashboard/WalletDashboard.stories.svelte
Due: eslint --fix, prettier --write

:bookmark: Release 4.3.0
  .changeset/lucky-wolves-protect.md
  package.json
Due: prettier --write

:pencil: UI Kit Wizard docs example
  examples/src/organisms/wizard/index.js
Due: eslint --fix, prettier --write

:pencil: Add loading state for exporer homepage
  storybook/stories/pages/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
Due: eslint --fix, prettier --write

:lipstick: UI Kit FileUpload text align
  packages/molecules/file-upload/FileUpload.svelte
Due: eslint --fix, prettier --write

:ambulance: Icon size
  packages/atoms/icon/styles.css
Due: none

:lipstick: update Icon size classes
  packages/atoms/icon/styles.css
Due: none

:pencil: UI Kit QrCode component README file
  packages/atoms/qr-code/README.md
Due: none

:wrench: add qrcode npm package to Vite pre-bundle list
  docs/svelte.config.js
Due: eslint --fix, prettier --write

:lipstick: Wallet stories add ProgressBar to all Wizard instances
  storybook/stories/pages/wallet/wallet-access-keystore/WalletAccessKeystore.stories.svelte
  storybook/stories/pages/wallet/wallet-create-keystore/WalletCreateKeystore.stories.svelte
  storybook/stories/pages/wallet/wallet-create-seed/WalletCreateSeed.stories.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transfer/WalletTransfer.svelte
Due: eslint --fix, prettier --write

:sparkles: Add DetailList component
  packages/molecules/detail-list/DetailList.svelte
  packages/molecules/detail-list/DetailList.test.js
  packages/molecules/detail-list/Item.svelte
  packages/molecules/detail-list/index.js
  packages/molecules/detail-list/package.json
  packages/molecules/detail-list/styles.css
Due: eslint --fix, prettier --write

:pencil: Add DetailList examples
  examples/src/molecules/detail-list/DetailList_01.svelte
  examples/src/molecules/detail-list/DetailList_02.svelte
  examples/src/molecules/detail-list/index.js
Due: eslint --fix, prettier --write

:pencil: Add Chip component story
  packages/atoms/chip/Chip.svelte
  packages/atoms/chip/style.css
  packages/atoms/chip/styles.css
  storybook/stories/atoms/chip/Chip.stories.svelte
Due: eslint --fix, prettier --write

:heavy_plus_sign: Add new package deps to examples
  examples/package.json
  examples/pnpm-lock.yaml
Due: prettier --write

:pencil: Im proce DetailList story and add contexts
  packages/helpers/contexts.js
  storybook/stories/molecules/detail-list/DetailList.stories.svelte
Due: eslint --fix, prettier --write

:recycle: Clean up the UI Kit
  packages/atoms/icon/Icon.svelte
  packages/molecules/button/Button.svelte
  packages/molecules/content/Content.svelte
  packages/molecules/disclaimer-list/DisclaimerList.svelte
  packages/molecules/group/Group.svelte
  packages/molecules/group/styles.css
  packages/organisms/card/Card.svelte
  packages/organisms/card/styles.css
  packages/organisms/form/styles.css
  storybook/package.json
  storybook/stories/molecules/cta-list/CtaList.stories.svelte
Due: eslint --fix, prettier --write

:construction: Improve Explorer pages with more components
  packages/helpers/contexts.js
  storybook/stories/pages/explorer/explorer-block/ExplorerBlock.stories.svelte
  storybook/stories/pages/explorer/explorer-block/data.js
  storybook/stories/pages/explorer/explorer-blocks/ExplorerBlocks.stories.svelte
  storybook/stories/pages/explorer/explorer-blocks/data.js
  storybook/stories/pages/explorer/explorer-transaction/ExplorerTransaction.stories.svelte
  storybook/stories/pages/explorer/explorer-transaction/data.js
  storybook/stories/pages/explorer/explorer-transactions/ExplorerTransactions.stories.svelte
  storybook/stories/pages/explorer/explorer-transactions/data.js
Due: eslint --fix, prettier --write

:sparkles: Dynamic Wizard Titles in Wallet stories
  storybook/stories/pages/wallet/wallet-access-keystore/WalletAccessKeystore.stories.svelte
  storybook/stories/pages/wallet/wallet-create-keystore/WalletCreateKeystore.stories.svelte
  storybook/stories/pages/wallet/wallet-create-seed/WalletCreateSeed.stories.svelte
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-transfer/WalletTransfer.svelte
Due: eslint --fix, prettier --write

:lipstick: Tighten list up
  packages/molecules/detail-list/styles.css
Due: none

:sparkles: Expose clientHeight and clientWidth props from Default template
  packages/templates/default/Default.svelte
  packages/templates/explorer-detail/ExplorerDetail.svelte
Due: eslint --fix, prettier --write

:pencil: Add width aware prop value for block height group
  storybook/stories/pages/explorer/explorer-block/ExplorerBlock.stories.svelte
Due: eslint --fix, prettier --write

:pencil: Add loading state for transactions table
  storybook/stories/pages/explorer/explorer-block/ExplorerBlock.stories.svelte
Due: eslint --fix, prettier --write

:lipstick: Update UI Kit DisclaimerList mobile styles
  packages/molecules/disclaimer-list/styles.css
Due: none

:lipstick: Update WalletAccessKeystore page story
  storybook/stories/pages/wallet/wallet-access-keystore/WalletAccessKeystore.stories.svelte
  storybook/stories/pages/wallet/wallet-access-keystore/styles.css
Due: eslint --fix, prettier --write

:lipstick: Update WalletAccessOptions page story
  storybook/stories/pages/wallet/wallet-access-options/WalletAccessOptions.stories.svelte
Due: eslint --fix, prettier --write

:lipstick: Update WalletCreateOptions page story
  storybook/stories/pages/wallet/wallet-create-options/WalletCreateOptions.stories.svelte
  storybook/stories/pages/wallet/wallet-create-options/styles.css
Due: eslint --fix, prettier --write

:lipstick: Update WalletAccessSeed page story
  storybook/stories/pages/wallet/wallet-access-seed/WalletAccessSeed.stories.svelte
  storybook/stories/pages/wallet/wallet-access-seed/styles.css
Due: eslint --fix, prettier --write

:lipstick: Update WalletCreateKeystore page story
  storybook/stories/pages/wallet/wallet-create-keystore/WalletCreateKeystore.stories.svelte
  storybook/stories/pages/wallet/wallet-create-keystore/styles.css
Due: eslint --fix, prettier --write

:lipstick: Update WalletCreateSeed page story
  storybook/stories/pages/wallet/wallet-create-seed/WalletCreateSeed.stories.svelte
  storybook/stories/pages/wallet/wallet-create-seed/styles.css
Due: eslint --fix, prettier --write

:lipstick: Update WalletHomepage page story
  storybook/stories/pages/wallet/wallet-homepage/WalletHomepage.stories.svelte
  storybook/stories/pages/wallet/wallet-homepage/styles.css
Due: eslint --fix, prettier --write

:lipstick: Update WalletFAQ page story
  storybook/stories/pages/wallet/wallet-faq/WalletFaq.stories.svelte
Due: eslint --fix, prettier --write

:pencil: Add transaction details page
  packages/atoms/chip/styles.css
  packages/molecules/group/Group.svelte
  storybook/stories/pages/explorer/explorer-transaction/ExplorerTransaction.stories.svelte
  storybook/stories/pages/explorer/explorer-transaction/data.js
Due: eslint --fix, prettier --write

:pencil: Add contexts and finalise transaction details story
  packages/atoms/rich-text/RichText.svelte
  packages/atoms/rich-text/styles.css
  packages/helpers/contexts.js
  packages/molecules/detail-list/DetailList.svelte
  storybook/stories/pages/explorer/explorer-transaction/ExplorerTransaction.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Add variants to Chip
  packages/atoms/chip/Chip.svelte
  packages/atoms/chip/package.json
  packages/atoms/chip/styles.css
  packages/atoms/rich-text/RichText.svelte
  packages/helpers/variants.js
  storybook/stories/pages/explorer/explorer-transaction/ExplorerTransaction.stories.svelte
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
