Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

:bookmark: Release packages
  .changeset/fair-buses-enjoy.md
  package.json
Due: prettier --write

deploy: c148973ac8dc2cfdc766b990f398f3642829f248
  storybook/assets/iframe.47742d9a.js.map
  storybook/assets/iframe.65ead32d.js
  storybook/assets/iframe.65ead32d.js.map
  storybook/iframe.html
Due: eslint --fix, prettier --write

:lipstick: UI Kit Button warning variant hover text color
  packages/molecules/button/styles.css
Due: none

:bug: adding fill colour for icons in card hover state
  packages/organisms/card/styles.css
Due: none

:bug: fix UI Kit cookie banner z-index
  packages/organisms/cookie-banner/styles.css
Due: none

:lipstick: change UI Kit Pagination arrow icons
  packages/molecules/pagination/Pagination.svelte
Due: eslint --fix, prettier --write

:sparkles: add UI Kit icon tooltip screen visibility prop
  packages/atoms/icon/Icon.svelte
  packages/atoms/icon/styles.css
Due: eslint --fix, prettier --write

:pencil: new UI Kit Icon docs example
  examples/src/atoms/icon/Icon_03.svelte
  examples/src/atoms/icon/index.js
Due: eslint --fix, prettier --write

:recycle: refactor UI Kit Table for better responsive design
  packages/organisms/table/Table.svelte
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

:pencil: update UI Kit Table docs example
  examples/src/organisms/table/Table_01.svelte
Due: eslint --fix, prettier --write

:recycle: reactor UI Kit table expading row on desktop
  packages/organisms/table/Datum.svelte
  packages/organisms/table/Row.svelte
  packages/organisms/table/Table.svelte
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

:bug: fix UI Kit Table column store
  packages/organisms/table/stores/columns.js
Due: eslint --fix, prettier --write

:pencil: update UI Kit Table example with expanding row on desktop
  examples/src/organisms/table/Table_01.svelte
Due: eslint --fix, prettier --write

:bug: fix UI Kit CtaList bullet widths
  packages/molecules/cta-list/styles.css
Due: none

:bug: fix UI Kit MediaContent img not displaying on md screens
  packages/molecules/media-content/styles.css
Due: none

:lipstick: Increase top margin for Hero in large screens
  packages/organisms/hero/styles.css
Due: none

:bookmark: Release packages
  .changeset/twelve-tigers-pretend.md
  package.json
Due: prettier --write

deploy: e5bf2e4538c53c257ec618b980ee863fcfe6e2fd
  storybook/5.465047b4e0303f8f1ba6.manager.bundle.js
  storybook/5.8eddc7d9a90eed40cac4.manager.bundle.js
  storybook/assets/iframe.598d4c82.css
  storybook/assets/iframe.65ead32d.js.map
  storybook/assets/iframe.b150d965.js
  storybook/assets/iframe.b150d965.js.map
  storybook/assets/iframe.f86e7765.css
  storybook/iframe.html
  storybook/index.html
  storybook/runtime~main.a070e6187ff65d17c247.manager.bundle.js
  storybook/runtime~main.d546d7a62903209e323f.manager.bundle.js
  storybook/vendors~main.73a08f95b8b592246458.manager.bundle.js
  storybook/vendors~main.b72b5a27026b09f7a497.manager.bundle.js
  storybook/vendors~main.b72b5a27026b09f7a497.manager.bundle.js.LICENSE.txt
Due: eslint --fix, prettier --write

:sparkles: update UI Kit Table responsive design
  packages/organisms/table/Datum.svelte
  packages/organisms/table/stores/columns.js
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/table/README.md
Due: none

:bug: fix UI Kit Icon tooltip visibility css
  packages/atoms/icon/styles.css
Due: none

:ambulance: Add external rels to Navbar links
  packages/atoms/rich-text/RichText.svelte
  packages/organisms/navbar/menu/AppsMenu.svelte
  packages/organisms/navbar/menu/LinksMenu.svelte
  storybook/stories/atoms/rich-text/Swatches.svelte
Due: eslint --fix, prettier --write

:bookmark: Release packages
  .changeset/famous-plums-obey.md
  package.json
Due: prettier --write

deploy: 3c33ee7e161293678ec1ca5a0325c2aa229f93d0
  storybook/assets/Color.2591f3d7.js
  storybook/assets/Color.2591f3d7.js.map
  storybook/assets/Color.3bfd4a14.js
  storybook/assets/Color.3bfd4a14.js.map
  storybook/assets/GlobalScrollAreaStyles.16c902d1.js
  storybook/assets/GlobalScrollAreaStyles.16c902d1.js.map
  storybook/assets/GlobalScrollAreaStyles.2bedfb6c.js
  storybook/assets/GlobalScrollAreaStyles.2bedfb6c.js.map
  storybook/assets/OverlayScrollbars.607605aa.js
  storybook/assets/OverlayScrollbars.607605aa.js.map
  storybook/assets/OverlayScrollbars.e5076e06.js.map
  storybook/assets/WithTooltip.61d94427.js
  storybook/assets/WithTooltip.61d94427.js.map
  storybook/assets/WithTooltip.8e6dcd5b.js
  storybook/assets/WithTooltip.8e6dcd5b.js.map
  storybook/assets/axe.517ab31b.js.map
  storybook/assets/axe.de28edea.js
  storybook/assets/axe.de28edea.js.map
  storybook/assets/iframe.2f9158a8.css
  storybook/assets/iframe.a47b80ed.js
  storybook/assets/iframe.a47b80ed.js.map
  storybook/assets/iframe.b150d965.js
  storybook/assets/iframe.b150d965.js.map
  storybook/assets/iframe.f86e7765.css
  storybook/assets/index.6a78d1df.js.map
  storybook/assets/index.acaf8361.js
  storybook/assets/index.acaf8361.js.map
  storybook/assets/renderDocs.97d12ef5.js
  storybook/assets/renderDocs.97d12ef5.js.map
  storybook/assets/renderDocs.d0e0de2d.js
  storybook/assets/renderDocs.d0e0de2d.js.map
  storybook/assets/syntaxhighlighter.1236a597.js.map
  storybook/assets/syntaxhighlighter.2c0fdf37.js
  storybook/assets/syntaxhighlighter.2c0fdf37.js.map
  storybook/assets/vendor.9673b1e9.js
  storybook/assets/vendor.9673b1e9.js.map
  storybook/assets/vendor.d74695bf.js.map
  storybook/iframe.html
Due: eslint --fix, prettier --write

:lipstick: fix table rows background color
  packages/organisms/table/Datum.svelte
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

:pencil: add UI Kit Table expand row example
  examples/src/organisms/table/Table_02.svelte
  examples/src/organisms/table/index.js
Due: eslint --fix, prettier --write
