Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:pencil: adding intro comment
  .editorconfig
Due: none

:green_heart: removed erroneous dash
  .github/workflows/chromatic.yml
Due: none

:construction_worker: updated path to packages for limiting runs
  .github/workflows/chromatic.yml
Due: none

:construction_worker: added storybook to chromatic paths
  .github/workflows/chromatic.yml
Due: none

:pencil: improving readme with generated content
  .github/README_TEMPLATE.md
  package.json
  readme.md
Due: prettier --write

:recycle: removed Template import from storybook stories
  storybook/stories/atoms/drop-down/DropDown.stories.svelte
  storybook/stories/atoms/icon/Icon.stories.svelte
  storybook/stories/atoms/loading-indicator/LoadingIndicator.stories.svelte
  storybook/stories/atoms/logo/Logo.stories.svelte
  storybook/stories/atoms/progress-bar/ProgressBar.stories.svelte
  storybook/stories/atoms/rich-text/RichText.stories.svelte
  storybook/stories/atoms/text-field/TextField.stories.svelte
  storybook/stories/atoms/toggle/Toggle.stories.svelte
  storybook/stories/molecules/alert/Alert.stories.svelte
  storybook/stories/molecules/breadcrumb/Breadcrumb.stories.svelte
  storybook/stories/molecules/control/Control.stories.svelte
  storybook/stories/molecules/cta-list/CtaList.stories.svelte
  storybook/stories/molecules/disclaimer-list/DisclaimerList.stories.svelte
  storybook/stories/molecules/file-upload/FileUpload.stories.svelte
  storybook/stories/molecules/heading/Heading.stories.svelte
  storybook/stories/molecules/menu/Menu.stories.svelte
  storybook/stories/molecules/mnemonic/Mnemonic.stories.svelte
  storybook/stories/molecules/pagination/Pagination.stories.svelte
  storybook/stories/molecules/password-strength/PasswordStrength.stories.svelte
  storybook/stories/organisms/accordion/Accordion.stories.svelte
  storybook/stories/organisms/card/Card.stories.svelte
  storybook/stories/organisms/cookie-banner/CookieBanner.stories._
  storybook/stories/organisms/footer/Footer.stories.svelte
  storybook/stories/organisms/form/Form.stories.svelte
  storybook/stories/organisms/hero/Hero.stories.svelte
  storybook/stories/organisms/navbar/Navbar.stories.svelte
  storybook/stories/organisms/table/Table.stories.svelte
  storybook/stories/organisms/wizard/Wizard.stories.svelte
Due: eslint --fix, prettier --write

:ambulance: Search List fix to pass lint task
  packages/organisms/search-list/Item.svelte
  packages/organisms/search-list/SearchList.svelte
  packages/organisms/search-list/package.json
  storybook/stories/organisms/search-list/SearchList.stories.svelte
Due: eslint --fix, prettier --write

:ambulance: removed Item from SearchList
  packages/organisms/search-list/index.js
Due: eslint --fix, prettier --write

:green_heart: attempting to fix storybook publishing
  .github/workflows/storybook.yml
Due: none

:recycle: refactoring dependencies for the boilerplate
  package.json
  packages/atoms/icon/package.json
  packages/atoms/rich-text/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  pnpm-lock.yaml
Due: prettier --write

🤖 (auto-commit) preparing packages for changeset
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/search-list/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
Due: prettier --write

:pushpin: setting to current head version
  packages/organisms/search-list/package.json
Due: prettier --write

:pushpin: setting storybook version
  storybook/package.json
Due: prettier --write

:pushpin: setting meta version
  meta/package.json
Due: prettier --write

:bookmark: adding changeset
  .changeset/quick-planets-battle.md
Due: none

:package: converting to node modules
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/search-list/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/dusk.tailwind.config.cjs
  packages/styles/package.json
  packages/styles/plugin/rollup-plugin-dusk.cjs
  packages/styles/plugin/vite-plugin-dusk-storybook.cjs
  packages/styles/plugin/vite-plugin-dusk.js
  packages/styles/postcss.config.cjs
Due: eslint --fix, prettier --write

:green_heart: updating storybook action
  .github/workflows/storybook.yml
Due: none

:building_construction: switching to cjs files
  storybook/.storybook/main.js
Due: eslint --fix, prettier --write

:bookmark: adding changeset
  .changeset/little-cats-run.md
  docs/.svelte-kit/dev/components/error.svelte
  docs/.svelte-kit/dev/components/layout.svelte
  docs/.svelte-kit/dev/generated/manifest.js
  docs/.svelte-kit/dev/generated/root.svelte
  docs/.svelte-kit/dev/runtime/app/env.js
  docs/.svelte-kit/dev/runtime/app/navigation.js
  docs/.svelte-kit/dev/runtime/app/paths.js
  docs/.svelte-kit/dev/runtime/app/stores.js
  docs/.svelte-kit/dev/runtime/chunks/utils.js
  docs/.svelte-kit/dev/runtime/env.js
  docs/.svelte-kit/dev/runtime/internal/singletons.js
  docs/.svelte-kit/dev/runtime/internal/start.js
  docs/.svelte-kit/dev/runtime/paths.js
  docs/jsconfig.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/app.html
  docs/src/routes/index.svelte
  docs/svelte.config.js
  package.json
  pnpm-workspaces.yaml
Due: eslint --fix, prettier --write

:green_heart: adding config to storybook ci action
  .github/workflows/storybook.yml
Due: none

:white_check_mark: Jest setup
  .babelrc
  package.json
  packages/atoms/drop-down/DropDown.test.js
  pnpm-lock.yaml
  yarn-error.log
Due: eslint --fix, prettier --write

:see_no_evil: updating gitignore rules
  .gitignore
Due: none

:pencil: adding docs prep
  .gitignore
  meta/index.cjs
  meta/package.json
  packages/App.svelte.poop
Due: prettier --write

:ambulance: fixed Jest config
  babel.config.cjs
  package.json
  packages/atoms/drop-down/DropDown.test.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

:heavy_minus_sign: removig babel devDependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

:green_heart: updating storybook action
  .github/workflows/chromatic.yml
  .github/workflows/storybook.yml
  docs/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

:construction_worker: updating publish dir for storybook
  .github/workflows/storybook.yml
Due: none

:white_check_mark: adding smoke tests
  packages/atoms/drop-down/DropDown.test.js
  packages/atoms/icon/Icon.test.js
  packages/atoms/loading-indicator/LoadingIndicator.test.js
  packages/atoms/logo/Logo.test.js
  packages/atoms/progress-bar/ProgressBar.test.js
  packages/atoms/rich-text/RichText.test.js
  packages/atoms/text-field/TextField.test.js
  packages/atoms/toggle/Toggle.test.js
  packages/molecules/alert/Alert.test.js
  packages/molecules/breadcrumb/Breadcrumb.test.js
  packages/molecules/button/Button.test.js
  packages/molecules/control/Control.test.js
  packages/molecules/cta-list/CtaList.test.js
  packages/molecules/disclaimer-list/DisclaimerList.test.js
  packages/molecules/file-upload/FileUpload.test.js
  packages/molecules/heading/Heading.test.js
  packages/molecules/menu/Menu.test.js
  packages/molecules/mnemonic/Mnemonic.test.js
  packages/molecules/pagination/Pagination.test.js
  packages/molecules/password-strength/PasswordStrength.test.js
  packages/organisms/accordion/Accordion.test.js
  packages/organisms/card/Card.test.js
  packages/organisms/footer/Footer.test.js
  packages/organisms/form/Form.test.js
  packages/organisms/hero/Hero.test.js
  packages/organisms/navbar/Navbar.test.js
  packages/organisms/search-list/SearchList.svelte
  packages/organisms/search-list/SearchList.test.js
  packages/organisms/table/Table.test.js
  packages/organisms/wizard/Wizard.test.js
Due: eslint --fix, prettier --write

:bug: mock resizeObserver for Jest test
  __mocks__/ResizeObserver.js
  packages/organisms/navbar/Navbar.test.js
  packages/organisms/table/Table.test.js
Due: eslint --fix, prettier --write

:green_heart: trying different build config
  .github/workflows/storybook.yml
Due: none

:green_heart: tyring a different build config
  .github/workflows/storybook.yml
Due: none

deploy: 311476a11ca274f9b77bee4774e803285c61ff49
  .nojekyll
  0.66b3f366b790d4120227.manager.bundle.js
  4.af1e3563d37465a4ded8.manager.bundle.js
  4.af1e3563d37465a4ded8.manager.bundle.js.LICENSE.txt
  5.3cec7a3d6d9e6156733e.manager.bundle.js
  6.ed5d5f7c9f4187c0a46b.manager.bundle.js
  6.ed5d5f7c9f4187c0a46b.manager.bundle.js.LICENSE.txt
  7.9ccf916e2653408514ce.manager.bundle.js
  8.5d94516008e033511c54.manager.bundle.js
  assets/checkbox-brand.9c11940f.svg
  assets/checkbox-cta.13c1dc34.svg
  assets/checkbox-danger.76864433.svg
  assets/checkbox-info.405341ca.svg
  assets/checkbox-success.4c4c6038.svg
  assets/checkbox-warning.f7696714.svg
  assets/checkbox.f19173c0.svg
  assets/iframe.4ed37aaa.css
  assets/iframe.bfaaff99.js
  assets/iframe.bfaaff99.js.map
  assets/radio-brand.6c76486f.svg
  assets/radio-cta.612035ea.svg
  assets/radio-danger.347b06d9.svg
  assets/radio-info.ec5cd727.svg
  assets/radio-success.13610cad.svg
  assets/radio-warning.7ccd34e9.svg
  assets/radio.6df3c3e6.svg
  assets/vendor.041de298.js
  assets/vendor.041de298.js.map
  favicon.ico
  iframe.html
  index.html
  main.a8c3e60f1799ab8150eb.manager.bundle.js
  runtime~main.2fdbf5ace611654a1393.manager.bundle.js
  vendors~main.88141b54c5e98366a194.manager.bundle.js
  vendors~main.88141b54c5e98366a194.manager.bundle.js.LICENSE.txt
Due: eslint --fix, prettier --write

:green_heart: testing keep_files flag
  .github/workflows/storybook.yml
Due: none

:package: updated lockfile
  docs/pnpm-lock.yaml
Due: none

deploy: 88af19dcd9e17672647e21c97264f224050bbadd
  assets/iframe.d2eb88c4.js
  assets/iframe.d2eb88c4.js.map
  assets/vendor.868bbe13.js
  assets/vendor.868bbe13.js.map
  iframe.html
  index.html
  vendors~main.f0be6f5f65e8a5c15847.manager.bundle.js
  vendors~main.f0be6f5f65e8a5c15847.manager.bundle.js.LICENSE.txt
Due: eslint --fix, prettier --write

deploy: a30513ff3cbb7c4bb1661209990220118c7bf224
  4.0fa1d9b9accd9ba264bd.manager.bundle.js
  4.0fa1d9b9accd9ba264bd.manager.bundle.js.LICENSE.txt
  assets/iframe.3a01293e.js
  assets/iframe.3a01293e.js.map
  assets/vendor.8fcdb621.js
  assets/vendor.8fcdb621.js.map
  iframe.html
  index.html
  runtime~main.d741f74ff0736d87a157.manager.bundle.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: added Storybook addon jest devDep
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
