Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(switch): 📚️ renamed the file to stories mdx format
  packages/atoms/switch/readme.stories.md
Due: none

docs(switch): 📚️ updated the view to work with the new stories
  packages/atoms/switch/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

docs(switch): 📚️ renamed the file to stories mdx format
  packages/atoms/switch/Switch.stories.mdx
Due: none

docs(table): 📚️ updated the storeis using args and argtypes
  packages/atoms/table/Table.stories.js
Due: eslint --fix, prettier --write

docs(table): 📚️ renamed the file to stories mdx format
  packages/atoms/table/readme.stories.md
Due: none

docs(table): 📚️ renamed the file to stories mdx format
  packages/atoms/table/Tabel.stories.mdx
Due: none

docs(text-field): 📚️ updated using args and argtypes
  packages/atoms/text-field/TextField.stories.js
Due: eslint --fix, prettier --write

docs(text-field): 📚️ renamed the file to stories mdx format
  packages/atoms/text-field/readme.stories.md
Due: none

docs(text-field): 📚️ renamed the file to stories mdx format
  packages/atoms/text-field/TextField.stories.mdx
Due: none

docs(main): 📚️ updated the stories to reveal all components
  .storybook/main.js
Due: eslint --fix, prettier --write

docs(alert): 📚️ updated the alert story using args and argtypes
  packages/molecules/alert/Alert.stories.js
Due: eslint --fix, prettier --write

docs(alert): 📚️ renamed the file to stories mdx format
  packages/molecules/alert/Alert.stories.mdx
Due: none

docs(carousel): 📚️ updated the story using args and argtypes
  packages/molecules/carousel/Carousel.stories.js
Due: eslint --fix, prettier --write

docs(carousel): 📚️ changed the tailwind with style attribute
  packages/molecules/carousel/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

docs(carousel): 📚️ renamed the file to stories mdx format
  packages/molecules/carousel/Carousel.stories.mdx
Due: none

docs(control): 📚️ updated story using args and argtypes
  packages/molecules/control/Control.stories.js
Due: eslint --fix, prettier --write

docs(control): 📚️ renamed the file to stories mdx format
  packages/molecules/control/Control.stories.mdx
Due: none

docs(dialog): 📚️ updated the story using args and argtypes
  packages/molecules/dialog/Dialog.stories.js
Due: eslint --fix, prettier --write

docs(dialog): 📚️ renamed the file to stories mdx format
  packages/molecules/dialog/Dialog.stories.mdx
Due: none

docs(menu): 📚️ updated the story using args and argtypes
  packages/molecules/menu/Menu.stories.js
Due: eslint --fix, prettier --write

docs(menu): 📚️ renamed the file to stories mdx format
  packages/molecules/menu/Menu.stories.mdx
Due: none

docs(cta): 📚️ updated using args and argtypes
  packages/organisms/cta/Cta.stories.js
Due: eslint --fix, prettier --write

docs(cta): 📚️ added target blank to the cta link
  packages/organisms/cta/Cta.svelte
Due: eslint --fix, prettier --write

docs(cta): 📚️ renamed the readme file to stories mdx format
  packages/organisms/cta/Cta.stories.mdx
Due: none

docs(footer): 📚️ updated the story using args and argtypes
  packages/organisms/footer/Footer.stories.js
Due: eslint --fix, prettier --write

docs(footer): 📚️ renamed the readme file to stories mdx format
  packages/organisms/footer/Footer.stories.mdx
Due: none

docs(form): 📚️ updated the story to use args and argtypes
  packages/organisms/form/Form.stories.js
Due: eslint --fix, prettier --write

docs(form): 📚️ renamed the readme file to stories mdx format
  packages/organisms/form/Form.stories.mdx
Due: none

refactor(switch): ♻️ merged switch fixes
  .storybook/main.js
  packages/atoms/switch/Switch.svelte
  packages/atoms/switch/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

docs(navbar): 📚️ updated the story to use args and argtypes
  packages/organisms/navbar/Navbar.stories.js
Due: eslint --fix, prettier --write

docs(navbar): 📚️ renamed the readme file to stories mdx format
  packages/organisms/navbar/Navbar.stories.mdx
Due: none

docs(cookie-banner): 📚️ commented out the code till we have it fixed so it doesn't break sb
  packages/organisms/cookie-banner/CookieBanner.stories.js
Due: eslint --fix, prettier --write

docs(cookie-banner): 📚️ renamed the readme file to stories mdx format
  packages/organisms/cookie-banner/CookieBanner.stories.mdx
Due: none

docs(icon): 📚️ adjusted the layout to center
  packages/atoms/icon/Icon.stories.js
Due: eslint --fix, prettier --write

docs(main): 📚️ updated the stories to reveal all the components and docs
  .storybook/main.js
Due: eslint --fix, prettier --write

docs(menu): 📚️ removed the variants from argtypes since they aren't used
  packages/molecules/menu/Menu.stories.js
Due: eslint --fix, prettier --write

docs(variants): 📚️ removed the un-used variants
  packages/helpers/variants.js
Due: eslint --fix, prettier --write

ci(release): explicitly cleaning cache
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): recreated lock file.
  yarn.lock
Due: none

chore(release): publish
  packages/atoms/date-picker/CHANGELOG.md
  packages/atoms/date-picker/package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
