Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

:recycle: Optimize Skeleton Loader component
  packages/atoms/skeleton-loader/SkeletonLoader.svelte
  packages/atoms/skeleton-loader/styles.css
  storybook/stories/atoms/skeleton-loader/SkeletonLoader.stories.svelte
Due: eslint --fix, prettier --write

:pencil: Skeleton Loader docs example
  examples/package.json
  examples/pnpm-lock.yaml
  examples/src/atoms/index.js
  examples/src/atoms/skeleton-loader/SkeletonLoader_01.svelte
  examples/src/atoms/skeleton-loader/index.js
Due: eslint --fix, prettier --write

:ambulance: Heading Icon color changing with variant
  packages/molecules/heading/styles.css
Due: none

:recycle: Update Wizard component to use contextual store
  packages/organisms/wizard/Wizard.svelte
  packages/organisms/wizard/context.js
  packages/organisms/wizard/index.js
  packages/organisms/wizard/key.js
  packages/organisms/wizard/stores/state.js
Due: eslint --fix, prettier --write

:fire: Remove Wizard commented code
  packages/organisms/wizard/index.js
  packages/organisms/wizard/stores/state.js
Due: eslint --fix, prettier --write

:pencil: Update Wizard docs examples
  examples/src/organisms/wizard/Wizard_02.svelte
  examples/src/organisms/wizard/index.js
  packages/organisms/wizard/Wizard.svelte
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/wizard/README.md
Due: none

:recycle: Refactor SearchList to use contextual store
  packages/organisms/search-list/SearchList.svelte
  packages/organisms/search-list/context.js
  packages/organisms/search-list/key.js
  packages/organisms/search-list/stores/store.js
Due: eslint --fix, prettier --write

:fire: Remove SearchList commented code
  packages/organisms/search-list/SearchList.svelte
Due: eslint --fix, prettier --write

:recycle: Update SearchList docs examples to use contextual store
  examples/src/organisms/search-list/SearchList_01.svelte
  examples/src/organisms/search-list/SearchList_02.svelte
Due: eslint --fix, prettier --write

:fire: Remove code from SearchList docs examples
  examples/src/organisms/search-list/SearchList_01.svelte
  examples/src/organisms/search-list/SearchList_02.svelte
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/search-list/README.md
Due: none

:recycle: Storybook SearchList stories with contextual store
  storybook/stories/organisms/search-list/SearchList.stories.svelte
Due: eslint --fix, prettier --write

:recycle: Storybook Wallet Token section SearchList contextual store
  storybook/stories/pages/wallet/wallet-dashboard/organisms/wallet-token/WalletToken.svelte
Due: eslint --fix, prettier --write

:ambulance: RichText font size overwritten by Card context
  packages/atoms/rich-text/styles.css
Due: none

:art: Adding main tag wrapper
  packages/templates/default/Default.svelte
Due: eslint --fix, prettier --write

:lipstick: Improving Mnemonic presentation on mobile
  packages/molecules/mnemonic/styles.css
  storybook/stories/molecules/mnemonic/Mnemonic.stories.svelte
Due: eslint --fix, prettier --write

:lipstick: Remove white border in dark mode
  packages/molecules/mnemonic/styles.css
Due: none

:lipstick: Add context for display in a Card
  packages/helpers/contexts.js
  packages/organisms/card/Card.svelte
  packages/organisms/wizard/Wizard.svelte
  packages/organisms/wizard/styles.css
Due: eslint --fix, prettier --write

:lipstick: Adjust default padding
  packages/templates/extension-default/styles.css
Due: none

:construction: Refactor extension pages
  storybook/stories/pages/extension/_Connection.svelte
  storybook/stories/pages/extension/extension-connect/ExtensionConnect.stories.svelte
  storybook/stories/pages/extension/extension-connect/_Heading.svelte
  storybook/stories/pages/extension/extension-connect/_Wizard.svelte
  storybook/stories/pages/extension/extension-welcome/ExtensionWelcome.stories.svelte
Due: eslint --fix, prettier --write

:bug: Add full width to mnemonic text-fields fixes gh-338
  packages/atoms/text-field/styles.css
Due: none

:construction: Update extension templates to latest style
  packages/molecules/mnemonic/styles.css
  packages/organisms/card/styles.css
  storybook/stories/pages/extension/extension-connect/_Wizard.svelte
Due: eslint --fix, prettier --write

:lipstick: Update breadcrumb and progress-bar wizard style
  packages/atoms/progress-bar/styles.css
  packages/molecules/breadcrumb/styles.css
Due: none

:sparkles: Add progress-bar slot to Wizard
  examples/src/organisms/wizard/Wizard_03.svelte
  packages/organisms/wizard/Wizard.svelte
  storybook/stories/organisms/wizard/Wizard.stories.svelte
Due: eslint --fix, prettier --write

:bug: Make icon color important
  packages/atoms/icon/styles.css
Due: none

:ambulance: Fix Storybook assets link path
  storybook/stories/pages/wallet/wallet-homepage/WalletHomepage.stories.svelte
Due: eslint --fix, prettier --write

:fire: Removing Storybo Wallet Homepage old assets
  storybook/static/hardware.png
  storybook/static/keystore.svg
  storybook/static/seed.svg
Due: none

:lipstick: Update Storybook Wallet Homepage assets
  storybook/static/security-icon.png
  storybook/static/wallet-banner-mobile.png
  storybook/static/wallet-banner.png
  storybook/static/wallet-intro.png
  storybook/static/web-access-icon.png
  storybook/stories/pages/wallet/wallet-homepage/WalletHomepage.stories.svelte
  storybook/stories/pages/wallet/wallet-homepage/styles.css
Due: eslint --fix, prettier --write

:lipstick: Mnemonic input width fix
  packages/molecules/mnemonic/styles.css
Due: none

:bug: Replace relative with with package ref
  packages/templates/wallet-dashboard/WalletDashboard.svelte
  packages/templates/wallet-homepage/WalletHomepage.svelte
  packages/templates/wallet-option/WalletOption.svelte
  packages/templates/wallet-wizard/WalletWizard.svelte
Due: eslint --fix, prettier --write

:construction: Update extension pages
  storybook/stories/pages/extension/_CreatePassword.svelte
  storybook/stories/pages/extension/_Disclaimer.svelte
  storybook/stories/pages/extension/extension-create/ExtensionCreate.stories.svelte
  storybook/stories/pages/extension/extension-create/_Heading.svelte
  storybook/stories/pages/extension/extension-create/_Wizard.svelte
Due: eslint --fix, prettier --write

:bug: Add missing deps
  packages/templates/wallet-dashboard/package.json
  packages/templates/wallet-homepage/package.json
  packages/templates/wallet-option/package.json
  packages/templates/wallet-wizard/package.json
Due: prettier --write

:bookmark: Release 4.2.1
  .changeset/gold-icons-look.md
  package.json
Due: prettier --write

:lipstick: Improve dark mode and add rounded prop
  packages/atoms/skeleton-loader/SkeletonLoader.svelte
  packages/atoms/skeleton-loader/styles.css
Due: eslint --fix, prettier --write

:bug: Fix ssr issue in qr code component
  packages/atoms/qr-code/QrCode.svelte
Due: eslint --fix, prettier --write

:wrench: Make scripts consistent
  package.json
Due: prettier --write
