Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(helpers): ♻️ removed templates dir
  packages/helpers/views/Scrim.svelte
  packages/helpers/views/templates/Header.svelte
Due: eslint --fix, prettier --write

feat(table): ✨ added expanding table rows
  .storybook/preview-head.html
  packages/atoms/button/Button.svelte
  packages/atoms/card/Card.stories.mdx
  packages/atoms/icon/Icon.stories.mdx
  packages/atoms/icon/Icon.svelte
  packages/atoms/list/styles.css
  packages/atoms/rich-text/RichText.stories.js
  packages/atoms/rich-text/RichText.svelte
  packages/atoms/rich-text/storybook-views/Default.svelte
  packages/atoms/rich-text/styles.css
  packages/atoms/text-field/TextField.stories.js
  packages/atoms/text-field/TextField.stories.mdx
  packages/atoms/text-field/TextField.svelte
  packages/helpers/sizes.js
  packages/helpers/states.js
  packages/helpers/types.js
  packages/molecules/alert/Alert.stories.mdx
  packages/molecules/alert/Alert.svelte
  packages/molecules/control/Control.stories.mdx
  packages/molecules/control/Control.svelte
  packages/molecules/pagination/Pagination.svelte
  packages/organisms/navbar/menu/A11yMenu.svelte
  packages/organisms/navbar/storybook-views/Default.svelte
  packages/organisms/table/Datum.svelte
  packages/organisms/table/Row.svelte
  packages/organisms/table/Table.svelte
  packages/organisms/table/stores/columns.js
  packages/organisms/table/stores/data.js
  packages/organisms/table/stores/filters.js
  packages/organisms/table/stores/options.js
  packages/organisms/table/stores/rows.js
  packages/organisms/table/stores/state.js
  packages/organisms/table/storybook-views/Default.svelte
  packages/organisms/table/styles.css
  packages/organisms/table/table.js
  packages/styles/dusk.tailwind.config.cjs
Due: eslint --fix, prettier --write

feat(limiter): ✨ added limiter component and integrated with table
  packages/molecules/limiter/CHANGELOG.md
  packages/molecules/limiter/Limiter.stories.js
  packages/molecules/limiter/Limiter.stories.mdx
  packages/molecules/limiter/Limiter.svelte
  packages/molecules/limiter/index.js
  packages/molecules/limiter/package.json
  packages/molecules/limiter/storybook-views/Default.svelte
  packages/molecules/limiter/storybook-views/data.js
  packages/molecules/limiter/styles.css
  packages/organisms/table/Datum.svelte
  packages/organisms/table/Row.svelte
  packages/organisms/table/Table.svelte
  packages/organisms/table/stores/columns.js
  packages/organisms/table/stores/options.js
  packages/organisms/table/stores/rows.js
  packages/organisms/table/stores/state.js
  packages/organisms/table/storybook-views/Default.svelte
  packages/organisms/table/styles.css
  packages/organisms/table/table.js
Due: eslint --fix, prettier --write

docs(intro): 📚️ updated the introduction text
  docs/introduction.stories.mdx
Due: none

feat(navbar): ✨ added drop down context to menu and into navbar
  packages/atoms/button/Button.svelte
  packages/atoms/drop-down/DropDown.svelte
  packages/atoms/drop-down/styles.css
  packages/atoms/list/List.svelte
  packages/atoms/list/styles.css
  packages/helpers/contexts.js
  packages/molecules/limiter/Limiter.stories.js
  packages/molecules/limiter/Limiter.stories.mdx
  packages/molecules/menu/Menu.svelte
  packages/molecules/menu/styles.css
  packages/organisms/navbar/menu/A11yMenu.svelte
  packages/organisms/navbar/storybook-views/Default.svelte
  packages/organisms/navbar/styles.css
  packages/organisms/table/Datum.svelte
  packages/organisms/table/Row.svelte
Due: eslint --fix, prettier --write

refactor(button): ♻️ button has been redeignated as a molecule
  packages/atoms/button/Button.test.js
  packages/molecules/button/Button.stories.js
  packages/molecules/button/Button.stories.mdx
  packages/molecules/button/Button.svelte
  packages/molecules/button/Button.test.js
  packages/molecules/button/CHANGELOG.md
  packages/molecules/button/Group.svelte
  packages/molecules/button/GroupItem.js
  packages/molecules/button/Label.svelte
  packages/molecules/button/index.js
  packages/molecules/button/package.json
  packages/molecules/button/storybook-views/Default.svelte
  packages/molecules/button/storybook-views/Group.svelte
  packages/molecules/button/styles.css
Due: eslint --fix, prettier --write

refactor(accordion): ♻️ accordion is redesignated as an organism
  packages/molecules/accordion/Accordion.stories.mdx
  packages/organisms/accordion/Accordion.stories.js
  packages/organisms/accordion/Accordion.stories.mdx
  packages/organisms/accordion/Accordion.svelte
  packages/organisms/accordion/CHANGELOG.md
  packages/organisms/accordion/Item.svelte
  packages/organisms/accordion/index.js
  packages/organisms/accordion/package.json
  packages/organisms/accordion/storybook-views/Default.svelte
  packages/organisms/accordion/styles.css
Due: eslint --fix, prettier --write

refactor(date-picker): ♻️ removing this component as it is not under our control and is not currently i
  packages/atoms/date-picker/CHANGELOG.md
  packages/atoms/date-picker/DatePicker.js
  packages/atoms/date-picker/DatePicker.stories.js
  packages/atoms/date-picker/DatePicker.stories.mdx
  packages/atoms/date-picker/DatePicker.svelte
  packages/atoms/date-picker/index.js
  packages/atoms/date-picker/package.json
  packages/atoms/date-picker/storybook-views/Default.svelte
  packages/atoms/date-picker/styles.css
Due: eslint --fix, prettier --write

refactor(drop-down): ♻️ drop down has been redesignated as a molecules
  packages/atoms/list/List.svelte
  packages/molecules/control/Control.svelte
  packages/molecules/drop-down/CHANGELOG.md
  packages/molecules/drop-down/DropDown.stories.js
  packages/molecules/drop-down/DropDown.stories.mdx
  packages/molecules/drop-down/DropDown.svelte
  packages/molecules/drop-down/DropDown.test.js
  packages/molecules/drop-down/index.js
  packages/molecules/drop-down/package.json
  packages/molecules/drop-down/storybook-views/Default.svelte
  packages/molecules/drop-down/styles.css
  packages/molecules/pagination/Pagination.svelte
Due: eslint --fix, prettier --write

feat(breadcrumb): ✨ added basic breadcrumb component
  packages/molecules/breadcrumb/Breadcrumb.stories.js
  packages/molecules/breadcrumb/Breadcrumb.stories.mdx
  packages/molecules/breadcrumb/Breadcrumb.svelte
  packages/molecules/breadcrumb/Breadcrumb.test.js
  packages/molecules/breadcrumb/Item.svelte
  packages/molecules/breadcrumb/index.js
  packages/molecules/breadcrumb/package.json
  packages/molecules/breadcrumb/storybook-views/Default.svelte
  packages/molecules/breadcrumb/styles.css
Due: eslint --fix, prettier --write

feat(wizard): ✨ adding wizard component
  packages/atoms/progress-bar/ProgressBar.svelte
  packages/atoms/progress-bar/styles.css
  packages/helpers/contexts.js
  packages/molecules/breadcrumb/Breadcrumb.svelte
  packages/molecules/breadcrumb/Item.svelte
  packages/molecules/breadcrumb/styles.css
  packages/organisms/wizard/Step.svelte
  packages/organisms/wizard/Wizard.stories.js
  packages/organisms/wizard/Wizard.stories.mdx
  packages/organisms/wizard/Wizard.svelte
  packages/organisms/wizard/index.js
  packages/organisms/wizard/package.json
  packages/organisms/wizard/stores/state.js
  packages/organisms/wizard/storybook-views/Card.svelte
  packages/organisms/wizard/storybook-views/Default.svelte
  packages/organisms/wizard/styles.css
Due: eslint --fix, prettier --write

perf(elements): ⚡️ removed base elements as no longer needed
  packages/elements/A.svelte
  packages/elements/Button.svelte
  packages/elements/CHANGELOG.md
  packages/elements/Dd.svelte
  packages/elements/Div.svelte
  packages/elements/Dl.svelte
  packages/elements/Dt.svelte
  packages/elements/Group.svelte
  packages/elements/Input.svelte
  packages/elements/InputCheckbox.svelte
  packages/elements/InputRadio.svelte
  packages/elements/Label.svelte
  packages/elements/Li.svelte
  packages/elements/Ol.svelte
  packages/elements/Span.svelte
  packages/elements/Table.svelte
  packages/elements/Tbody.svelte
  packages/elements/Td.svelte
  packages/elements/Textarea.svelte
  packages/elements/Tfoot.svelte
  packages/elements/Th.svelte
  packages/elements/Thead.svelte
  packages/elements/Tr.svelte
  packages/elements/Ul.svelte
  packages/elements/index.js
  packages/elements/package.json
  packages/molecules/control/Control.svelte
Due: eslint --fix, prettier --write

refactor(card): ♻️ moved card to organisms
  packages/atoms/card/Card.test.js
  packages/organisms/card/Actions.svelte
  packages/organisms/card/CHANGELOG.md
  packages/organisms/card/Card.stories.js.old
  packages/organisms/card/Card.stories.mdx
  packages/organisms/card/Card.stories.svelte
  packages/organisms/card/Card.svelte
  packages/organisms/card/Card.test.js
  packages/organisms/card/Content.svelte
  packages/organisms/card/Footer.svelte
  packages/organisms/card/Title.svelte
  packages/organisms/card/content.mock.js
  packages/organisms/card/index.js
  packages/organisms/card/package.json
  packages/organisms/card/styles.css
Due: eslint --fix, prettier --write

perf(a11y): ⚡️ added focus events to mirror mouse overs
  packages/molecules/alert/Alert.svelte
  packages/molecules/breadcrumb/Item.svelte
  packages/molecules/button/Button.svelte
  packages/molecules/menu/Item.svelte
  packages/molecules/search/Search.stories.js
  packages/organisms/table/Table.stories.mdx
Due: eslint --fix, prettier --write

fix(ci): 🐛 👷 updating ci config 1
  .github/workflows/release.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-berry.cjs
Due: none

fix(ci): 🐛 👷 config update 2
  yarn.lock
Due: none

fix(ci): 🐛 👷 config change 3
  .github/workflows/release.yml
Due: none

fix(ci): 🐛 👷 config change 4
  .github/workflows/release.yml
  package.json
Due: prettier --write

refactor(helpers): ♻️ removed events and action helpers as this is being handled per component for now
  packages/helpers/dom-utils.js
  packages/helpers/exclude.js
  packages/helpers/forward-events.js
  packages/helpers/index.js
  packages/helpers/prefix-filter.js
  packages/helpers/use-actions.js
  packages/molecules/button/Group.svelte
  packages/molecules/button/Label.svelte
  packages/organisms/cookie-banner/CookieBanner.svelte
  packages/organisms/form/Form.svelte
Due: eslint --fix, prettier --write

chore(release): 🚀 adding updated lockfile to unblock the build
  yarn.lock
Due: none

fix(navbar): 🐛 added missing Toggle dependency
  packages/organisms/navbar/package.json
Due: prettier --write

fix(navbar): 🐛 added missing Menu dependency
  packages/organisms/navbar/package.json
Due: prettier --write

chore(release): 🚀 adding updated lock file to unblock build
  yarn.lock
Due: none

fix(navbar): 🐛 fixing orientation prop for Navbar links
  packages/organisms/navbar/Navbar.stories.mdx
  packages/organisms/navbar/Navbar.stories.svelte
  packages/organisms/navbar/menu/A11yMenu.svelte
  packages/organisms/navbar/menu/AppsMenu.svelte
  packages/organisms/navbar/menu/LinksMenu.svelte
  readme.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
