Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

deploy: f623c9505a69a10591993cb1c2af798e1c355323
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
  docs/index.html
Due: none

:sparkles: created Address UI Kit component files
  packages/atoms/address/Address.svelte
  packages/atoms/address/Address.test.js
  packages/atoms/address/index.js
  packages/atoms/address/package.json
  packages/atoms/address/style.css
Due: eslint --fix, prettier --write

:sparkles: writing the Address component
  packages/atoms/address/Address.svelte
  packages/atoms/address/package.json
  packages/atoms/address/styles.css
  packages/helpers/variants.js
  storybook/package.json
  storybook/stories/atoms/address/Address.stories.mdx
  storybook/stories/atoms/address/Address.stories.svelte
Due: eslint --fix, prettier --write

:pencil: docs example for Address UI Kit component
  examples/package.json
  examples/src/atoms/address/Address_01.svelte
  examples/src/atoms/address/index.js
  examples/src/atoms/index.js
Due: eslint --fix, prettier --write

:bug: fix style file name used for generating new component
  _templates/kit/new/styles.ejs.t
Due: none

:pencil: docs example for Address UI Kit component
  examples/pnpm-lock.yaml
Due: none

:sparkles: new Title slot added to Wizard UI Kit component
  examples/src/organisms/wizard/Wizard_01.svelte
  packages/molecules/breadcrumb/styles.css
  packages/organisms/wizard/Wizard.svelte
  storybook/stories/organisms/wizard/Wizard.stories.svelte
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/wizard/README.md
Due: none

:bug: Update styles generator to use correct spelling
  _templates/kit/new/style.ejs.t
  _templates/kit/new/styles.ejs.t
Due: none

:bug: Correct styles import
  packages/templates/explorer-homepage/style.css
  packages/templates/explorer-homepage/styles.css
Due: none

:lipstick: Tone down loading idicator contrast
  packages/atoms/loading-indicator/styles.css
Due: none

:pencil2: Fix rowsPerPage prop spelling
  examples/src/organisms/table/Table_01.svelte
Due: eslint --fix, prettier --write

:construction: Progress explorer homepage template stories
  packages/templates/explorer-homepage/ExplorerHomepage.svelte
  storybook/package.json
  storybook/stories/templates/explorer-homepage/ExplorerHomepage.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Add event to close Navbar when navigation event starts
  packages/organisms/navbar/Navbar.svelte
Due: eslint --fix, prettier --write

:sparkles: Add stub for Chip component
  packages/atoms/chip/Chip.svelte
  packages/atoms/chip/Chip.test.js
  packages/atoms/chip/index.js
  packages/atoms/chip/package.json
  packages/atoms/chip/style.css
Due: eslint --fix, prettier --write

:sparkles: Add stub for ErrorBlock component
  packages/organisms/error-block/ErrorBlock.svelte
  packages/organisms/error-block/ErrorBlock.test.js
  packages/organisms/error-block/index.js
  packages/organisms/error-block/package.json
  packages/organisms/error-block/style.css
Due: eslint --fix, prettier --write

:sparkles: Add default template for generic features
  packages/templates/default/Default.svelte
  packages/templates/default/Default.test.js
  packages/templates/default/index.js
  packages/templates/default/package.json
  packages/templates/default/styles.css
Due: eslint --fix, prettier --write

:pencil: Add Explorer Homepage story
  storybook/stories/pages/explorer-homepage/ExplorerHomepage.stories.svelte
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/table/README.md
Due: none

:lipstick: Style alterations for Table and background css
  packages/organisms/navbar/styles.css
  packages/organisms/table/styles.css
  storybook/.storybook/preview-head.html
Due: none

:fire: Clean up storybook a little
  storybook/stories/introduction.stories.mdx
  storybook/stories/organisms/footer/Footer.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Improve default template capabilities
  packages/templates/default/Default.svelte
  packages/templates/default/styles.css
  packages/templates/explorer-homepage/ExplorerHomepage.svelte
  packages/templates/explorer-homepage/styles.css
Due: eslint --fix, prettier --write

:sparkles: Add TruncateText component
  packages/atoms/truncate-text/TruncateText.svelte
  packages/atoms/truncate-text/TruncateText.test.js
  packages/atoms/truncate-text/index.js
  packages/atoms/truncate-text/package.json
  packages/atoms/truncate-text/styles.css
  packages/helpers/widths.js
Due: eslint --fix, prettier --write

:pencil: Add TruncateText stories
  storybook/stories/atoms/truncate-text/TruncateText.stories.svelte
Due: eslint --fix, prettier --write

:fire: Remove old stories
  storybook/stories/pages/explorer-homepage/ExplorerHomepage.stories.svelte
  storybook/stories/templates/explorer-homepage/ExplorerHomepage.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Add new DateText component stub
  packages/atoms/date-text/DateText.svelte
  packages/atoms/date-text/DateText.test.js
  packages/atoms/date-text/index.js
  packages/atoms/date-text/package.json
  packages/atoms/date-text/styles.css
Due: eslint --fix, prettier --write

:sparkles: Add new Statistic component stub
  packages/molecules/statistic/Statistic.svelte
  packages/molecules/statistic/Statistic.test.js
  packages/molecules/statistic/index.js
  packages/molecules/statistic/package.json
  packages/molecules/statistic/styles.css
Due: eslint --fix, prettier --write

:sparkles: Add Explorer page mock
  pnpm-lock.yaml
  storybook/package.json
  storybook/stories/pages/explorer/_Footer.svelte
  storybook/stories/pages/explorer/_Navbar.svelte
  storybook/stories/pages/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
  storybook/stories/pages/explorer/explorer-homepage/data.js
  storybook/stories/templates/_Placeholder.svelte
  storybook/stories/templates/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
Due: eslint --fix, prettier --write

:heavy_plus_sign: Add storybook dependency @storybook/preview-web
  storybook/package.json
Due: prettier --write

:sparkles: Add DateText functionality
  packages/atoms/date-text/DateText.svelte
  packages/atoms/date-text/package.json
  packages/atoms/date-text/styles.css
Due: eslint --fix, prettier --write

:sparkles: Add new icons
  packages/atoms/icon/icons/ChartAreaspline.svelte
  packages/atoms/icon/icons/ChartBellCurve.svelte
  packages/atoms/icon/icons/Database.svelte
  packages/atoms/icon/icons/Gauge.svelte
  packages/atoms/icon/icons/LinkVariant.svelte
  packages/atoms/icon/icons/Server.svelte
  packages/atoms/icon/icons/Sigma.svelte
  packages/atoms/icon/icons/index.js
  packages/helpers/icons.js
  packages/molecules/statistic/Group.svelte
Due: eslint --fix, prettier --write

:bulb: Add missing description for title
  packages/atoms/truncate-text/TruncateText.svelte
Due: eslint --fix, prettier --write

:bug: Fix for icon handling in attached Button
  packages/helpers/contexts.js
  packages/molecules/control/Control.svelte
  packages/molecules/control/styles.css
Due: eslint --fix, prettier --write

:sparkles: Add Statistic functionality
  packages/molecules/statistic/Statistic.svelte
  packages/molecules/statistic/index.js
  packages/molecules/statistic/styles.css
Due: eslint --fix, prettier --write

:sparkles: Add Table adjustments for Darkmode
  packages/organisms/table/Table.svelte
  packages/organisms/table/styles.css
Due: eslint --fix, prettier --write

:sparkles: Integrate new components into explorer homepage
  storybook/stories/pages/explorer/explorer-homepage/ExplorerHomepage.stories.svelte
Due: eslint --fix, prettier --write

:pencil: Add DateText story
  storybook/stories/atoms/date-text/DateText.stories.svelte
Due: eslint --fix, prettier --write

:sparkles: Add DevopsDashboard template
  packages/templates/devops-dashboard/DevopsDashboard.svelte
  packages/templates/devops-dashboard/DevopsDashboard.test.js
  packages/templates/devops-dashboard/index.js
  packages/templates/devops-dashboard/package.json
  packages/templates/devops-dashboard/styles.css
Due: eslint --fix, prettier --write

:pencil: Add DevopsDashboard template stories
  storybook/package.json
  storybook/stories/templates/devops/devops-dashboard/DevopsDashboard.stories.svelte
Due: eslint --fix, prettier --write
