Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

ci:(lerna): updated config for new main branch
  lerna.json
Due: prettier --write

chore(release): publish
  packages/atoms/date-picker/CHANGELOG.md
  packages/atoms/date-picker/package.json
Due: prettier --write

ci(release): restored sb publishing
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(package): updating branch refs
  package.json
Due: prettier --write

ci(release): removing lockfile issues
  .github/workflows/release.yml
Due: none

feat(styles): ✨ enabled tailwind typography plugin
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

docs(card): 📚️ updated with args and argtypes
  packages/atoms/card/Card.stories.js
Due: eslint --fix, prettier --write

docs(card): 📚️ updated the view to match the new stories
  packages/atoms/card/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

docs(card): 📚️ deleted the readme as it's replaced by mdx file
  packages/atoms/card/readme.stories.md
Due: none

docs(card): 📚️ created mdx file to replace the readme file
  packages/atoms/card/Card.stories.mdx
Due: none

docs(checkbox): 📚️ implemented the new stories with args and argtypes
  packages/atoms/checkbox/Checkbox.stories.js
Due: eslint --fix, prettier --write

docs(checkbox): 📚️ renamed the file to mdx formate
  packages/atoms/checkbox/readme.stories.md
Due: none

docs(checkbox): 📚️ renamed the readme file to mdx stories formate
  packages/atoms/checkbox/Checkbox.stories.mdx
Due: none

docs(date-picker): 📚️ updated the stories to use args and argtypes
  packages/atoms/date-picker/DatePicker.stories.js
Due: eslint --fix, prettier --write

docs(date-picker): 📚️ renamed the readme file to stories mdx formate
  packages/atoms/date-picker/readme.stories.md
Due: none

docs(date-picker): 📚️ updated the placeholder connection with stories
  packages/atoms/date-picker/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

docs(date-picker): 📚️ renamed the readme file to stories mdx
  packages/atoms/date-picker/DatePicker.stories.mdx
Due: none

docs(date-picker): 📚️ corrected the mdx link to the view
  packages/atoms/date-picker/DatePicker.stories.mdx
Due: none

docs(icon): 📚️ updated the icon stories using args and argtypes
  packages/atoms/icon/Icon.stories.js
Due: eslint --fix, prettier --write

docs(icon): 📚️ renamed the readme file to stories mdx format
  packages/atoms/icon/readme.stories.md
Due: none

docs(icon): 📚️ updated the layout of the icons
  packages/atoms/icon/storybook-views/Collection.svelte
Due: eslint --fix, prettier --write

docs(icon): 📚️ renamed the readme file to stories mdx format
  packages/atoms/icon/Icon.stories.mdx
Due: none

docs(list): 📚️ updated the stories using args and argtypes
  packages/atoms/list/List.stories.js
Due: eslint --fix, prettier --write

docs(list): 📚️ renamed the readme file to stories mdx format
  packages/atoms/list/readme.stories.md
Due: none

docs(list): 📚️ renamed the readme file to stories mdx format
  packages/atoms/list/List.stories.mdx
Due: none

docs(loading-indicator): 📚️ stories using args and argtypes
  packages/atoms/loading-indicator/LoadingIndicator.stories.js
Due: eslint --fix, prettier --write

docs(loading-indicator): 📚️ renamed the readme file to stories mdx format
  packages/atoms/loading-indicator/readme.stories.md
Due: none

docs(loading-indicator): 📚️ renamed the readme file to stories mdx format
  packages/atoms/loading-indicator/LoadingIndicator.stories.mdx
Due: none

docs(logo): 📚️ updated the stories using args and argtypes
  packages/atoms/logo/Logo.stories.js
Due: eslint --fix, prettier --write

docs(logo): 📚️ renamed the readme file to stories mdx format
  packages/atoms/logo/readme.stories.md
Due: none

docs(logo): 📚️ added the variant
  packages/atoms/logo/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

docs(logo): 📚️ renamed the file to stories mdx format
  packages/atoms/logo/Logo.stories.mdx
Due: none

docs(radio): 📚️ updated the stories using args and argtypes
  packages/atoms/radio/Radio.stories.js
Due: eslint --fix, prettier --write

docs(radio): 📚️ updated the variants and renamed the file to stories mdx format
  packages/atoms/radio/readme.stories.md
Due: none

docs(radio): 📚️ renamed the file to stories mdx format
  packages/atoms/radio/Radio.stories.mdx
Due: none

docs(rich-text): 📚️ updated using args and argtypes
  packages/atoms/rich-text/RichText.stories.js
Due: eslint --fix, prettier --write

docs(rich-text): 📚️ renamed the file to stories mdx format
  packages/atoms/rich-text/readme.stories.md
Due: none

docs(rich-text): 📚️ updated the view to match the new stories format
  packages/atoms/rich-text/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

docs(rich-text): 📚️ renamed the file to stories mdx format
  packages/atoms/rich-text/RichText.stories.mdx
Due: none

docs(switch): 📚️ updated using args and argtypes
  packages/atoms/switch/Switch.stories.js
Due: eslint --fix, prettier --write
