Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

:lipstick: showing the new dark mode switch in th…
  packages/atoms/toggle/Toggle.svelte
  packages/atoms/toggle/styles.css
  packages/helpers/variants.js
  packages/organisms/navbar/menu/A11yMenu.svelte
Due: eslint --fix, prettier --write

🤖 (auto-commit) preparing packages for changeset
  packages/atoms/drop-down/package.json
  packages/atoms/icon/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/progress-bar/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/text-field/package.json
  packages/atoms/toggle/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/breadcrumb/package.json
  packages/molecules/button/package.json
  packages/molecules/control/package.json
  packages/molecules/cta-list/package.json
  packages/molecules/disclaimer-list/package.json
  packages/molecules/file-upload/package.json
  packages/molecules/heading/package.json
  packages/molecules/menu/package.json
  packages/molecules/mnemonic/package.json
  packages/molecules/pagination/package.json
  packages/molecules/password-strength/package.json
  packages/organisms/accordion/package.json
  packages/organisms/card/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/hero/package.json
  packages/organisms/navbar/package.json
  packages/organisms/search-list/package.json
  packages/organisms/table/package.json
  packages/organisms/wizard/package.json
  packages/styles/package.json
Due: prettier --write

:bug: fix for cjs script execution
  package.json
  scripts/prechangeset.cjs
Due: prettier --write

:bookmark: adding changeset to tigger release
  .changeset/brown-moles-join.md
Due: none

deploy: aaaadbaa88d8e67ebfd1d827692fdedd18c6aca4
  assets/iframe.6bdeec67.js
  assets/iframe.6bdeec67.js.map
  assets/iframe.e0ba4aa3.css
  iframe.html
Due: eslint --fix, prettier --write

:pencil: adding documentation
  .gitignore
  docs/.svelte-kit/dev/generated/manifest.js
  docs/.svelte-kit/dev/runtime/internal/start.js
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/app.html
  docs/src/routes/__layout.svelte
  docs/src/routes/components.json.js
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
  docs/src/routes/components/[group]/[package]/index.svelte
  docs/src/routes/components/[group]/index.svelte
  docs/src/routes/index.svelte
  docs/src/routes/styles.css
  docs/svelte.config.js
  scripts/prechangeset.js
  storybook/stories/colour.stories.mdx
  storybook/stories/space.stories.mdx
Due: eslint --fix, prettier --write

:ambulance: setting docs repo to private
  docs/package.json
Due: prettier --write

:fire: untracking build artefacts
  docs/.svelte-kit/dev/components/error.svelte
  docs/.svelte-kit/dev/components/layout.svelte
  docs/.svelte-kit/dev/generated/root.svelte
  docs/.svelte-kit/dev/runtime/app/env.js
  docs/.svelte-kit/dev/runtime/app/navigation.js
  docs/.svelte-kit/dev/runtime/app/paths.js
  docs/.svelte-kit/dev/runtime/app/stores.js
  docs/.svelte-kit/dev/runtime/chunks/utils.js
  docs/.svelte-kit/dev/runtime/env.js
  docs/.svelte-kit/dev/runtime/internal/singletons.js
  docs/.svelte-kit/dev/runtime/paths.js
Due: eslint --fix, prettier --write

:bulb: adding code example repo
  examples/index.js
  examples/package.json
  examples/pnpm-lock.yaml
  examples/src/Button.svelte
  examples/src/Card.svelte
Due: eslint --fix, prettier --write

:pencil: stablising mdx docs with some drafts (WIP)
  storybook/stories/colour.stories.mdx.draft
  storybook/stories/introduction.stories.mdx
  storybook/stories/space.stories.mdx
  storybook/stories/type.stories.mdx.draft
Due: none

:lipstick: adding Storybook logo icon
  packages/atoms/icon/icons/Storybook.svelte
  packages/atoms/icon/icons/index.js
  packages/helpers/icons.js
Due: eslint --fix, prettier --write

:package: untracking and ignoring docs pnpm lockfile
  .gitignore
  docs/pnpm-lock.yaml
Due: none

:wrench: updating workspace configs
  docs/package.json
  package.json
  pnpm-workspaces.yaml
Due: prettier --write

:sparkles: functioning documentation app
  docs/src/routes/__layout.svelte
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
  docs/src/routes/components/[group]/[package]/index.svelte
  docs/src/routes/components/[group]/__layout.svelte
  docs/src/routes/components/[group]/index.svelte
  docs/svelte.config.js
Due: eslint --fix, prettier --write

:lipstick: adding nested menu scaffolding
  packages/molecules/menu/Item.svelte
  packages/molecules/menu/styles.css
Due: eslint --fix, prettier --write

:pencil: adding readmes for atoms
  docs/src/routes/__layout.svelte
  docs/src/routes/components/[group]/__layout.svelte
  docs/src/routes/helpers/index.svelte
  docs/src/routes/index.svelte
  packages/atoms/drop-down/README.md
  packages/atoms/icon/README.md
  packages/atoms/loading-indicator/README.md
  packages/atoms/logo/README.md
  packages/atoms/progress-bar/README.md
  packages/atoms/rich-text/README.md
  packages/atoms/text-field/README.md
  packages/atoms/toggle/README.md
  packages/helpers/README.md
Due: eslint --fix, prettier --write

:pencil: adding READMEs for organisms
  packages/molecules/alert/README.md
  packages/molecules/breadcrumb/README.md
  packages/molecules/button/README.md
  packages/molecules/control/README.md
  packages/molecules/cta-list/README.md
  packages/molecules/disclaimer-list/README.md
  packages/molecules/file-upload/README.md
  packages/molecules/heading/README.md
  packages/molecules/menu/README.md
  packages/molecules/mnemonic/README.md
  packages/molecules/pagination/README.md
  packages/molecules/password-strength/README.md
  packages/organisms/accordion/README.md
  packages/organisms/card/README.md
  packages/organisms/cookie-banner/README.md
  packages/organisms/footer/README.md
  packages/organisms/form/README.md
  packages/organisms/hero/README.md
  packages/organisms/navbar/README.md
  packages/organisms/search-list/README.md
  packages/organisms/table/README.md
  packages/organisms/wizard/README.md
Due: none

:pencil: added README for styles package
  docs/src/routes/styles.css
  packages/styles/README.md
Due: none

:pencil: adding some missing READMEs
  .github/README_TEMPLATE.md
  docs/README.md
  examples/README.md
  meta/README.md
  readme.md
  scripts/prechangeset.js
  storybook/README.md
  storybook/package.json
Due: eslint --fix, prettier --write

:construction_worker: added autodocs action
  .github/workflows/ci.yml
Due: none

Apply automatic changes
  packages/molecules/button/README.md
  packages/organisms/card/README.md
Due: none

:pencil: Updating storybook README
  storybook/README.md
Due: none

:bulb: improving script description
  scripts/prechangeset.js
Due: eslint --fix, prettier --write

:construction_worker: refining markdown-autodocs step
  .github/workflows/ci.yml
Due: none

:pencil: setting up multiple example file structure
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
  docs/svelte.config.js
  examples/index.js
  examples/src/atoms/drop-down/DropDown_01.svelte
  examples/src/atoms/drop-down/index.js
  examples/src/atoms/index.js
  examples/src/atoms/loading-indicator/LoadingIndicator_01.svelte
  examples/src/atoms/loading-indicator/index.js
  examples/src/molecules/button/Button_01.svelte
  examples/src/molecules/button/index.js
  examples/src/organisms/card/Card_01.svelte
  examples/src/organisms/card/index.js
Due: eslint --fix, prettier --write

:construction_worker: adding docs build config
  docs/package.json
  docs/src/routes/components/[group]/__layout.svelte
  docs/static/favicon.ico
  docs/svelte.config.js
Due: eslint --fix, prettier --write

:construction_worker: updating storybook action
  .github/workflows/docs.yml
Due: none

:green_heart: fixing docs paths
  .github/workflows/docs.yml
Due: none

:green_heart: updating docs build for gh-pages
  .github/workflows/docs.yml
  docs/svelte.config.js
Due: eslint --fix, prettier --write

deploy: b66cb4b0028f6d4c39b9cb0f986c342984a212eb
  docs/_app/assets/pages/__layout.svelte-4b0da3d8.css
  docs/_app/assets/pages/__layout.svelte-9a476219.css
  docs/_app/chunks/preload-helper-dd87f241.js
  docs/_app/chunks/preload-helper-ec9aa979.js
  docs/_app/pages/components/[group]/[package]/[component]/index.svelte-6eb3a79f.js
  docs/_app/start-8da61cef.js
  docs/_app/start-f5898c63.js
  docs/helpers/index.html
  docs/index.html
Due: eslint --fix, prettier --write

:green_heart: adding ui kit root to base bath
  .github/workflows/docs.yml
Due: none

deploy: bc089da2cbe121f8b7eb6a6eca7fda2fe30c1b46
  docs/_app/assets/pages/__layout.svelte-9a476219.css
  docs/_app/assets/pages/__layout.svelte-b6dc62e2.css
  docs/_app/chunks/preload-helper-dd87f241.js
  docs/_app/chunks/preload-helper-e3a24f62.js
  docs/_app/pages/components/[group]/[package]/[component]/index.svelte-45a711b6.js
  docs/_app/start-8da61cef.js
  docs/_app/start-badbec27.js
  docs/helpers/index.html
  docs/index.html
Due: eslint --fix, prettier --write

:recycle: refactoring navs into components
  docs/src/lib/Nav.svelte
  docs/src/lib/Sidebar.svelte
  docs/src/routes/__layout.svelte
  docs/src/routes/components/[group]/__layout.svelte
Due: eslint --fix, prettier --write

:recycle: refactoring navs for base paths
  docs/src/lib/Nav.svelte
  docs/src/lib/Sidebar.svelte
Due: eslint --fix, prettier --write

:pencil: adding more examples
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
  examples/index.js
  examples/src/atoms/index.js
  examples/src/atoms/text-field/TextField_01.svelte
  examples/src/atoms/text-field/index.js
  examples/src/molecules/control/Control_01.svelte
  examples/src/molecules/control/index.js
  examples/src/molecules/index.js
  examples/src/organisms/index.js
  examples/src/organisms/wizard/Wizard_01.svelte
  examples/src/organisms/wizard/index.js
Due: eslint --fix, prettier --write

:construction_worker: updating docs action to run on paths
  .github/workflows/docs.yml
Due: none

:pencil2: fixing case typo
  examples/src/organisms/wizard/index.js
Due: eslint --fix, prettier --write
