Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.svelte": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"]
}

docs(footer): 📚️ created a test file and updated it
  packages/organisms/footer/Footer.test.js
Due: eslint --fix, prettier --write

docs(icon): 📚️ created a test file and updated it
  packages/atoms/icon/Icon.test.js
Due: eslint --fix, prettier --write

docs(list): 📚️ created a test file and updated it
  packages/atoms/list/List.test.js
Due: eslint --fix, prettier --write

docs(loading-indicator): 📚️ created a test file and updated it
  packages/atoms/loading-indicator/LoadingIndicator.test.js
Due: eslint --fix, prettier --write

docs(logo): 📚️ created a test file and updated it
  packages/atoms/logo/Logo.test.js
Due: eslint --fix, prettier --write

docs(radio): 📚️ created a test file and updated it
  packages/atoms/radio/Radio.test.js
Due: eslint --fix, prettier --write

docs(rich-text): 📚️ created a test file and updated it
  packages/atoms/rich-text/RichText.test.js
Due: eslint --fix, prettier --write

docs(switch): 📚️ created a test file and updated it
  packages/atoms/switch/Switch.test.js
Due: eslint --fix, prettier --write

docs(tabel): 📚️ created a test file and updated it
  packages/atoms/table/Tabel.test.js
Due: eslint --fix, prettier --write

docs(text-field): 📚️ created a test file and updated it
  packages/atoms/text-field/TextField.test.js
Due: eslint --fix, prettier --write

docs(alert): 📚️ created a test file and updated it
  packages/molecules/alert/Alert.test.js
Due: eslint --fix, prettier --write

docs(carousel): 📚️ created a test file and updated it
  packages/molecules/carousel/Carousel.test.js
Due: eslint --fix, prettier --write

docs(control): 📚️ created a test file and updated it
  packages/molecules/control/Control.test.js
Due: eslint --fix, prettier --write

docs(dialog): 📚️ created a test file and updated it
  packages/molecules/dialog/Dialog.test.js
Due: eslint --fix, prettier --write

docs(menu): 📚️ created a test file and updated it
  packages/molecules/menu/Menu.test.js
Due: eslint --fix, prettier --write

docs(cta): 📚️ created a test file and updated it
  packages/organisms/cta/Cta.test.js
Due: eslint --fix, prettier --write

docs(form): 📚️ created a test file and updated it
  packages/organisms/form/Form.test.js
Due: eslint --fix, prettier --write

docs(navbar): 📚️ created a test file and updated it
  packages/organisms/navbar/Navbar.test.js
Due: eslint --fix, prettier --write

chore(build): 🔧 📦️ regenerating scripts
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

docs(date-picker): 📚️ renamed the file in order to be able to push
  packages/atoms/date-picker/DatePicker.js
Due: eslint --fix, prettier --write

docs(carousel): 📚️ renamed the file in order to be able to push
  packages/molecules/carousel/Carousel.js
Due: eslint --fix, prettier --write

chore(packages): 🔧 head versions bumped
  .github/workflows/release.yml
  packages/atoms/button/package.json
  packages/atoms/card/package.json
  packages/atoms/checkbox/package.json
  packages/atoms/date-picker/package.json
  packages/atoms/icon/package.json
  packages/atoms/list/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/radio/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/switch/package.json
  packages/atoms/table/package.json
  packages/atoms/text-field/package.json
  packages/elements/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/carousel/package.json
  packages/molecules/control/package.json
  packages/molecules/dialog/package.json
  packages/molecules/menu/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/cta/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/navbar/package.json
  packages/styles/package.json
Due: prettier --write

chore(packages): 🔧 bumping git heads
  .npmrc
  packages/atoms/button/package.json
  packages/atoms/card/package.json
  packages/atoms/checkbox/package.json
  packages/atoms/date-picker/package.json
  packages/atoms/icon/package.json
  packages/atoms/list/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/radio/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/switch/package.json
  packages/atoms/table/package.json
  packages/atoms/text-field/package.json
  packages/elements/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/carousel/package.json
  packages/molecules/control/package.json
  packages/molecules/dialog/package.json
  packages/molecules/menu/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/cta/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/navbar/package.json
  packages/styles/package.json
Due: prettier --write

chore(npm): 🔧 added npmrc
  .npmrc
Due: none

chore(build): 🔧 📦️ simplified versioning and publishing process
  .github/workflows/release.yml
Due: none

chore(packages): 🔧 bumping git heads
  packages/atoms/button/package.json
  packages/atoms/card/package.json
  packages/atoms/checkbox/package.json
  packages/atoms/date-picker/package.json
  packages/atoms/icon/package.json
  packages/atoms/list/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/radio/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/switch/package.json
  packages/atoms/table/package.json
  packages/atoms/text-field/package.json
  packages/elements/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/carousel/package.json
  packages/molecules/control/package.json
  packages/molecules/dialog/package.json
  packages/molecules/menu/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/cta/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/navbar/package.json
  packages/styles/package.json
Due: prettier --write

docs(checkbox): 📚️ added labels
  packages/atoms/checkbox/Checkbox.stories.js
Due: eslint --fix, prettier --write

docs(checkbox): 📚️ created tests based on the checked status
  packages/atoms/checkbox/Checkbox.test.js
Due: eslint --fix, prettier --write

docs(checkbox): 📚️ added aria-checked and data-testid attr
  packages/atoms/checkbox/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

docs(date-picker): 📚️ renamed the file deleting test so it doesn't break
  packages/atoms/date-picker/DatePicker.js
Due: eslint --fix, prettier --write

docs(carousel): 📚️ renamed the file deleting test so it doesn't break
  packages/molecules/carousel/Carousel.js
Due: eslint --fix, prettier --write

docs(carousel): 📚️ updated the carousel import with a *
  packages/molecules/carousel/Carousel.svelte
Due: eslint --fix, prettier --write

docs(yarn): 📚️ added user event package
  yarn.lock
Due: none

chore(dependencies): 🔧 bumping dependency versions to latest
  packages/atoms/button/package.json
  packages/atoms/card/package.json
  packages/atoms/checkbox/package.json
  packages/atoms/date-picker/package.json
  packages/atoms/icon/package.json
  packages/atoms/list/package.json
  packages/atoms/loading-indicator/package.json
  packages/atoms/logo/package.json
  packages/atoms/radio/package.json
  packages/atoms/rich-text/package.json
  packages/atoms/switch/package.json
  packages/atoms/table/Table.stories.mdx
  packages/atoms/table/package.json
  packages/atoms/text-field/package.json
  packages/elements/package.json
  packages/helpers/package.json
  packages/molecules/alert/package.json
  packages/molecules/carousel/package.json
  packages/molecules/control/package.json
  packages/molecules/dialog/package.json
  packages/molecules/menu/package.json
  packages/organisms/cookie-banner/package.json
  packages/organisms/cta/package.json
  packages/organisms/footer/package.json
  packages/organisms/form/package.json
  packages/organisms/navbar/package.json
  packages/organisms/navbar/styles.css
  yarn.lock
Due: prettier --write

refactor(cookie-banner): ♻️ refactored story to display banner
  package-lock.json
  packages/organisms/cookie-banner/CookieBanner.stories.js
Due: eslint --fix, prettier --write

chore(release): 🚀 bumping version number
  lerna.json
Due: prettier --write

docs(card): 📚️ added more Card examples to Storybook
  packages/atoms/card/Card.stories.js
  packages/atoms/card/storybook-views/Default.svelte
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write
