Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): publish
  packages/organisms/cta/CHANGELOG.md
  packages/organisms/cta/package.json
  packages/organisms/navbar/CHANGELOG.md
  packages/organisms/navbar/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: prettier --write

fix(styling): 🐛 updated Table component styles
  packages/atoms/table/styles.css
Due: none

chore(release): publish
  packages/atoms/table/CHANGELOG.md
  packages/atoms/table/package.json
Due: prettier --write

fix(styling): 🐛 adjusted styling for Card
  packages/atoms/card/Card.stories.js
  packages/atoms/card/Card.svelte
  packages/atoms/card/styles.css
Due: eslint --fix, prettier --write

fix(styling): 🐛 updated the Logo and Loading indicator styles
  packages/atoms/loading-indicator/LoadingIndicator.svelte
  packages/atoms/loading-indicator/styles.css
  packages/atoms/logo/Logo.svelte
  packages/atoms/logo/styles.css
  packages/helpers/variants.js
Due: eslint --fix, prettier --write

fix(styling): 🐛 cleaned up Button styling
  packages/atoms/button/styles.css
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

fix(styling): 🐛 resored the overlay backgroun when Dialog is open
  packages/helpers/views/Scrim.svelte
Due: eslint --fix, prettier --write

fix(styling): 🐛 added new Table variants for highlighted thead
  packages/atoms/table/Table.svelte
  packages/atoms/table/storybook-views/Default.svelte
  packages/atoms/table/styles.css
  packages/helpers/variants.js
Due: eslint --fix, prettier --write

docs(figma): 📚️ integrated Figma design panel into stories (Button only for now)
  .storybook/main.js
  package.json
  packages/atoms/button/Button.stories.js
  yarn.lock
Due: eslint --fix, prettier --write

fix(card): 🐛 increased small variant padding
  packages/atoms/card/styles.css
Due: none

feat(card): ✨ added background colour for white and black variants
  packages/atoms/card/Card.stories.js
  packages/atoms/card/storybook-views/Actions.svelte
  packages/atoms/card/styles.css
Due: eslint --fix, prettier --write

chore(release): publish
  packages/atoms/card/CHANGELOG.md
  packages/atoms/card/package.json
  packages/molecules/alert/CHANGELOG.md
  packages/molecules/alert/package.json
  packages/molecules/dialog/CHANGELOG.md
  packages/molecules/dialog/package.json
Due: prettier --write

fix(card): 🐛 fixed issue causing nested cards to inherit parent styles for title
  packages/atoms/card/styles.css
Due: none

fix(navbar): 🐛 fixed issue where navbar is always expanded in mobile
  packages/organisms/navbar/Navbar.svelte
  packages/organisms/navbar/styles.css
Due: eslint --fix, prettier --write

chore(release): publish
  packages/atoms/card/CHANGELOG.md
  packages/atoms/card/package.json
  packages/molecules/alert/CHANGELOG.md
  packages/molecules/alert/package.json
  packages/molecules/dialog/CHANGELOG.md
  packages/molecules/dialog/package.json
  packages/organisms/navbar/CHANGELOG.md
  packages/organisms/navbar/package.json
Due: prettier --write

fix(navbar): 🐛 fixed the transitions when hovering elements in the navbar
  packages/organisms/navbar/styles.css
Due: none

fix(purgecss): 🐛 added purge config to rollup plugin
  packages/styles/dusk.tailwind.config.js
  packages/styles/postcss.config.js
  packages/styles/rollup-plugin-duk.js
  packages/styles/snowpack.config.js
  packages/styles/tailwind.pcss
Due: eslint --fix, prettier --write

fix(logo): 🐛 restored href attrib for linking the logo
  .storybook/webpack.config.js.old
  packages/atoms/logo/Logo.svelte
Due: eslint --fix, prettier --write

chore(release): publish
  packages/atoms/card/CHANGELOG.md
  packages/atoms/card/package.json
  packages/atoms/logo/CHANGELOG.md
  packages/atoms/logo/package.json
  packages/molecules/alert/CHANGELOG.md
  packages/molecules/alert/package.json
  packages/molecules/dialog/CHANGELOG.md
  packages/molecules/dialog/package.json
  packages/organisms/navbar/CHANGELOG.md
  packages/organisms/navbar/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: prettier --write

feat(icon): ✨ added a notebook icon
  packages/atoms/icon/Icon.svelte
  packages/atoms/icon/icons/NotebookOutline.svelte
  packages/atoms/icon/storybook-views/Collection.svelte
  packages/helpers/icons.js
Due: eslint --fix, prettier --write

feat(navbar): ✨ removed slot-first approach allowing for simple api with parameter
  packages/organisms/navbar/Navbar.svelte
  packages/organisms/navbar/menu/AppsMenu.svelte
  packages/organisms/navbar/menu/LinksMenu.svelte
  packages/organisms/navbar/styles.css
Due: eslint --fix, prettier --write

fix(navbar): 🐛 hide icon unless one is provided
  packages/organisms/navbar/menu/LinksMenu.svelte
Due: eslint --fix, prettier --write

feat(styles): ✨ added container configuration and applied margins to nav and footer
  packages/organisms/footer/styles.css
  packages/organisms/navbar/styles.css
  packages/styles/dusk.tailwind.config.js
  packages/styles/tailwind.css
Due: eslint --fix, prettier --write

feat(navbar): ✨ added detection of external links in the navbar links menu
  packages/atoms/list/Item.svelte
  packages/organisms/navbar/menu/LinksMenu.svelte
  packages/organisms/navbar/storybook-views/Default.svelte
  packages/styles/dusk.tailwind.config.js
Due: eslint --fix, prettier --write

chore(dependabot): 🔧 adding automated prs for package updates
  .github/dependabot.yml
Due: none

feat(rich-text): added markdown processing atom
  packages/atoms/rich-text/RichText.stories.js
  packages/atoms/rich-text/RichText.svelte
  packages/atoms/rich-text/index.js
  packages/atoms/rich-text/package.json
  packages/atoms/rich-text/readme.stories.md
  packages/atoms/rich-text/storybook-views/Default.svelte
  packages/atoms/rich-text/styles.css
Due: eslint --fix, prettier --write

refactor(styles): removed temp styles for markdown
  packages/styles/tailwind.css
  yarn.lock
Due: none

chore(release): publish
  packages/atoms/rich-text/CHANGELOG.md
  packages/atoms/rich-text/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: prettier --write

feat(carousel): added minimal carousel component
  packages/molecules/carousel/Carousel.stories.js
  packages/molecules/carousel/Carousel.svelte
  packages/molecules/carousel/Item.svelte
  packages/molecules/carousel/index.js
  packages/molecules/carousel/package.json
  packages/molecules/carousel/readme.stories.md
  packages/molecules/carousel/storybook-views/Default.svelte
  packages/molecules/carousel/styles.css
Due: eslint --fix, prettier --write

chore(release): publish
  packages/atoms/rich-text/CHANGELOG.md
  packages/atoms/rich-text/package.json
  packages/molecules/carousel/CHANGELOG.md
  packages/molecules/carousel/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: prettier --write

fix(carousel): properly paramerterized carousel and added sb knobs
  packages/molecules/carousel/Carousel.stories.js
  packages/molecules/carousel/Carousel.svelte
  packages/molecules/carousel/storybook-views/Default.svelte
Due: eslint --fix, prettier --write

chore(release): publish
  packages/molecules/carousel/CHANGELOG.md
  packages/molecules/carousel/package.json
Due: prettier --write

feat(icons): added bank transfer and credit card icons
  packages/atoms/icon/Icon.svelte
  packages/atoms/icon/icons/BankTransfer.svelte
  packages/atoms/icon/icons/CreditCard.svelte
  packages/atoms/icon/storybook-views/Collection.svelte
  packages/helpers/icons.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
