Repository jeffyzxc/dusk-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:green_heart: apply base as env options
  .github/workflows/docs.yml
Due: none

:ambulance: making redirects depend on path
  docs/src/routes/components/[group]/[package]/index.svelte
  docs/src/routes/components/[group]/index.svelte
  storybook/.storybook/main.js
  storybook/stories/atoms/drop-down/DropDown.stories.mdx
Due: eslint --fix, prettier --write

deploy: b1c281c295f7f69c46e2565c5874fdebc9940ee0
  docs/_app/pages/components/[group]/[package]/index.svelte-2628e68e.js
  docs/_app/pages/components/[group]/[package]/index.svelte-59fec434.js
  docs/_app/pages/components/[group]/index.svelte-0b9881c6.js
  docs/_app/pages/components/[group]/index.svelte-a6ce243e.js
  docs/_app/start-2d60ddd6.js
  docs/_app/start-659c7bbf.js
  docs/helpers/index.html
  docs/index.html
Due: eslint --fix, prettier --write

:green_heart: correcting redirects for ci build
  docs/src/routes/components/[group]/[package]/index.svelte
  docs/src/routes/components/[group]/index.svelte
  storybook/.storybook/main.js
Due: eslint --fix, prettier --write

deploy: 2a5d91cb330a44ad5a54941a5abd78ae53f7bf49
  docs/_app/pages/components/[group]/[package]/index.svelte-59fec434.js
  docs/_app/pages/components/[group]/[package]/index.svelte-e5f10300.js
  docs/_app/pages/components/[group]/index.svelte-a6ce243e.js
  docs/_app/pages/components/[group]/index.svelte-d55fb389.js
  docs/_app/start-659c7bbf.js
  docs/_app/start-78afc063.js
  docs/components/atoms/index.html
  docs/components/molecules/index.html
  docs/components/organisms/index.html
  docs/helpers/index.html
  docs/index.html
Due: eslint --fix, prettier --write

:bug: updating redirects
  docs/src/routes/components/[group]/[package]/index.svelte
  docs/src/routes/components/[group]/index.svelte
Due: eslint --fix, prettier --write

deploy: 740cf61286b014cbf4ceb77024af187a65391661
  docs/_app/pages/components/[group]/[package]/index.svelte-e5f10300.js
  docs/_app/pages/components/[group]/[package]/index.svelte-f160cb8a.js
  docs/_app/pages/components/[group]/index.svelte-7da67ee8.js
  docs/_app/pages/components/[group]/index.svelte-d55fb389.js
  docs/_app/start-78afc063.js
  docs/_app/start-e8af6d60.js
  docs/components/atoms/index.html
  docs/components/molecules/index.html
  docs/components/organisms/index.html
  docs/helpers/index.html
  docs/index.html
Due: eslint --fix, prettier --write

:white_check_mark: adding coverage config
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/App.svelte.poop
Due: prettier --write

deploy: 2906fb4adf19f12e516f01c834cc75585261d31c
  docs/_app/assets/pages/__layout.svelte-3811a61f.css
  docs/_app/assets/pages/__layout.svelte-a739fb15.css
  docs/_app/chunks/@ui-kit-example-424545b6.js
  docs/_app/chunks/Button-2391bb10.js
  docs/_app/chunks/Button-7d38826a.js
  docs/_app/chunks/Content-10f10068.js
  docs/_app/chunks/Content-ac6d45d5.js
  docs/_app/chunks/Item-473c2272.js
  docs/_app/chunks/Item-e1713817.js
  docs/_app/chunks/Sidebar-91e307a8.js
  docs/_app/chunks/index-2b75748d.js
  docs/_app/chunks/index-60fa14a3.js
  docs/_app/chunks/states-8551d3ff.js
  docs/_app/chunks/types-b021224a.js
  docs/_app/chunks/widths-978a9e0d.js
  docs/_app/pages/__layout.svelte-4ba6bf9f.js
  docs/_app/pages/__layout.svelte-f04162b3.js
  docs/_app/pages/components/[group]/[package]/[component]/index.svelte-5c0c32e2.js
  docs/_app/pages/components/[group]/[package]/[component]/index.svelte-ae14fdad.js
  docs/_app/pages/components/[group]/__layout.svelte-281a50a8.js
  docs/_app/pages/components/[group]/__layout.svelte-7b774f8e.js
  docs/_app/pages/helpers/[helper]/index.svelte-8475af6c.js
  docs/_app/pages/helpers/__layout.svelte-696885a0.js
  docs/_app/pages/helpers/index.svelte-1b94de65.js
  docs/_app/pages/helpers/index.svelte-df978696.js
  docs/_app/start-de171e21.js
  docs/_app/start-e8af6d60.js
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
Due: eslint --fix, prettier --write

:bug: creating a bubble for components to render
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
Due: eslint --fix, prettier --write

:lipstick: adding menu style updates
  docs/src/lib/Sidebar.svelte
  packages/atoms/icon/icons/FileEyeOutline.svelte
  packages/atoms/icon/icons/FileOutline.svelte
  packages/atoms/icon/icons/index.js
  packages/helpers/icons.js
  packages/molecules/menu/styles.css
Due: eslint --fix, prettier --write

:pencil: adding highlight.js
  docs/package.json
  docs/src/routes/__layout.svelte
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
  docs/src/routes/helpers/[helper]/index.svelte
  docs/svelte.config.js
Due: eslint --fix, prettier --write

:pencil: updating path to examples
  docs/src/lib/Nav.svelte
  packages/atoms/drop-down/README.md
  packages/atoms/icon/README.md
  packages/atoms/loading-indicator/README.md
  packages/atoms/logo/README.md
  packages/atoms/progress-bar/README.md
  packages/atoms/rich-text/README.md
  packages/atoms/text-field/README.md
  packages/atoms/toggle/README.md
  packages/molecules/alert/README.md
  packages/molecules/breadcrumb/README.md
  packages/molecules/button/README.md
  packages/molecules/control/README.md
  packages/molecules/cta-list/README.md
  packages/molecules/disclaimer-list/README.md
  packages/molecules/file-upload/README.md
  packages/molecules/heading/README.md
  packages/molecules/menu/README.md
  packages/molecules/mnemonic/README.md
  packages/molecules/pagination/README.md
  packages/molecules/password-strength/README.md
  packages/organisms/accordion/README.md
  packages/organisms/card/README.md
  packages/organisms/cookie-banner/README.md
  packages/organisms/footer/README.md
  packages/organisms/form/README.md
  packages/organisms/hero/README.md
  packages/organisms/navbar/README.md
  packages/organisms/search-list/README.md
  packages/organisms/table/README.md
  packages/organisms/wizard/README.md
Due: eslint --fix, prettier --write

deploy: 7104b7a102b94a521d924f72e0c4997997a4ab45
  docs/_app/pages/__layout.svelte-f3aa9d29.js
  docs/_app/start-4c2f77d7.js
  docs/_app/start-d5a71dfb.js
  docs/helpers/contexts/index.html
  docs/helpers/icons/index.html
  docs/helpers/index.html
  docs/helpers/orientations/index.html
  docs/helpers/sizes/index.html
  docs/helpers/states/index.html
  docs/helpers/types/index.html
  docs/helpers/variants/index.html
  docs/helpers/widths/index.html
  docs/index.html
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/atoms/drop-down/README.md
  packages/atoms/loading-indicator/README.md
  packages/atoms/text-field/README.md
  packages/molecules/button/README.md
  packages/molecules/control/README.md
  packages/organisms/wizard/README.md
Due: none

:art: cleaning up old code
  docs/svelte.config.js
Due: eslint --fix, prettier --write

:bug: fixing integration problem with boilerplate
  packages/organisms/navbar/package.json
  packages/styles/package.json
Due: prettier --write

:bulb: adding minimal docs examples for all Atom components
  examples/src/atoms/icon/Icon_01.svelte
  examples/src/atoms/icon/index.js
  examples/src/atoms/index.js
  examples/src/atoms/logo/Logo_01.svelte
  examples/src/atoms/logo/index.js
  examples/src/atoms/progress-bar/ProgressBar_01.svelte
  examples/src/atoms/progress-bar/index.js
  examples/src/atoms/rich-text/RichText_01.svelte
  examples/src/atoms/rich-text/index.js
  examples/src/atoms/toggle/Toggle_01.svelte
  examples/src/atoms/toggle/index.js
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/atoms/icon/README.md
  packages/atoms/logo/README.md
  packages/atoms/progress-bar/README.md
  packages/atoms/rich-text/README.md
  packages/atoms/toggle/README.md
Due: none

:bulb: adding minimal docs examples for all Molecule componentes
  examples/src/molecules/alert/Alert_01.svelte
  examples/src/molecules/alert/index.js
  examples/src/molecules/breadcrumb/Breadcrumb_01.svelte
  examples/src/molecules/breadcrumb/index.js
  examples/src/molecules/cta-list/CtaList_01.svelte
  examples/src/molecules/cta-list/index.js
  examples/src/molecules/disclaimer-list/DisclaimerList_01.svelte
  examples/src/molecules/disclaimer-list/index.js
  examples/src/molecules/file-upload/FileUpload_01.svelte
  examples/src/molecules/file-upload/index.js
  examples/src/molecules/heading/Heading_01.svelte
  examples/src/molecules/heading/index.js
  examples/src/molecules/index.js
  examples/src/molecules/menu/Menu_01.svelte
  examples/src/molecules/menu/index.js
  examples/src/molecules/mnemonic/Mnemonic_01.svelte
  examples/src/molecules/mnemonic/index.js
  examples/src/molecules/pagination/Pagination_01.svelte
  examples/src/molecules/pagination/data.js
  examples/src/molecules/pagination/index.js
  examples/src/molecules/password-strength/PasswordStrength_01.svelte
  examples/src/molecules/password-strength/index.js
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/molecules/alert/README.md
  packages/molecules/breadcrumb/README.md
  packages/molecules/cta-list/README.md
  packages/molecules/disclaimer-list/README.md
  packages/molecules/file-upload/README.md
  packages/molecules/heading/README.md
  packages/molecules/menu/README.md
  packages/molecules/mnemonic/README.md
  packages/molecules/pagination/README.md
  packages/molecules/password-strength/README.md
Due: none

:bulb: adding minimal docs examples for all Organism componentes
  examples/src/organisms/accordion/Accordion_01.svelte
  examples/src/organisms/accordion/index.js
  examples/src/organisms/footer/Footer_01.svelte
  examples/src/organisms/footer/index.js
  examples/src/organisms/form/Form_01.svelte
  examples/src/organisms/form/index.js
  examples/src/organisms/hero/Hero_01.svelte
  examples/src/organisms/hero/index.js
  examples/src/organisms/index.js
  examples/src/organisms/navbar/Navbar_01.svelte
  examples/src/organisms/navbar/index.js
  examples/src/organisms/search-list/SearchList_01.svelte
  examples/src/organisms/search-list/data.js
  examples/src/organisms/search-list/index.js
  examples/src/organisms/table/Table_01.svelte
  examples/src/organisms/table/data.js
  examples/src/organisms/table/index.js
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/organisms/accordion/README.md
  packages/organisms/footer/README.md
  packages/organisms/form/README.md
  packages/organisms/hero/README.md
  packages/organisms/navbar/README.md
  packages/organisms/search-list/README.md
  packages/organisms/table/README.md
Due: none

:construction: working on markdown integration
  packages/styles/tailwind.css
  storybook/.storybook/main.js
  storybook/package.json
  storybook/stories/atoms/drop-down/DropDown.stories.mdx
  storybook/stories/introduction.stories.mdx
  storybook/stories/space.stories.mdx
Due: eslint --fix, prettier --write

:construction: adding second example
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
  examples/src/molecules/button/Button_02.svelte
  examples/src/molecules/button/index.js
Due: eslint --fix, prettier --write

:bug: fix ancestor selector Postcss warning
  packages/atoms/toggle/styles.css
Due: none

:bug: enabling multiple examples
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
Due: eslint --fix, prettier --write

:lipstick: updating docs styling / presentation
  docs/src/routes/__layout.svelte
  docs/src/routes/components/[group]/[package]/[component]/index.svelte
  docs/src/routes/styles.css
Due: eslint --fix, prettier --write

:bulb: Adding more UI Kit atom component examples to the docs
  examples/src/atoms/drop-down/DropDown_02.svelte
  examples/src/atoms/drop-down/DropDown_03.svelte
  examples/src/atoms/drop-down/index.js
  examples/src/atoms/icon/Icon_02.svelte
  examples/src/atoms/icon/index.js
  examples/src/atoms/text-field/TextField_02.svelte
  examples/src/atoms/text-field/index.js
  examples/src/atoms/toggle/Toggle_02.svelte
  examples/src/atoms/toggle/Toggle_03.svelte
  examples/src/atoms/toggle/Toggle_04.svelte
  examples/src/atoms/toggle/index.js
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/atoms/drop-down/README.md
Due: none

:bulb: Adding more UI Kit molecule component examples to the docs
  examples/src/molecules/alert/Alert_02.svelte
  examples/src/molecules/alert/index.js
  examples/src/molecules/button/Button_03.svelte
  examples/src/molecules/button/Button_04.svelte
  examples/src/molecules/button/Button_05.svelte
  examples/src/molecules/button/Button_06.svelte
  examples/src/molecules/button/Button_07.svelte
  examples/src/molecules/button/index.js
  examples/src/molecules/control/Control_02.svelte
  examples/src/molecules/control/Control_03.svelte
  examples/src/molecules/control/Control_04.svelte
  examples/src/molecules/control/Control_05.svelte
  examples/src/molecules/control/Control_06.svelte
  examples/src/molecules/control/index.js
  examples/src/molecules/heading/Heading_02.svelte
  examples/src/molecules/heading/Heading_03.svelte
  examples/src/molecules/heading/index.js
  examples/src/molecules/menu/Menu_02.svelte
  examples/src/molecules/menu/index.js
  examples/src/molecules/mnemonic/Mnemonic_02.svelte
  examples/src/molecules/mnemonic/Mnemonic_03.svelte
  examples/src/molecules/mnemonic/index.js
Due: eslint --fix, prettier --write

🤖 (auto-commit) updating README files
  packages/molecules/mnemonic/README.md
Due: none

:bulb: Adding more UI Kit organism component examples to the docs
  examples/src/organisms/accordion/Accordion_02.svelte
  examples/src/organisms/accordion/index.js
  examples/src/organisms/card/Card_02.svelte
  examples/src/organisms/card/index.js
  examples/src/organisms/footer/Footer_02.svelte
  examples/src/organisms/footer/index.js
  examples/src/organisms/search-list/SearchList_02.svelte
  examples/src/organisms/search-list/index.js
Due: eslint --fix, prettier --write

:bug: UI Kit Mnemonic state not changing fix
  packages/molecules/mnemonic/Mnemonic.svelte
Due: eslint --fix, prettier --write

:fire: Removing extra UI Kit Mnemonic examples from docs
  examples/src/molecules/mnemonic/Mnemonic_01.svelte
  examples/src/molecules/mnemonic/Mnemonic_02.svelte
  examples/src/molecules/mnemonic/Mnemonic_03.svelte
  examples/src/molecules/mnemonic/index.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.svelte)
  prettier --write: ((any of: *.js) or (any of: *.svelte)) or (any of: *.json)
